{% extends 'base_modal_stimulus.html.twig' %}
{% set title = (indemnity is defined) ? 'Ajouter' : 'Modifier' %}
{% block modal_title %}{{ title }}{% endblock %}
{% block body %}
    <div class="form-group-medium-width">
        <h3>
            {{ level.title }} pour les randos {{ bikeRideType.name }}
        </h3>
        {{ form_row(form.amount) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="btn text-primary bg-neutral-200"
    >
        <i class="fas fa-check"></i> {{ title }}
    </button>
{% endblock %}
