{% extends 'base.html.twig' %}

{% block title %}Gestion des indemnités{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>Indemnités</h1>
        </div>
        <div class="wrapper-body">
            <ul class="padding-10">
                <li>
                    <div class="row row-list">
                        <div class="col-md-6 col-xs-6"></div>
                        {% for bike_ride_type in indemnities.header %}
                            <div class="col-md-3 col-xs-3">{{ bike_ride_type.name }} </div>
                        {% endfor %}
                    </div>
                </li>
                {% for levelId, level in indemnities.values %}
                    <li class="row row-list light-separator padding-vertical-10">
                        <div class="col-md-6 col-xs-6">
                            <b>{{ level.name }}</b>
                        </div>
                        {% for bikeRideTypeId, bikeRideType in level.bikeRideTypes %}
                            <div class="col-md-3 col-xs-3">
                                {% if bikeRideType.indemnity is not null %}
                                    <a class="btn btn-light btn-pencil" href="{{ path('admin_indemnity_edit', {'indemnity' : bikeRideType.indemnity.id}) }}" 
                                        title="Modifier" data-toggle="modal" data-type="primary">
                                        {{ bikeRideType.indemnity.amount }}
                                    </a>
                                {% else %}
                                    <a class="btn btn-light btn-ico" href="{{ path('admin_indemnity_add', {'level': levelId, 'bikeRideType': bikeRideTypeId}) }}" 
                                        title="Ajouter" data-toggle="modal" data-type="primary"><i class="fas fa-plus"></i>
                                    </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </li>
                {% endfor %}
            <ul>
        </div>
    </div>
{% endblock %}