{% extends 'base.html.twig' %}

{% set title = (content is null) ? 'Ajouter un contenu' : 'Modifier un contenu' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper">
    {{ form_start(form) }}
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
            <span class="tool-group">
                {% include 'component/dropdown_settings.html.twig' %}
                {% if content.route == 'home' %}
                    <a href="{{ path('admin_home_contents', {'route': content.route, 'kind': content.kind}) }}" class="btn btn-ico" title="Retour à la gestion de la page d'accueil"><i class="fas fa-chevron-left"></i></a>
                {% else %}
                    <a href="{{ path('admin_contents', {'route': content.route}) }}" class="btn btn-ico" title="Retour à la liste des contenus"><i class="fas fa-chevron-left"></i></a>
                {% endif %}
            </span>
        </div> 
        <div id="content_container" class="wrapper-body">
            <h2>{{ content.routeName|trans|capitalize }}</h2>
            {% if form.title is defined %}
                <div class="form-group">
                    {{ form_row(form.title) }}
                </div>
            {% endif %}
            <div class="form-group">
                {% if form.content is defined %}
                    {{ form_row(form.content) }}
                {% endif %}
            </div>
            {% if form.file is defined %}
                <div class="form-group form-group-file">
                    {{ form_row(form.file) }}
                    <div class="form-group-inline group-picture">
                        <img class="user-picture" src="{{ content.fileName }}" alt="{{ content.fileName }}">
                        {% if content.fileName is not null %}
                            <a class="btn-danger" href="{{ path('admin_content_file_delete', {'content': content.id})}}" title="Supprimer"><i class="fa-solid fa-circle-xmark"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            {% if form.buttonLabel is defined %}
                <div class="form-group">
                    {{ form_row(form.buttonLabel) }}
                    {{ form_row(form.url) }}
                </div>
            {% endif %}
            {% if form.startAt is defined and form.endAt is defined and form.kind is defined %}
                <div class="form-group">
                    {{ form_row(form.startAt) }}
                    {{ form_row(form.endAt) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.kind) }}
                </div>
            {% endif %}
            {{ form_row(form.route) }}
            {% if content.route != 'home' and form.kind is defined %}
                <div class="form-group">
                    {{ form_row(form.kind) }}
                </div>
                {% if form.youtubeEmbed is defined %}
                    {{ form_row(form.youtubeEmbed) }}
                {% endif %}
            {% endif %}
            {% if form.backgrounds is defined %}
                <div class="form-group">
                    {{ form_row(form.backgrounds) }}
                </div>
            {% endif %}
        </div>
        <div class="wrapper-footer">
            {{ form_widget(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
