{% extends 'base.html.twig' %}
{% set title = 'Gestion des contenus' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
{% set class_ul ='' %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
        </div>
        <div class="wrapper-body">
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %} 
            <ul class="{{ class_ul }}" data-route="admin_content_order" data-parameter="content">
                {% for content in contents %}     
                    <li class="ui-state-default col-list {% if current_route == 'home' %}col-list-2btn{% else %}col-list-1btn{% endif %}" data-id="{{ content.id }}">
                        {% set title = content.title %}
                        {% if content.title is null %}
                            {% set title = constant('App\\Entity\\Content::ROUTES')[content.route] | trans %}
                        {% endif %}
                        <div class="list-item">{{ title }}</div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div>
                                {% set route = content.getRoute == 'home' ? 'admin_home_content_edit' : 'admin_content_edit' %}
                                <a class="btn btn-primary btn-ico" href="{{ path(route, {'content': content.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                            <div>
                                {% if current_route == 'home' %}
                                    <a class="btn btn-danger btn-ico modal-trigger" href="{{ path('admin_content_delete', {'content': content.id})}}" title="Supprimer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                                {% endif %}
                                </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %} 
        </div>
    </div>
{% endblock %}
