{% block checkgroup_row %}
    <div class="form-group {% if form.vars.row_attr.class is defined %}{{ form.vars.row_attr.class }}{% endif %}">   
        {% if form.vars.label is not null %}
            <p><b>{{ form.vars.label }}</b> *</p>
        {% endif %}
        {% for child in form %}
            <div class="inputGroup {{ child.vars.value ?'ballot' : 'check' }}">
                {{ form_widget(child) }}
                {{ form_label(child, null) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}