{% block customcheck_widget %}
    <div class="form-group">
        {% if form.parent.vars.name == 'approvals' %}
            {% set children = form.value.children %}
            {{ form_widget(form.type) }}
        {% elseif form.vars.name in ['coverage', 'type'] %}
            {% set children = form.children  %}
        {% elseif form.vars.name in ['cluster', 'practice'] %}
            {% set children = form %}
        {% endif %}    
        {% if form.vars.label is not null %}
            <p><b>{{ form.vars.label }}</b> *</p>
        {% endif %}
        {% for  child in children %}
            <div class="inputGroup {{ child.vars.value ?'ballot' : 'check' }}">
                {{ form_widget(child) }}
                {{ form_label(child, null) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}