{% block switch_row %}
    <div class="form-group switch-group ">
        <label class="switch">
            {{ form_widget(form) }}
            <span class="slider round{% if form.vars.disabled %} disabled{% endif %}"></span>
        </label>
        <b>
            {% if form.vars.attr['data-switch-on'] is defined and form.vars.attr['data-switch-off']is defined %}
                <label for="{{ form.vars.id }}" {% if form.vars.disabled %}class="disabled"{% endif %}>
                {% if form.vars.checked %} {{form.vars.attr['data-switch-on'] }} {% else %} {{form.vars.attr['data-switch-off'] }} {% endif %}
                </label>
            {% else %}
                {{ form_label(form) }}
            {% endif %}
        </b>
    </div>
{% endblock %}