{% extends 'base.html.twig' %}

{% block title %}{{parent()}} {{ chapter.title }}{% endblock %}

{% block body_title %}{{ chapter.title }}{% endblock %}

{% block body %}
    {% include('common/menu.html.twig') %}
    <main id="container" class="articles">
        <div>
            {% if chapter.articles is not empty %}
                {% for article in chapter.articles %}
                    <div  class="article-container" id="{{ article.id }}">

                        <h2>{{article.title}}</h2>
                        <span class="btn btn-remove">
                            <a href="{{path('article_delete',{'article':article.id}) }}">
                                <i class="fas fa-minus-square"></i>
                            </a>
                        </span>
                        <span class="btn btn-edit">
                            <a href="{{path('article_set',{'article':article.id}) }}">
                                <i class="far fa-edit"></i>
                            </a>
                        </span>
                        <div class="clear-fix"></div>
                        <div class="article">{{ article.content|raw }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="smiley">&#128542;</div>
                <p>Aucun article</p>
            {% endif %}
            </div>
        </div>
    </main>



{% endblock %}
