{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Sondage</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-ligth">
                <div class="block-title bike-ride-date active">
                    <h2>
                        {{ survey.title }}
                    </h2>
                </div>
            {% if message is not null %}
            <div class="block-body">
                <p class={{ message.class }}>{{ message.content }}</p>
                <div class="block-footer">
                    <a href="{{ path('home') }}" class="btn btn-primary float-right">Retour à l'accueil</a>
                </div>
            </div>
            {% else %}
                {{ form_start(form) }}
                    <div class="block-body">
                        {{ survey.content|raw }}
                        <div class="form-group row">
                            {% for response in form.surveyResponses %}
                                <div class="col-md-6 col-xs-12">{{ response.vars.value.surveyIssue.content }}</div>
                                <div class="col-md-6 col-xs-12">{{ form_widget(response)}}</div>
                            {% endfor %}

                        </div>
                        {{ form_errors(form)}}

                    </div>
                    <div class="block-footer">
                        {{ form_row(form.submit)}}
                    </div>
                {{ form_end(form) }}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
