{% extends 'base.html.twig' %}

{% block title %}Gestion des niveaux{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Votes assemblée générale</h2>
                <span class="tools">
                    <a href="{{ path('admin_vote_edit') }}" class="btn btn-secondary btn-ico" title="Ajouter un vote"><i class="fas fa-plus"></i></a>
                </span>
            </div>
            <div class="block-body">
                <ul class="padding-10">
                    {% for vote in votes %}     
                        <li>
                            <div>
                                <div class="row row-list">
                                    <div class="col-md-9 col-xs-8 background-ligth">{{ vote.title }}</div>
                                    <div class="col-md-3 col-xs-4">
                                        <a class="btn btn-success btn-ico" href="{{ path('admin_vote_export', {'vote': vote.id})}}" title="Exporter"><i class="fas fa-file-download"></i></a>
                                    {% if not vote.isDisabled %}
                                        <a class="btn btn-primary btn-ico" href="{{ path('admin_vote_edit', {'vote': vote.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="btn btn-danger btn-ico modal-trigger" href="{{ path('admin_vote_disable', {'vote': vote.id})}}" title="Cloturer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {# {% include('common/pagination.html.twig') %} #}
    </div>
{% endblock %}
