{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
 <div class="wrapper">
    <div class="block">
        <div class="block-title">
            <h2>{{ event.title }}</h2>
            <span class="tools">
                <a href="{{ path('admin_events', events_filters) }}" class="btn btn-secondary btn-ico" title="Retour à la liste des sorties"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div class="block-body">
            {% for cluster in event.clusters %}
                {% set hasGroups = event.clusters| length > 1 %}
                {% if hasGroups %}
                    <h3>{{ cluster.title }}</h3>
                {% endif %} 
                {% if cluster.sessions | length > 0 %}
                <ul>
                    {% for session in cluster.sessionAvailable %}   
                        {% set user = user_service.converttoUser(session.user)%}             
                        <li class="li-long">
                            <div class="row row-list">
                                <div class="col-md-9 col-xs-8">
                                    {% set btn_color = '' %}
                                    {% if event.type == constant('App\\Entity\\Event::TYPE_SCHOOL') and session.availability is null and session.user.level is not null %}
                                        {% set btn_color = ' style = background-color:' ~ session.user.level.color ~ ';' %}
                                    {% endif %}
                                    <a href="{{ path('admin_user', {'user': session.user.id}) }}" class="btn btn-list btn-light"{{ btn_color }} title="Informatons sur l'adhérent">
                                        <div class="row">
                                            <div class="col-md-5 col-xs-12">
                                                {{ user.member.fullName }}
                                            </div>
                                            
                                            {% if session.availability is not empty %}
                                            <div class="col-md-3 col-xs-12">
                                                <span class="{{ session.availabilityToView.class }}">{{ session.availabilityToView.text|trans }}</span>
                                            </div>
                                            {% endif %}
                                            
                                            <div class="col-md-4 col-xs-12">
                                            {% if user.level is not null %}
                                                {{ user.level|trans }}
                                            {% endif %}
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    {% if event.type == constant('App\\Entity\\Event::TYPE_SCHOOL') %}
                                        {% if not session.isPresent %}
                                            <a href="{{ path('admin_session_present', {'session': session.id}) }}" class="btn btn-light btn-ico" title="Absent"><i class="fas fa-times"></i></a>
                                        {% else %}
                                            <a href="{{ path('admin_session_present', {'session': session.id}) }}" class="btn btn-success btn-ico" title="Présent"><i class="fas fa-check-circle"></i></a>
                                        {% endif %}
                                    {% endif %}
                                    {% if hasGroups and (user.isMember or session.availability == constant('App\\entity\\Session::AVAILABILITY_REGISTERED') ) %}
                                        <a href="{{ path('admin_event_switch_cluster', {'session': session.id}) }}" class="btn btn-primary btn-ico" title="Changer de groupe">
                                            <i class="fas fa-exchange-alt"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Auncun inscrit</p>
                {% endif %}
                <br>
            {% endfor %}
            
        </div>
    </div>
{% endblock %}
