{% extends 'base.html.twig' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
 <div class="wrapper">
    <div class="block">
        <div class="block-title">
            <h2>{{ event.title }} - 
                {% if event.endAt is null %}
                    {{ event.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}}
                {% else %}
                    du {{ event.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}} au {{ event.endAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}}
                {% endif %}
            </h2>
            <span class="tools">
                <a href="{{ path('admin_events', events_filters) }}" class="btn btn-secondary btn-ico" title="Retour à la liste des sorties"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div class="block-body">
            {% for cluster in event.clusters %}
                {% set hasGroups = event.clusters| length > 1 %}
                {% if hasGroups %}
                    <h3>{{ cluster.title }}</h3>
                {% endif %} 
                {% if cluster.sessions | length > 0 %}
                <ul>
                    {% for session in cluster.sessionAvailable %}             
                        {% include ('event/session.html.twig')%}
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Auncun inscrit</p>
                {% endif %}
                <br>
            {% endfor %}
        </div>
    </div>
    <a class="btn btn-primary" href="{{ path('admin_session_add', {'event': event.id}) }}">Ajouter un participant</a>
{% endblock %}
