{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Calendrier des sorties</h2>
                <span class="tools">
                    <a href="{{ path('admin_event_edit') }}" class="btn btn-secondary"><i class="fas fa-plus"></i> Ajouter une sortie</a>
                </span>
            </div>
            <div class="block-body">
                {{ form_start(form) }}
                <ul class="filters">
                    {% if form.prev is defined and form.today is defined and form.next is defined %}
                        <li class="float-left">
                            {% if filters.period == constant('App\\Entity\\Event::PERIOD_DAY') %}
                                du {{ filters.startAt | date('d/m/Y')}}
                            {% else %}
                                du {{ filters.startAt | date('d/m/Y')}} au  {{ filters.endAt | date('d/m/Y')}} 
                            {% endif %}
                        </li>
                        <li class="float-right">
                            {{ form_widget(form.next)}}
                        </li>
                        <li class="float-right">
                            {{ form_widget(form.today)}}
                        </li>
                        <li class="float-right">
                            {{ form_widget(form.prev)}}
                        </li>
                    {% else %}

                    {% endif %}
                    <li class="float-right">
                        {{ form_widget(form.period)}}
                    </li>
                </ul>
                {{ form_end(form) }}
                <ul>
                    {% for event in events %}                      
                        <li>
                            <div class="row">
                                <div class="col-4">{{ event.title }}</div>
                                <div class="col-4">{{ event.startAt | date('d/m/Y') }}</div>
                                <div class="col-4"><a class="btn btn-primary btn-xs" href="{{ path('admin_event_edit', {'event' : event.id}) }}"><i class="fas fa-pencil-alt"></i> Modifier</a></div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
