{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Calendrier des sorties</h2>
                <span class="tools">
                    <a href="{{ path('admin_event_edit') }}" class="btn btn-secondary btn-ico" title="Ajouter une sortie"><i class="fas fa-plus"></i></a>
                </span>
            </div>
            <div class="block-body">
                {{ form_start(form) }}
                <ul class="filters row">
                    {% if form.prev is defined and form.today is defined and form.next is defined %}
                        <li class="col-xs-12">
                            {% if filters.period == constant('App\\Entity\\Event::PERIOD_DAY') %}
                                du {{ filters.startAt | date('d/m/Y')}}
                            {% else %}
                                du {{ filters.startAt | date('d/m/Y')}} au  {{ filters.endAt | date('d/m/Y')}} 
                            {% endif %}
                        </li>
                        <li>
                            {{ form_widget(form.period)}}
                        </li>
                        <li>
                            {{ form_widget(form.prev)}}
                        </li>
                        <li>
                            {{ form_widget(form.today)}}
                        </li>
                        <li >
                            {{ form_widget(form.next)}}
                        </li>
                    {% else %}

                    {% endif %}
                </ul>
                {{ form_end(form) }}
                <ul>
                    {% for event in events %}                      
                        <li>
                            <div class="row row-list">
                                <div class="col-10 col-xs-10">
                                    <a class="btn btn-list btn-light" href="{{ path('admin_event_cluster_show', {'event' : event.id}) }}" title="Voir les participants">
                                        <div class="row">
                                            <div class="col-6 col-xs-6">{{ event.title }}</div>
                                            <div class="col-6 col-xs-6">{{ event.startAt | date('d/m/Y') }}</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-2 col-xs-2">
                                    <a class="btn btn-primary btn-ico" href="{{ path('admin_event_edit', {'event' : event.id}) }}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
