{% extends 'base_modal_stimulus.html.twig' %}
{% set action = agreement.enabled ? 'désactiver' : 'activer' %}
{% block modal_title %}{{ action|capitalize }} l' autorisation {{ agreement.title }}{% endblock %}
{% block body %}
    <p>Etes vous certain de vouloir {{ action }} l' autorisation {{ agreement.title }} ?</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="btn text-white bg-{{ type}}"
    >
        <i class="fas fa-check"></i> {{ action|capitalize }}
    </button>
{% endblock %}
