{% extends 'base.html.twig' %}

{% block title %}{{ bikeRide.title }}{% endblock %}

{% block body %}
    <div class="wrapper background-green background-color col-content">
        <div class="flex justify-center p-4">
            <img src="{{ bikeRide.filename }}" alt="{{ bikeRide.filename }}"/>
        </div>
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal" data-reveal-threshold="0.05">
                <h1>{{ bikeRide.title }}</h1>
                <h2>{{ bikeRide.period }}</h2>
                {{ bikeRide.content | raw}}
                <br>
                {% if isRegistrationEnabled %}
                    <div class="row">
                        <div class="col-md-4 col-xs-6 d-flex flex-col align-items-center" >
                            <img class="user-picture" src="{{ bikeRide.rulesThumbnail }}" alt="{{ bikeRide.title }}">
                            <a href="{{ bikeRide.rules }}" target="_blank" class="btn btn-primary"><i class="fa-solid fa-download"></i> Réglement</a>
                        </div>
                        <div class="col-md-4 col-xs-6 d-flex flex-col align-items-center">
                            <img class="user-picture" src="{{ bikeRide.securityGuidelinesThumbnail }}" alt="{{ bikeRide.title }}">   
                            <a href="{{ bikeRide.securityGuidelines }}" target="_blank" class="btn btn-primary"><i class="fa-solid fa-download"></i> Sécurité à vélo</a>
                        </div>
                    </div>
                    <br>
                    {{ form_start(form)}}
                    {{ form_row(form.rulesApproval)}}
                    {{ form_row(form.healthApproval)}}
                    <div id="link_container" class="content-footer">
                        {{ form_row(form.link)}}
                    </div>
                    {{ form_end(form)}}
                {% else %}
                    <div class="content-footer">
                        <p><b>Inscription prochainement</b></p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
