{% extends 'base.html.twig' %}

{% block title %}{{ bikeRide.title }}{% endblock %}

{% block body %}
    <div class="wrapper background-green background-color col-content">
        <div class="flex justify-center p-4">
            <img class="object-scale-down xl:max-w-9/10" src="{{ bikeRide.filename }}" alt="{{ bikeRide.filename }}"/>
        </div>
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal" data-reveal-threshold="0.05">
                <h1>{{ bikeRide.title }}</h1>
                <h2>{{ bikeRide.period }}</h2>
                {{ bikeRide.content | raw}}
                <turbo-frame id="guest_registration_frame">
                    <div class="mt-4">
                        {% if isRegistrationEnabled %}
                            <h2>Participer</h2>
                            <p>Accédez à l'inscription en un clic ! Saisissez votre email pour recevoir votre lien de connexion.</p>
                            <p>Pensez à vérifier vos courriers indésirables (spams) si vous ne recevez rien d'ici 2 minutes.</p>
                            {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            <div class="content-footer">
                                {{ form_row(form.submit) }}
                            </div>
                            {{ form_end(form) }}
                            {% if errorMessage %} 
                                <p class="alert-danger-color">{{ errorMessage }}</p>
                            {% endif %}
                        {% else %}
                            <div class="content-footer">
                                <p><b>Inscription prochainement</b></p>
                            </div>
                        {% endif %}
                    </div>
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}
