{{ form_start(form) }}
    <div class="filters">
        {% if form.prev is defined and form.today is defined and form.next is defined %}
            <span>
                <b>
                {% if current_filters.period == constant('App\\Entity\\Event::PERIOD_DAY') %}
                    Du {{ current_filters.startAt | date('d/m/Y')}}
                {% else %}
                    Du {{ current_filters.startAt | date('d/m/Y')}} au  {{ current_filters.endAt | date('d/m/Y')}} 
                {% endif %}
                </b>
            </span>
            <ul>
                <li>
                    {{ form_widget(form.period)}}
                </li>
                <li>
                    {{ form_widget(form.prev)}}
                </li>
                <li>
                    {{ form_widget(form.today)}}
                </li>
                <li >
                    {{ form_widget(form.next)}}
                </li>
            </ul>
        {% else %}
            <span></span>
            <ul>
                <li>
                    {{ form_widget(form.period)}}
                </li>
            </ul>
        {% endif %}
    </div>
{{ form_end(form) }}