{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-width wrapper-full-background">
        <div class="wrapper-title">
            <h1 class="font-bold text-3xl">Programme</h1>
        </div>
            <div class="filters-schedule">
                {% include('bike_ride/filter.html.twig') %}
            </div>
        <div class="wrapper-body">

            {% include 'component/pagination.html.twig' with {'margin': 'bottom'} %} 
            <div class="bike-rides reveal" data-controller="reveal" data-reveal-threshold-value="0.05">
                {% for bikeRide in bikeRides %}
                    {% if bikeRide.display %}
                        <div class="bike-ride-date {{ bikeRide.displayClass }}">
                            <div>
                                {{ bikeRide.period }}</div>
                                {% if bikeRide.btnRegistration %}
                                    <div class="bike-ride-date-btn">
                                        <br>
                                        <a href="{{ bikeRide.btnRegistration.link }}" class="btn btn-secondary" 
                                            {% if bikeRide.btnRegistration.modal %}data-turbo-frame="modal_content"{% endif %}>
                                            {{ bikeRide.btnRegistration.btnLabel|raw }}
                                        </a>     
                                    </div>
                                {% endif %}
                            <div class="badge-members">{{ bikeRide.members }}</div>
                        </div>
                        <div class="bike-ride-detail {{ bikeRide.displayClass }}">
                            <h3>{{ bikeRide.title }}</h3>
                            {% if bikeRide.rangeAge is not null %}
                                <p class='info'>{{ bikeRide.rangeAge }}</p>
                            {% endif %}
                            {% if bikeRide.filename is not null %}
                                <div class="row">
                                    <div class="col-md-7 col-xs-12">{{ bikeRide.content | raw}}</div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-4 col-xs-12">
                                        <img src="{{ bikeRide.filename }}">
                                    </div>
                                </div>
                            {% else %}
                                <p>{{ bikeRide.content | raw}}</p>
                            {% endif %}
                        </div>
                        {% if bikeRide.btnRegistration %}
                                <div class="bike-ride-btn item-center align-center {{ bikeRide.displayClass }}">
                                <br>
                                    <a href="{{ bikeRide.btnRegistration.link }}" class="btn btn-secondary" 
                                    {% if bikeRide.btnRegistration.modal %}data-turbo-frame="modal_content"{% endif %}>
                                        {{ bikeRide.btnRegistration.btnLabel|raw }}
                                    </a>                                
                                </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %} 
        </div>
    </div>
{% endblock %}
