{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-width full-background">
        <div class="wrapper-title">
            <h1>Programme</h1>
        </div>
        <div class="wrapper-body">
            {% include('bike_ride/filter.html.twig') %}
            <div class="bike-rides"> 
                {% for event in events %}
                    {% set class = '' %}    
                    {% if event.isNext %}
                        {% set class = 'active' %}  
                    {% elseif event.over %}
                        {% set class = 'disable' %}  
                    {% endif %}
                    {% set btn_label = 'S\'incrire' %}
                    {% if event.accessAvailabity(app.user) %}
                        {% set btn_label = 'Disponibilité' %}
                    {% endif %}
                           
                    <div class="bike-ride-date item-center align-center {{ class }} reveal">
                        <div>
                            {% if event.endAt is null %}
                                {{ event.startAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}}
                            {% else %}
                                du {{ event.startAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}} au {{ event.endAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}} 
                            {% endif %}
                            {% if event.isRegistrable or event.accessAvailabity(app.user) %}
                                <div class="bike-ride-date-btn">
                                    <br>
                                    <a href="{{ path('session_add', {'event': event.id}) }}" class="btn btn-secondary"><i class="fas fa-chevron-circle-right"></i> {{ btn_label }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="bike-ride-detail {{ class }} reveal">
                        <h3>{{ event.title }}</h3>
                        {% if event.minAge is not null %}
                            <p class='info'>A partir de {{ event.minAge }} ans</p>
                        {% endif %}
                        <p>{{ event.content |raw }}</p>
                    </div>
                    {% if event.isRegistrable or event.accessAvailabity(app.user) %}
                        <div class="bike-ride-btn item-center align-center {{ class }} reveal">
                            <a href="{{ path('session_add', {'event': event.id}) }}" class="btn btn-secondary"><i class="fas fa-chevron-circle-right"></i> {{ btn_label }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
