{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Mon compte</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-white">
                <div class="block-title">
                    <h2>Mon programme perso</h2>
                </div>
                <div class="block-body">
                    <ul>
                        {% for bikeRide in user.getBikeRides() %}
                            <li>
                                <div class="row background-ligth list-dropdown mb-20">
                                    <div class="col-md-9 col-xs-11"  data-toggle="bike-ride-content">
                                        <h2>{{ bikeRide.bikeRide.period }}</h2>
                                        <b>{{ bikeRide.bikeRide.title }}</b>
                                        {% if bikeRide.availability is not empty %}
                                            <p class="{{ bikeRide.availability.class.color }}">{{ bikeRide.availability.class.icon|raw }} {{ bikeRide.availability.text|trans }}</p>
                                        {% endif %}
                                        <p>{{ bikeRide.bikeRide.content|raw }}</p>
                                        {% if bikeRide.bikeRide.survey is not null or bikeRide.bikeRide.bikeRideType.isShowMemberList %}
                                            <div class="mt-10">
                                                <span title="En savoir plus" class="btn btn-xs" data-action="toggle-down"><i class="fa-solid fa-circle-info"></i> Info complémentaires</span>
                                            </div>
                                            <div class="info-dropdown"  data-target="bike-ride-content">
                                                {% if bikeRide.bikeRide.survey is not null %}
                                                    <p>{{ bikeRide.bikeRide.survey.content|raw }}</p>
                                                {% endif %}
                                                {% if bikeRide.bikeRide.bikeRideType.isShowMemberList %}
                                                    {% include 'session/registered_list.html.twig' with {'sessions': bikeRide.memberList} %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        {% if bikeRide.availability is empty %}
                                            <a href="{{ path('session_delete',{'session': bikeRide.sessionId}) }}" class="btn btn-xs btn-primary" title="Se désinscrire"><i class="fas fa-times-circle"></i> Se désinscrire</a>
                                        {% else %}
                                            <a href="{{ path('session_availability_edit',{'session': bikeRide.sessionId}) }}" class="btn btn-xs btn-primary" title="Modifier la disponibilité"><i class="fas fa-pencil-alt"></i> Modifier</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% if user.bikeRides is empty %}
                            <p>Vous n'êtes inscrit à aucune rando</p>
                            <br>
                            <a href="{{ path('schedule', {'period': 'prochainement'}) }}" class="btn btn-primary"><i class="fas fa-chevron-circle-right"></i> Voir le programme</a>
                        {% endif %}
                    </ul> 
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
