{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width full-background">
        <div class="wrapper-title">
            <h1>Mon compte</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-white">
                <div class="block-title">
                    <h2>Mon programme perso</h2>
                </div>
                <div class="block-body">
                    <ul>
                        {% for bikeRide in user.bikeRides %}
                            <li>
                                <div class="row">
                                    <div class="col-md-5 col-xs-12">
                                        <b>
                                        {% if bikeRide.event.endAt is null %}
                                            {{ bikeRide.event.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}}
                                        {% else %}
                                            du {{ bikeRide.event.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}} au {{ bikeRide.event.endAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}} 
                                        {% endif %}
                                        </b>
                                    </div>
                                    <div class="col-md-5 col-xs-8">
                                        {{ bikeRide.event.title }}
                                        {% if bikeRide.availability is not empty %}
                                            <br><span class="{{ bikeRide.availability.class }}">{{ bikeRide.availability.text|trans }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        {% if bikeRide.availability is empty %}
                                            <a href="{{ path('session_delete',{'session': bikeRide.sessionId}) }}" class="btn btn-primary btn-ico" title="Annuler"><i class="fas fa-times-circle"></i></a>
                                        {% else %}
                                            <a href="{{ path('session_availability_edit',{'session': bikeRide.sessionId}) }}" class="btn btn-primary btn-ico" title="Modifier la disponibilité"><i class="fas fa-pencil-alt"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                        {% if user.bikeRides is empty %}
                            <p>Vous n'êtes inscrit à aucune rando</p>
                        {% endif %}
                    </ul> 
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
