{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="wrapper wrapper wrapper-medium-width full-background">
        <div class="wrapper-title">
            <h1>Me connecter</h1>
        </div>
        <div class="block background-gray block-small">
            <div class="block-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="inputLicenceNumber">Numéro de licence</label>
                    <input type="licenceNumber" value="{{ last_username }}" name="licenceNumber" id="inputLicenceNumber" class="form-control" autocomplete="userName" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="block-footer">

                    <button class="btn btn-primary float-right" type="submit">
                        <i class="fas fa-check-circle"></i> Se connecter
                    </button>
                </div>
            </div>
        </div>
    </div>

    
</form>
{% endblock %}
