{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="wrapper min-content background-ligth">
        <div class="block">
            <div class="block-title center">
                <h1><i class="fas fa-user"></i> Authentification</h1>
            </div>
            <div class="block-body">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label for="inputLicenceNumber">Numéro de licence</label>
                    <input type="licenceNumber" value="{{ last_username }}" name="licenceNumber" id="inputLicenceNumber" class="form-control" autocomplete="licenceNumber" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                </div>
                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
            </div>
            <div class="block-footer">

                <button class="btn btn-primary float-right" type="submit">
                    <i class="fas fa-check-circle"></i> Se connecter
                </button>
            </div>
        </div>
    </div>

    
</form>
{% endblock %}
