{% extends 'base.html.twig' %}

{% set title = (disease_kind is null) ? 'Ajouter une pathologie' : 'Modifier une pathologie' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
            <div class="wrapper-title">
                <h1>{{ title }}</h1>
                <span class="tools">
                    <a href="{{ path('admin_disease_kind_list') }}" class="btn btn-ico" title="Retour à la liste des pathologies"><i class="fas fa-chevron-left"></i></a>
                </span>
            </div>
            <div class="wrapper-body">
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.category) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.bikeRideAlert) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.customLabel) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.emergencyTreatment) }}
                </div>
            </div>
            <div class="wrapper-footer">
                {{ form_widget(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
