{% extends 'base.html.twig' %}

{% block title %}Gestion des assurances{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>Gestion des assurances {{ app.session.get('currentSeason') }} - <span class="badge badge-info">{{ paginator.total }}</span></h1>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                <div class="dropdown-menu" data-target="dropdown-tools">
                    <ul class="dropdown-body">
                        <li><a href="{{ path('admin_coverages_email_to_clipboard') }}" class="dropdown-item email-to-clipboard" title="Copier les emails de la séléction"><i class="fas fa-copy"></i> Copier les emails de la séléction</a></œli>
                        <li><a href="{{ path('admin_coverages_export') }}" class="dropdown-item" title="Exporter la sélection"><i class="fas fa-file-csv"></i> Exporter la sélection</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% include('user/admin/filters.html.twig') %}
        <div class="wrapper-body">
            {% include 'component/pagination.html.twig' with {'margin': 'bottom'} %} 
            <ul>
                {% for user in users %}
                    <li class="col-list col-1md-btn">
                        <div class="list-dropdown">
                            <a href="{{ path('admin_coverage_user', {'user': user.id})}}"
                                {% if user.level.colors is not null %}style="background-color: {{ user.level.colors.background }}"{% endif %}>
                                <div class="row">
                                    <div class="col-md-7 col-xs-12">{{ user.member.fullName }}</div>
                                    {% if user.lastLicence is not empty and user.lastLicence.isYearly is same as(false) %}
                                        <div class="col-md-5 col-xs-12">
                                            {{ user.trialSessionsPresent }}/{{ user.testingBikeRides }} séances d'essai
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                            {% include('user/admin/dropdown.html.twig') %}
                        </div>
                        <div>
                            {% if user.lastLicence is not empty %}
                                <a class="btn btn-success" href="{{ path('admin_coverage_validate', {'licence': user.lastLicence.id})}}" title="Valider" data-toggle="modal" data-type="primary"><div><i class="fas fa-check"></i> Valider</div></a>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
        </div>
    </div>
{% endblock %}
