{% extends 'base.html.twig' %}

{% set title = (documentation is null) ? 'Ajouter uns documentation' : 'Modifier une documentation' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
            <div class="wrapper-title">
                <h1 class="font-bold text-3xl">{{ title }}</h1>
                <span class="tools">
                    <a href="{{ path('admin_documentation_list') }}" class="btn btn-ico" title="Retour à la liste des documentations"><i class="fas fa-chevron-left"></i></a>
                </span>
            </div>
            <div class="wrapper-body">
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.media) }}
                </div>
                <div id="mediaContainer">
                    {% if form.file is defined %}
                        <div class="form-group form-group-file form-group-inline" data-ratio="1.41">
                            <object class="sizing{% if documentation.mimeType != 'application/pdf' %} hidden{% endif %}" width="100%" height="350" type="application/pdf" data="{% if documentation.mimeType == 'application/pdf' %}{{ documentation.source }}{% endif %}">
                                <p>Le fichier PDF ne peut pas être affiché avec ce navigateur.</p>
                            </object>
                            <img class="user-picture{% if 'image/' not in documentation.mimeType %} hidden{% endif %}" src="{% if 'image/' in documentation.mimeType %}{{ documentation.source }}{% endif %}" alt="{{ documentation.filename }}">
                            <video controls preload="auto" muted class="user-picture{% if documentation.mimeType != 'video/mp4'%} hidden{% endif %}" src="{% if documentation.mimeType == 'video/mp4'%}{{ documentation.source }}{% endif %}" alt="{{ documentation.filename }}"></video>
                            <p id="filename">{{ documentation.filename }}</p>
                            {{ form_row(form.file) }}
                        </div>
                    {% endif %}
                    {% if form.link is defined %}
                        <div class="form-group">
                            {{ form_row(form.link) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="wrapper-footer">
                {{ form_errors(form) }}
                {{ form_widget(form.save) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
