{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-red background-color col-content">
        <div is="my-carrousel" class="wrapper-img slider">
            {% for background in content.backgrounds %}
                <picture>
                    <source media="(max-width: 400px)" srcset="../images/background/landscape_xs/{{ background.filename }}">
                    <source media="(max-width: 800px)" srcset="../images/background/landscape_md/{{ background.filename }}">
                    <img src="../images/background/square/{{ background.filename }}" alt="le club">
                </picture>
            {% endfor %}
        </div>
        <div class="wrapper-content">
            <div class="reveal">
                {{ content.content | raw}}
                <div class="content-footer">
                    {% if app.user is not null %}
                        <a class="btn btn-red btn-xl" href="{{ path('user_registration_form', {'step': 1}) }}"><i class="fas fa-chevron-circle-right"></i> Je m'inscris</a>
                    {% else %}
                        <a class="btn btn-red btn-xl" href="#btn-wrapper"><i class="fas fa-chevron-circle-right"></i> Je m'inscris</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
     <div id="btn-wrapper" class="wrapper background-ligth wrapper-small-width col-2">
        <div class="card card-bike-ride reveal">
            <div class="card-img" style="background-image:url(../../images/ecole_vtt.jpg)"></div>
            <div class="card-body">
                <h3>Je suis un nouvel adhérent</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary" href="{{ path('registration_form', {'step': 1}) }}"><span><i class="fas fa-chevron-circle-right"></i> Je m'inscris<br>aux 3 séances d'essai</span></a>
            </div>
        </div>
        <div class="card card-bike-ride reveal">
            <div class="card-img" style="background-image:url(../../images/compostelle1-\(54\).jpg)"></div>
            <div class="card-body">
                <h3>J'ai déjà un compte</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-secondary" href="{{ path('user_registration_form', {'step': 1}) }}"><i class="fas fa-chevron-circle-right"></i> Je m'inscris</a>
            </div>
        </div>
    </div>
{% endblock %}
