{% set healthQuestions = form.children.health.children.healthQuestions %}
{% set replaces =
    {
        '{{ question_1 }}': form_widget(healthQuestions[0]),
        '{{ question_2 }}': form_widget(healthQuestions[1]),
        '{{ question_3 }}': form_widget(healthQuestions[2]),
        '{{ question_4 }}': form_widget(healthQuestions[3]),
        '{{ question_5 }}': form_widget(healthQuestions[4]),
        '{{ question_6 }}': form_widget(healthQuestions[5]),
        '{{ question_7 }}': form_widget(healthQuestions[6]),
        '{{ question_8 }}': form_widget(healthQuestions[7]),
        '{{ question_9 }}': form_widget(healthQuestions[8])
    }
%}


<div class="container">{{ current.content |replace(replaces) | raw}}</div>