<div>
    {% for identity in form.identities %}
        {% if identity.children is not empty %}
            <div class="form-group">
                {{ form_row(identity.name) }}
                {{ form_row(identity.firstName) }}
            </div>
            <div class="form-group">
                {{ form_row(identity.birthDate)}}
                {% if identity.birthplace is defined %}
                    {{ form_row(identity.birthplace) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form_row(identity.phone) }}
                {{ form_row(identity.mobile) }}
            </div>
            {% if identity.profession is defined %}
                <div class="form-group">{{ form_row(identity.profession) }}</div>
            {% endif %}
            {% if identity.kinship is defined %}
                <div class="form-group">{{ form_row(identity.kinship) }}</div>
            {% endif %}
            <div class="form-group">{{ form_row(identity.email) }}</div>
            {% if identity.otherAddress is defined %}
                <div class="form-group">{{ form_row(identity.otherAddress) }}</div>
            {% endif %}
            {% if identity.address is defined %}
                <div id="address_container">
                    <div class="form-group">{{ form_row(identity.address.street) }}</div>
                    <div class="form-group">
                        {{ form_row(identity.address.postalCode) }}
                        {{ form_row(identity.address.town) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if form.plainPassword is defined %}
        <div class="form-group">{{ form_row(form.plainPassword)}}</div>
    {% endif %}
</div>