<p>{{ membership_fee_content|raw }}</p>
<br>
<table class="table-border">
    <thead>
        <tr>
            <th></th>
            <th>Mini Braquet<br>(Sauf école VTT)</th>
            <th>Petit Braquet</th>
            <th>Grand Braquet</th>
        </tr>
    </thead>
    <tbody>
        {% for membership_fee in all_membership_fee %}
            <tr>
                {% if membership_fee.membershipFeeAmounts | length > 1 %}
                    <td>
                        <b>{{ membership_fee.title }}</b><br>
                        {{ membership_fee.content }}
                    </td>
                    {% for membershipFeeAmount in membership_fee.membershipFeeAmounts %}
                        <td>{{ membershipFeeAmount.amount }} €</td>
                    {% endfor %}
                {% else %}
                    <td colspan="4">{{ membership_fee.title }} : {{ membership_fee.membershipFeeAmounts[0].amount }} €/an</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>