{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}


{% block body %}
    {% if progress.progressBar is not empty %}
        {% set route = app.request.attributes.get('_route') %}
        <div class="wrapper background-ligth col-1-3 wrapper-full-width">
            <div class="progress-container">
                <h1>{{ progress.user.lastLicence.registrationTitle }}</h1>
                <ul 
                    class="StepProgress"  
                    data-controller="progress-step-center">
                    {% for index,step in progress.progressBar %}
                        {%  if index < maxStep  %}
                            <li class="StepProgress-item {{ step.class }}">
                                <a href="{{ path(route, {'step': step.step }) }}"><strong>{{ step.title }}</strong></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content-container">
                {% if form is not null %}
                    {{ form_start(form)}}
                {% endif %}
                <div class="content-title">
                    <h1>{{ progress.current.title }}</h1>
                </div>
                <div class="content-body">
                    {% if progress.current is not empty and progress.current.form is null %}
                        <div class="container">{{ progress.current.content | raw}}</div>
                    {% endif %}
                    {% if progress.current.pdfFilename is not null %}
                        <div class="container">
                            <object width="100%" height="500" type="application/pdf" data="{{progress.current.pdfRelativePath}}">
                            <p>Le fichier PDF ne peut pas être affiché avec ce navigateur.</p>
                            </object>
                        </div>
                    {% endif %}
                    {% if progress.current.template is not null %}
                        {% include progress.current.template %}
                    {% endif %}
                </div>
                {% if progress.current.hasRequiredFields %}
                    <p>* champs obligatoires </p>
                {% endif %}
                <div class="block-footer">
                    {% if progress.prevStep is not null and progress.current.form != enum('App\\Entity\\Enum\\RegistrationFormEnum').REGISTRATION_FILE %}
                        <a class="btn btn-primary float-left" href="{{ path(route, {'step': progress.prevStep }) }}"><i class="fas fa-chevron-circle-left"></i> Précedent</a>
                    {% endif %}
                    {% if progress.nextStep is not null %}
                        {% if form is null or progress.current.form ==  enum('App\\Entity\\Enum\\RegistrationFormEnum').MEMBERSHIP_FEE %}
                            <a class="btn btn-primary float-right" href="{{ path(route, {'step': progress.nextStep }) }}"><i class="fas fa-chevron-circle-right"></i> Suivant</a>
                        {% else %}
                            {% set btn_class = 'btn btn-primary float-right' %}
                            {% set btn_label = '<i class="fas fa-chevron-circle-right"></i> Enregistrer' %}
                            {% if progress.current.form == enum('App\\Entity\\Enum\\RegistrationFormEnum').OVERVIEW %}
                                {% set btn_class = 'btn btn-primary btn-xl float-right' %}
                                {% set btn_label = '<i class="fas fa-check-circle"></i> Je certifie l\'exactitude des renseignements fournis<br>et VALIDE MON INSCRIPTION' %}
                            {% endif %}
                            <button class="{{ btn_class }}" type="submit">{{ btn_label|raw }}</button>
                        {% endif %}
                    {% endif %}
                </div>
                {% if form is not null %}
                    {{ form_errors(form) }}
                    {{ form_end(form)}}
                {% endif %}
            </div>
        </div>       
    {% endif %}
{% endblock %}