{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="/css/verticalStepProgress.css">
{% endblock %}
{% block body %}
    {% if steps is not empty %}
        {% set route = app.request.attributes.get('_route') %}
        <div class="wrapper background-ligth col-1-3 wrapper-full-width">
            <div class="progress-container">
                <h1>{{ user.seasonLicence.registrationTitle() }}</h1>
                <ul class="StepProgress">
                    {% for step in steps %}
                        {%  if loop.index < maxStep + 1 %}
                            <li class="StepProgress-item {{ step.class }}">
                                <a href="{{ path(route, {'step': loop.index }) }}"><strong>{{ step.title }}</strong></a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="content-container">
                {% if form is not null %}
                    {{ form_start(form)}}
                {% endif %}
                <div class="content-title">
                    <h1>{{ current.title }}</h1>
                </div>
                <div class="content-body">
                    {% if current is not empty and current.form is null %}
                        <div class="container">{{ current.content | raw}}</div>
                    {% endif %}
                    {% if current.filename is not null %}
                        <div class="container">
                            <!--<object width="100%" height="1470" type="application/pdf" data="/files/{{current.filename}}#toolbar=0&navpanes=0&scrollbar=0"> -->
                            <object width="100%" height="500" type="application/pdf" data="/files/{{current.filename}}">
                            <p>Le fichier PDF ne peut pas être affiché avec ce navigateur.</p>
                            </object>
                        </div>
                    {% endif %}
                    {% if template is not null %}
                        {% include template %}
                    {% endif %}
                </div>
                <div class="block-footer">
                    <p>* champs obligatoires </p><br>
                    {% if prev is not null and current.form != constant('App\\Form\\UserType::FORM_REGISTRATION_FILE') %}
                        <a class="btn btn-primary float-left" href="{{ path(route, {'step': prev }) }}"><i class="fas fa-chevron-circle-left"></i> Précedent</a>
                    {% endif %}
                    {% if next is not null %}
                        {% if form is not null and current.form not in [constant('App\\Form\\UserType::FORM_REGISTRATION_FILE'), constant('App\\Form\\UserType::FORM_MEMBERSHIP_FEE')] %}
                            {% set btn_class = 'btn btn-primary float-right' %}
                            {% set btn_label = '<i class="fas fa-chevron-circle-right"></i> Enregistrer' %}
                            {% if current.form == constant('App\\Form\\UserType::FORM_OVERVIEW') %}
                                {% set btn_class = 'btn btn-primary btn-xl float-right' %}
                                {% set btn_label = 'Je certifie l\'exactitude des renseignements fournis<br>et VALIDE MON INSCRIPTION' %}
                            {% endif %}
                            <button class="{{ btn_class }}" type="submit">{{ btn_label|raw }}</button>
                        {% else %}
                            <a class="btn btn-primary float-right" href="{{ path(route, {'step': next }) }}"><i class="fas fa-chevron-circle-right"></i> Suivant</a>
                        {% endif %}
                    {% endif %}
                </div>
                {% if form is not null %}
                    {{ form_errors(form) }}
                    {{ form_end(form)}}
                {% endif %}
            </div>
        </div>       
    {% endif %}
{% endblock %}