{% extends 'base_modal_stimulus.html.twig' %}
{% set type = 'primary' %}
{% block modal_title %}{{ data.title }}{% endblock %}
{% block body %}
    <p>{{ data.content|raw }}</p>
{% endblock %}
{% block action %}
    {% if data.url is not null %}
        <a
            class="flex justify-center text-white bg-{{ type}}"
            href="{{ data.url }}"
            data-action="click->modal#close"
            {% if data.target is not null %}
                target={{ data.target }}
            {% else %}
                data-turbo-frame="_top"
            {% endif %}
        >
            <div class="flex gap-3 items-center ">
                {{ data.btnLabel }}
            </div>
        </a>
    {% elseif data.action is not null %}
        <button 
            type="button"
            class="flex justify-center text-white bg-{{ type}}"
            data-action={{ data.action.name }}
            {% if data.action.url is defined %}data-modal-url-value="{{ data.action.url }}"{% endif %}
        >
            <div class="flex gap-3 items-center ">
                {{ data.btnLabel }}
            </div>
        </button>
    {% endif %}
{% endblock %}


