{% extends 'base_modal_stimulus.html.twig' %}
{% set type = 'primary' %}
{% block modal_title %}{{ title }}{% endblock %}
{% block body %}
    <p>{{ content|raw }}</p>
{% endblock %}
{% block action %}
    {% if url is not null %}
        <a
            href="{{ url }}"
            data-turbo-frame="_top"
    {% else %}
        <button 
            type={{form is not null ? 'submit' : 'button'}}
    {% endif %}
            class="flex justify-center text-white bg-{{ type}}"
            data-action="{{ action.name }}"
            {% if action.target is not null %}data-modal-link-target={{ action.target }}{% endif %}
            {% if action.url is defined %}data-modal-url="{{ action.url }}"{% endif %}
            {% if action.frameId is defined %}data-modal-frame-id="{{ action.frameId }}"{% endif %}
        >
            <div class="flex gap-3 items-center ">
                {{ btnLabel }}
            </div>
    {% if url is not null %}
        </a>
    {% else %}
        </button>
    {% endif %}
{% endblock %}


