{% extends 'base.html.twig' %}

{% block title %}Gestion du diaporma{% endblock %}

{% block body %}
 <div class="wrapper">
    <div class="wrapper-title">
        <h1>Diaporama</h1>
        {% include 'component/dropdown_settings.html.twig' %}
        <span class="tools">
        </span>
    </div>
    <div class="wrapper-body">
        <div class="d-flex align-items-center gap-2">
            <a class="btn btn-primary mb-20" href="{{ path('admin_slideshow_directory_add') }}" title="Ajouter un répertoire" data-toggle="modal" data-type="primary">Ajouter un répertoire</a>
            <div id="slideshow-space" class="ms-auto d-flex align-items-center mb-20 gap-2">
                <span>Espace disque </span>
                <div class="d-flex flex-column justify-content-center">
                    <progress id="slideshow-usage" max=100 value=0></progress>
                    <div id="slideshow-size" class="progress-label"></div>
                </div>
            </div>
        </div>

        <div class="slideshow-toolbar">
            <div>
                <a href="{{ path('admin_slideshow_list') }}"><i class="fa-solid fa-house"></i> home/</a>
                {% if directory is not null %}<a href="{{ path('admin_slideshow_list', {'directory': directory.id}) }}">{{ directory.name }}</a>{% endif %}
            </div>
            <div class="tools">
                <progress id="progress-bar" class="d-none" max=100 value=0></progress>
                <div id="slideshow-error" class="d-none"></div>
                {% if directory %}
                    <button class="btn btn-secondary" type="button"><i class="fa-solid fa-file-arrow-up" aria-hidden="true"></i> Télécharger</button>
                {% endif %}
            </div>
        </div>
        <div is="my-uploadfile">
            {{ form_start(form)}}
            <div class="slideshow-list drop-area {% if directory %}drop-area-enabled{% else %}drop-area-disabled{% endif %}">
                {% for directory in directories %}
                    <div class="slideshow-element" >
                        <a href="{{ path('admin_slideshow_list', {'directory': directory.id}) }}">
                            <i class="fa-solid fa-folder"></i>
                        </a>
                        <a class="name" href="{{ path('admin_slideshow_directory_edit', {'directory': directory.id}) }}" title="Mofifier un répertoire" data-toggle="modal" data-type="primary">
                            {{ directory.name }}
                        </a>
                        <a class="btn-delete" href="{{ path('admin_slideshow_directory_delete', {'directory': directory.id}) }}" title="Supprimer un répertoire" data-toggle="modal" data-type="danger"><i class="fa-solid fa-circle-xmark"></i></a>
                    </div>
                {% endfor %}
                {% for image in images %}
                    <div class="slideshow-element">
                        <div class="slideshow-thumbnail">
                            <img src="{{ image.url }}" alt="">
                            <a class="btn-delete" href="{{ path('admin_slideshow_image_delete', {'image': image.id}) }}" title="Supprimer une image" data-toggle="modal" data-type="danger"><i class="fa-solid fa-circle-xmark"></i></a>
                        </div>
                        <div class="name">{{ image.name }}</div>
                    </div>  
                {% endfor %}
            </div>
            {{ form_row(form.uploadFile)}}
            {{ form_end(form)}}
        </div>
    </div>
</div>

{% endblock %}
