<h3>Renseignements concernant l'adhérent</h3>
<ul class="block background-ligth">
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Nom et prénom : </b></span><span class="col-md-8 col-sx-6">{{ progress.user.member.fullName|raw }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Date naissance : </b></span><span class="col-md-8 col-sx-6">{{ progress.user.member.birthDate|raw }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Lieu de naissance : </b></span><span class="col-md-8 col-sx-6">{{ progress.user.member.birthPlace|raw }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Adresse : </b> </span><span class="col-md-8 col-sx-6">{{ progress.user.member.address.street|raw }} {{ progress.user.member.address.postalCode|raw }} {{ progress.user.member.address.town|raw }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Courriel : </b></span><span class="col-md-8 col-sx-6">{{ progress.user.member.email|raw }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Téléphone : </b></span><span class="col-md-8 col-sx-6">{{ progress.user.member.phone|raw}}</span>
    </li>
</ul>

{% if progress.user.member.emergencyPhone is not null %}
    <ul class="block background-ligth">
        <li><b>Téléphone de la personne à prévenir en cas d'urgence: </b>{{ progress.user.member.emergencyPhone|raw}}</li>
    </ul>
{% endif %}