{% extends 'base.html.twig' %}

{% block title %}{{ user.member.fullName }}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title" {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}"{% endif %}>
            <h1>{{ user.member.fullName }}</h1>
            <span class="tools">
                <a href="{{ referer is defined ? referer : path('admin_user', {'user': user.entity.id}) }}"
                    class="btn btn-ico" title="Retour à la fiche de l'adhérents">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </span>
        </div>
        {{ form_start(form) }}
        <div class="wrapper-body">
            {{ form_row(form.medicalCertificateDate) }}
            {{ form_row(form.content) }}
        </div>
        <div class="wrapper-footer">
            {{ form_errors(form) }}
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
