{% extends 'base.html.twig' %}
{% form_theme form '@EWZRecaptcha/Form/v3/ewz_recaptcha_widget.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-blue background-color col-content">
        {{ include('component/carrousel.html.twig') }}
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal">
                {{ content.content | raw}}
                {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                </div>
                {{ form_row(form.message) }}
                <div class="form-group">
                    {{ form_widget(form.recaptcha) }}
                    <div class="form-errors">
                        {{ form_errors(form.recaptcha) }}
                    </div>
                </div>
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
