{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    
    <div class="wrapper wrapper-home wrapper-full-width full-background">
        <div class="news-container">
            {% if home_contents.flashes is defined %}
                {% for flash in home_contents.flashes %}
                    <div class="block background-color background-primary">        
                        <div class="block-body">{{ flash.content | raw}}</div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if home_contents.contents is defined %}
                {% for content in home_contents.contents %}
                    <div class="block{% if not(content.content matches '/iframe/') %} background-clear{% endif %}">        
                        <div class="block-body">{{ content.content | raw}}</div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="events-container">
            <div class="block background-clear">
                {# <div class="block-title">
                    <h2></h2>
                </div> #}
                {% if events is not empty %}
                <div class="block-body">
                    <ul>
                    {% for event in events %}
                        <li>
                            <h2>
                                {% if event.endAt is null %}
                                    {{ event.startAt | format_date(locale='fr', pattern='EEEE d/M/yy')  | capitalize}}
                                {% else %}
                                    du {{ event.startAt | format_date(locale='fr', pattern='EEEE d/M/yy')} | capitalize} au {{ event.endAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}}
                                {% endif %}
                            </h2>
                            <p>{{ event.title }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <div class="block-footer">
                    <a href="{{ path('schedule', {'period': 'mois'}) }}" class="btn btn-secondary align-center btn-full-width"><i class="fas fa-chevron-circle-right"></i> Voir le programme</a>
                </div>
            </div>
            {% for link in links_bike_ride %}
            <div class="card card-img-only">
                <a href="{{ link.url }}" target="_blank" title="{{ link.title }}">
                    {% set src = link.image matches '/^http/' or  link.image is null ? link.image : '../../uploads/' ~ link.image%}
                    <img src="{{ src }}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="links-container col-4">
            {% for link in links_footer %}
            <a href="{{ link.url }}" target="_blank" title="{{ link.title }}">
                <div class="card card-full-img">
                    {% set src = link.image matches '/^http/' or  link.image is null ? link.image : '../../uploads/' ~ link.image%}
                    <div style="background-image:url({{ src }}"></div>
                </div>
            </a>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}
