{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Accueil'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-home wrapper-full-width">
        <div class="news-container">
            {% set flash = enum('App\\Entity\\Enum\\ContentKindEnum').HOME_FLASH.name %}
            {% if home_contents[flash] is defined %}
                {% for content in home_contents[flash]%}
                    <div class="block background-color background-primary block-flash reveal" data-controller="reveal" data-toggle="block-body">   
                        <div class="block-title">
                            <h2>{{ content.title }}</h2>
                            <span class="tools">
                                <a href="" class="btn btn-ico" data-action="toggle-down"><i class="far fa-caret-square-down"></i></a>
                            </span>
                        </div>  
                        <div class="block-body up" data-target="block-body">
                            {% include('content/body_content.html.twig') %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% set content = enum('App\\Entity\\Enum\\ContentKindEnum').HOME_CONTENT.name %}
            {% if home_contents[content] is defined %}
                {% for content in home_contents[content] %}
                    <div class="block reveal{% if not(content.content matches '/iframe/') %} background-clear{% endif %}" data-controller="reveal">        
                        <div class="block-body">
                            {% include('content/body_content.html.twig') %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="bike-rides-container">
            <div class="block background-clear reveal" data-controller="reveal">
                {% if bikeRides is not empty %}
                    <div class="block-footer">
                        <div class="block-body">
                            <ul>
                                {% for bikeRide in bikeRides %}
                                    <li>
                                        <a href="{{ path('schedule', {'period': 'prochainement'}) }}">
                                            <h2>
                                                {{ bikeRide.period }}
                                            </h2>
                                            <p>{{ bikeRide.title }}</p>
                                            {% if bikeRide.filename is not null %}
                                                <img src="{{ bikeRide.filename }}" alt="{{ bikeRide.filename }}">            
                                            {% endif %}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                <div class="block-footer">
                    <a href="{{ path('schedule', {'period': 'prochainement'}) }}" class="btn btn-secondary align-center btn-full-width"><i class="fas fa-chevron-circle-right"></i> Voir le programme</a>
                </div>
            </div>
            {% for link in links_bike_ride %}
            <div class="card card-img-only reveal" data-controller="reveal">
                <a href="{{ link.url }}" target="_blank" title="{{ link.title }}">
                    {% set src = link.image matches '/^http/' or  link.image is null ? link.image : '../../uploads/' ~ link.image%}
                    <img src="{{ src }}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="links-container col-4">
            {% for link in links_footer %}
            <a href="{{ link.url }}" target="_blank" title="{{ link.title }}" class="reveal" data-controller="reveal">
                <div class="card card-full-img">
                    {% set src = link.image matches '/^http/' or  link.image is null ? link.image : '../../uploads/' ~ link.image%}
                    <div style="background-image:url({{ src }}"></div>
                </div>
            </a>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}
