{% extends 'base.html.twig' %}

{% set title = constant('App\\Entity\\content::ROUTES')[app.request.get('_route')] %}

{% block title %}{{ title | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-{{ background_color }} background-color col-content">
        {% if content.kind == enum('App\\Entity\\Enum\\ContentKindEnum').CARROUSEL_AND_TEXT %}
            {{ include('component/carrousel.html.twig') }}
        {% elseif content.kind == enum('App\\Entity\\Enum\\ContentKindEnum').VIDEO_AND_TEXT %}
            <div class="wrapper-youtube" data-controller="youtube-center">
                <iframe 
                    src="{{ content.url }}?autoplay=1&mute=1" 
                    frameborder="0"  
                    scrolling="no" 
                    class="youtube"
                    data-youtube-center-target="iframe"
                ></iframe>
            </div>
        {% endif %}

        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal">
                {{ content.content | raw}}
                {% if app.request.get('_route') == 'school_practices' %}
                    <h3>A l'école VTT de Ludres il y a {{levels|length}} groupes</h3>
                    <ul class="list-outside">
                        {% for level in levels %}
                            <li>
                                <h4>{{ level.title }}</h4>
                                <p class='ck-content'>{{ level.content|raw }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if app.request.get('_route') == 'school_documentation' %}
                    <ul class="list-outside">
                        {% for documentation in documentations %}
                            <li>
                                <div class="d-flex gap-2 align-items-center">
                                    {% if documentation.link %}
                                        <a class="outside-link" data-trigger="write-log" data-entity-id="{{ documentation.id}}" data-toggle="modal" href="{{ documentation.link }}" target="_blank">{{ documentation.name }}</a>
                                    {% else %}
                                        <a href="{{ documentation.source }}" data-trigger="write-log" data-entity-id="{{ documentation.id}}" target="_blank">{{ documentation.name }}</a>
                                    {% endif %}
                                    {% if documentation.novelty %}<div class="novelty">N</div>{% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if form is defined %}
                {{ form_start(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
