{% extends 'base.html.twig' %}

{% set title = constant('App\\Entity\\content::ROUTES')[app.request.get('_route')] %}

{% block title %}{{ title | trans }}{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-{{ background_color }} background-color col-content">
        <div is="my-carrousel" class="wrapper-img slider"  style="min-height: 100%">
            {% for background in content.backgrounds %}
                <picture>
                    <source media="(max-width: 400px)" srcset="../images/background/landscape_xs/{{ background.filename }}">
                    <source media="(max-width: 800px)" srcset="../images/background/landscape_md/{{ background.filename }}">
                    <img src="../images/background/square/{{ background.filename }}" alt="le club">
                </picture>
            {% endfor %}
        </div>
        <div class="wrapper-content">
            <div class="reveal">
                {{ content.content | raw}}
                {% if app.request.get('_route') == 'school_practices' %}
                    <h3>A l'école VTT de Ludres il y a {{levels|length}} groupes</h3>
                    <ul class="list-outside">
                        {% for level in levels %}
                            <li>
                                <h4>{{ level.title }}</h4>
                                <p class='ck-content'>{{ level.content|raw }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if app.request.get('_route') == 'school_documentation' %}
                    <ul class="list-outside">
                        {% for documentation in documentations %}
                            <li>
                                {% if documentation.link %}
                                    <a class="outside-link" data-toggle="modal" href="{{ documentation.link }}" target="_blank">{{ documentation.name }}</a>
                                {% else %}
                                    <a href="{{ documentation.source }}" target="_blank">{{ documentation.name }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
