{% extends 'base.html.twig' %}

{% block title %}{{ user.member.fullName }}{% endblock %}

{% block body %}
    <div class="wrapper">
            <div class="wrapper-title" {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}"{% endif %}>
                <h1>{{ user.member.fullName }}</h1>
                <span class="tools">
                    <a href="{{ referer is defined ? referer : path('admin_user', {'user': user.id}) }}"
                        class="btn  btn-ico" title="Retour à la fiche de l'adhérents">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </span>
            </div>
            {{ form_start(form) }}
            <div class="wrapper-body">
                {% for gardian in form.children.userGardians %}
                    <b>{{ gardian.vars.value.kind|trans }}</b>
                    {% if gardian.kinship is defined %}
                        <div class="form-group">{{ form_row(gardian.kinship) }}</div>
                    {% endif %}
                    {% include 'identity/identity.html.twig' with {'identity': gardian.identity, 'gardian': gardian.vars.value.kind.value }  %}
                    {% if gardian.vars.value.kind == enum('App\\Entity\\Enum\\GardianKindEnum').LEGAL_GARDIAN %}
                        <br><hr><br>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="wrapper-footer">
                {{ form_errors(form) }}
                <button class="btn btn-primary float-right" type="submit">Modifier</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
