{% extends 'base.html.twig' %}

{% block title %}Gestion des niveaux{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="wrapper-title">
            <h1>Gestion des niveaux</h1>
            <span class="tools">
                <a href="{{ path('admin_level_edit') }}" class="btn btn-ico" title="Ajouter un niveau"><i class="fas fa-plus"></i></a>
            </span>
        </div>
        <nav  class="nav-tab">
            {% for type, label in constant('App\\Entity\\Level::TYPES') %}
                <a href="{{ path('admin_levels', {'type': type} )}}"{% if type == current_type %} class="active"{% endif %}>{{ label|trans}}</a>
            {% endfor %}
        </nav>
        <div class="wrapper-body">
            <ul class="sortable" data-route="admin_level_order" data-parameter="level">
                {% for level in levels %}     
                    <li class="{% if not level.isProtected %}ui-state-default {% endif %}col-list col-list-2btn" {% if not level.isProtected %}data-id="{{ level.id }}"{% endif %}>
                        <div class="list-item">{{ level.title }}</div>
                        
                        {% if is_granted('ROLE_ADMIN') %}
                        <div>
                            <a class="btn btn-primary btn-ico" href="{{ path('admin_level_edit', {'level': level.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                        </div>
                        <div>
                            {% if not level.isProtected %}
                                <a class="btn btn-danger btn-ico modal-trigger" href="{{ path('admin_level_delete', {'level': level.id})}}" title="Supprimer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                            {% endif %}
                        </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
