{% extends 'base.html.twig' %}

{% block title %}Roles du bureau et comité{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="wrapper-title">
            <h1>Roles du bureau et comité</h1>
        </div>
        <div class="wrapper-body">
            <a href="{{ path('admin_board_role_edit') }}" class="btn btn-primary" title="Ajouter un role"><i class="fas fa-plus"></i> Ajouter un role</a>
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %}
            <ul class="sortable" data-route="admin_board_role_order" data-parameter="boardRole">
                {% for boardRole in boardRoles %}     
                    <li class="ui-state-default col-list col-list-2btn" data-id="{{ boardRole.id }}">

                            <div class="list-item">{{ boardRole.name }}</div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary btn-ico" href="{{ path('admin_board_role_edit', {'boardRole': boardRole.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger btn-ico modal-trigger" href="{{ path('admin_board_role_delete', {'boardRole': boardRole.id})}}" title="Supprimer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                            {% endif %}

                    </li>
                {% endfor %}
            </ul>
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %}
        </div>
    </div>
</div>
{% endblock %}
