{% extends 'base.html.twig' %}

{% block title %}Roles du bureau et comité{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="wrapper-title">
            <h1>Roles du bureau et comité</h1>
            <div class="tool-group">
                <a href="{{ path('admin_users', {'filtered': 1}) }}"
                    class="btn btn-ico" title="Retour à la liste des adhérents">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </div>
        </div>
        <div class="wrapper-body">
            <a href="{{ path('admin_board_role_edit') }}" class="btn btn-primary" title="Ajouter un role"><i class="fas fa-plus"></i> Ajouter un role</a>
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
            <ul 
                class="list-group sortable"
                data-controller="sortable"
                data-sortable-route-value="{{ path('admin_board_role_order', {'boardRole': 0}) }}"
            >
                {% for boardRole in boardRoles %}     
                    <li class="list-group-item sortable-state-default col-list col-list-2btn" data-id="{{ boardRole.id }}">
                        <div>{{ boardRole.name }}</div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                            <div class="dropdown-menu" data-target="dropdown-tools">
                                <ul class="dropdown-body">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_board_role_edit', {'boardRole': boardRole.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i> Modifier</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item modal-trigger" href="{{ path('admin_board_role_delete', {'boardRole': boardRole.id})}}" title="Supprimer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i> Supprimer</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
        </div>
    </div>
</div>
{% endblock %}
