{% extends 'base.html.twig' %}

{% set title = (bike_ride_type is null) ? 'Ajouter un type de sortie' : 'Modifier un type de sortie' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
        <div class="block"> 
            <div class="wrapper-title">
                <h1>{{ title }}</h1>
                <span class="tools">
                    <a href="{{ path('admin_bike_ride_types') }}" class="btn btn-ico" title="Retour à la liste des types de rando"><i class="fas fa-chevron-left"></i></a>
                </span>
            </div>
            <div class="wrapper-body" id="bikeRideTypeContainer" >
                <div class="form-group">
                    {{ form_row(form.name) }}
                </div>
                {{ form_row(form.content) }}
                <div class="form-group">
                    {{ form_row(form.registration) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.closingDuration) }}
                </div>

                {% if form.clusters is defined %}
                    <b>{{ form_label(form.clusters) }}</b>
                    <div class="row row-align-top">
                        <div class="col-md-8">
                            <div class="collection_container"
                            data-index="{{ form.clusters|length > 0 ? form.clusters.vars.value|length + 1 : 0 }}" 
                            data-prototype="{{ form_row(form.clusters.vars.prototype)|e('html_attr') }}">
                                {{ form_widget(form.clusters) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-success add_item_link" data-collection-holder-class="{{ form.clusters.vars.id }}">
                            <i class="fas fa-plus-circle"></i> Ajouter une valeur
                            </button>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group switch-group">
                    {{ form_row(form.needFramers) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.isCompensable) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.useLevels) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.showMemberList) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_row(form.displayBikeKind) }}
                </div>
                <div class="form-group switch-group">
                    {{ form_errors(form) }}
                </div>
            </div>
            <div class="wrapper-footer">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
