{% extends 'base.html.twig' %}

{% block title %}{{parent()}} index{% endblock %}

{% block body_title %}
    <h1>{{ parameter_service.getParameter('PROJECT_NAME') }}</h1>
{% endblock %}

{% block body %}
    {% include('common/menu.html.twig') %}
    <main id="container" class="index">
        {% if sections is not empty %}
        <div class="grid">
            {% for section in sections %}
            <div class="block">
                <div id="{{ section.id }}" class="title">
                    <h2>{{ section.title }}</h2>
                    <div class="tools-bar">
                        <a class="btn btn-edit" href="{{ path('section_edit',{'section':section.id}) }}" class="modal-trigger" data-toggle="modal" data-type="primary">
                            <i class="far fa-edit"></i>
                        </a>
                        {% if section.chapters is empty %}
                            <a class="btn btn-remove" href="{{ path('section_delete',{'section':section.id}) }}" class="modal-trigger" data-toggle="modal" data-type="danger">
                                <i class="fas fa-minus-square"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% for chapter in section.chapters %}
                    <h3>
                        <i class="fas fa-chevron-down chevron"></i>
                        <a href="{{ path('chapter_show', {'chapter' : chapter.id}) }}">{{chapter.title}}</a>
                    </h3>
                    <ul>
                        {% for article in chapter.articles %}
                        <li>
                            <a href="{{ path('chapter_show', {'chapter': chapter.id})}}#{{article.id}}">{{article.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="smiley">&#128542;</div>
                    <p>Aucun article</p>
                {% endfor %}
            </div>
            {% else %}
                <div class="smiley">&#128542;</div>
                <p>Aucun chapitre</p>
            {% endfor %}
        </div>
        {% else %}
            <div class="smiley">&#128542;</div>
            <p>Aucune rubrique</p>
        {% endif %}
    </main>
{% endblock %}
