{% extends 'base.html.twig' %}

{% block title %}Outil{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
            <div class="wrapper-title">
                <h1>Supprimer un utilisateur</h1>
            </div>
            <div class="wrapper-body">
                <div class="form-group">
                    {{ form_row(form.user) }}
                </div>
            </div>
            <div class="wrapper-footer">
                {{ form_row(form.submit) }}
            </div>
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
