{% extends 'base.html.twig' %}

{% block title %}Outil{% endblock %}

{% block body %}
    <div class="wrapper">
        {% if filename is null %}
            {{ form_start(form) }}
            <div class="block padding-10">
                <div class="block-title">
                    <h2>Attestation d'inscription pour CE</h2>
                </div>
                <div class="block-body">
                    <div class="form-group">
                        {{ form_row(form.user) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.content) }}
                    </div>
                </div>
                <div class="block-footer">
                    {{ form_row(form.submit, {'label': 'Envoyer'}) }}
                </div>
            </div>
            {{ form_errors(form) }}
            {{ form_end(form) }}
        {% else %}
            <object width="100%" height="1050" type="application/pdf" data="{{ filename }}">
            <p>Le fichier PDF ne peut pas être affiché avec ce navigateur.</p>
            </object>
        {% endif %}
    </div>
{% endblock %}
