{% extends 'base.html.twig' %}

{% block title %}Outil{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
            <div class="wrapper-title">
                <h1>Envoyer une notification d'erreur sur une inscription</h1>
                <div class="tool-group">
                    {% include 'component/dropdown_settings.html.twig' %}
                </div>
            </div>
            <div class="wrapper-body">
                <div class="form-group">
                    {{ form_row(form.user) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.content) }}
                </div>
                <b>Attention, l'envoi du mail, change le statut de l'inscription.</b>

            </div>
            <div class="wrapper-footer">
                {{ form_row(form.submit, {'label': 'Envoyer'}) }}
            </div>
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
