{% extends 'base_modal_stimulus.html.twig' %}
{% set title = (indemnity is defined) ? 'Ajouter' : 'Modifier' %}
{% block modal_title %}{{ title }}{% endblock %}
{% block body %}
    <div class="form-group-medium-width">
        <h3>Modifier le message</h3>
        <blockquote class="border-l-4 border-gray-300 pl-4 italic text-gray-700">{{ message.label }}</blockquote>
        <div class="mb-2">
            {{ form_row(form.content) }}
            {{ form_row(form.referer) }}
            {{ form_errors(form) }}
        </div>
    </div>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="btn text-primary bg-neutral-200"
    >
        <i class="fas fa-check"></i> Modifier
    </button>
{% endblock %}
