{% extends 'base_sheet.html.twig' %}
{% block body %}
    <div class="mb-2">
        {% if form.name is defined %}
            {{ form_row(form.name) }}
        {% endif %}
        {% if form.label is defined %}
            {{ form_row(form.label) }}
        {% endif %}
            {{ form_row(form.content) }}
        {% if form.section is defined %}
            {{ form_row(form.section) }}
        {% endif %}
        {% if form.levelType is defined %}
            {{ form_row(form.levelType) }}
        {% endif %}
        {% if form.referer is defined %}
            {{ form_row(form.referer) }}
        {% endif %}
        {{ form_errors(form) }}
    </div>
{% endblock %}
