{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Inscription'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Inscription</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-ligth">
            {{ form_start(form) }}
                <div class="block-title bike-ride-date active">
                    <h2>
                        {% if bikeRide.endAt is null %}
                            {{ bikeRide.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}}
                        {% else %}
                            du {{ bikeRide.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}} au {{ bikeRide.endAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}}
                        {% endif %}
                    </h2>
                </div>
                <div class="block-body">
                    <h3>{{ bikeRide.title }}</h3>
                    {% if bikeRide.minAge is not null %}
                        <p class='info'>A partir de {{ bikeRide.minAge }} ans</p>
                    {% endif %}
                    <p>{{ bikeRide.content |raw }}</p>
                    <div class="form-group">
                        {% if form.session.cluster is defined %}
                            {% set field = form.session.cluster %}
                        {% endif %}
                        {% if form.session.availability is defined %}
                            {% set field = form.session.availability %}
                        {% endif %}
                        {% if field is defined %}
                            {% for  child in field.children %}
                                <div class="inputGroup {{ child.vars.value == field.vars.value ? 'check' : 'ballot' }}">
                                    {{ form_widget(child)}}
                                    {{ form_label(child)}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if form.session.bikeKind is defined %}
                        {{ form_widget(form.session.bikeKind) }}
                    {% endif %}
                    {% if form.responses is defined and bikeRide.survey %}
                        <div class="separator"></div>
                        {{ bikeRide.survey.content|raw }}
                        <br>
                        <div class="form-group row">
                            {% for response in form.responses.surveyResponses %}
                                <div class="col-md-6 col-xs-12">{{ response.vars.value.surveyIssue.content }}</div>
                                <div class="col-md-6 col-xs-12">{{ form_widget(response)}}</div>
                            {% endfor %}

                        </div>
                    {% endif %}
                    {% if form.session.availability is defined %}
                        {% include('session/registered_list_by_type.html.twig') %}
                    {% endif %}
                    {% if bikeRide.bikeRideType.isShowMemberList %}
                        {% include('session/registered_list.html.twig') %}
                    {% endif %}
                    {{ form_errors(form)}}
                    {{ form_row(form.session.user)}}
                </div>
                <div class="block-footer">
                    {% if form.submit is defined %}
                        {{ form_widget(form.submit)}}
                    {% elseif is_already_registered %}
                        <a href="{{ path('user_bike_rides') }}" class="btn btn-primary">Voir toutes mes sorties</a>
                    {% elseif is_end_testing %}
                        <a href="{{ path('user_registration_form', {'step': 1}) }}" class="btn btn-primary">S'inscrire</a>
                    {% endif %}
                </div>
            {{ form_end(form) }}
    
            </div>
        </div>
    </div>
{% endblock %}
