{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Désinscription</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-ligth">
            {{ form_start(form) }}
                {% set bikeRide = session.cluster.bikeRide %}
                <div class="block-title bike-ride-date active">
                    <h2>
                        {% if bikeRide.endAt is null %}
                            {{ bikeRide.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}}
                        {% else %}
                            du {{ bikeRide.startAt | format_date(locale='fr', pattern='EEEE d/M/yy') | capitalize}}}} au {{ bikeRide.endAt | format_date(locale='fr', pattern='EEEE d/M/Y') | capitalize}}}} 
                        {% endif %}
                    </h2>
                </div>
                <div class="block-body">
                    <h3>{{ bikeRide.title }}</h3>
                </div>
                <div class="block-footer">
                    <button type="submit" class="btn btn btn-primary">Je confirme me désinscrire</button>
                    <a href="{{ path('user_sessions') }}" class="btn btn-secondary">Retour à mon compte</a>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
