{% extends 'base.html.twig' %}

{% block title %}{{ bikeRide.title }}{% endblock %}

{% block body %}
    <div class="wrapper background-green background-color col-content">
        <div class="img-center">
            <img src="{{ bikeRide.filename }}" alt="{{ bikeRide.filename }}"/>
        </div>
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal" data-reveal-threshold-value="0.05">
                <h1>{{ bikeRide.title }}</h1>
                <div class="mt-4">
                    <h2>Tarifs</h2>
                    {% for line in publicRegistrationRate %}
                        <p>{{ line|join(' et ')}}</p>
                    {% endfor %}
                    </br>
                    <h2>Inscription</h2>
                    {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_row(form.user.identity.name) }}
                        {{ form_row(form.user.identity.firstName) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.user.identity.birthDate) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.user.identity.address.street) }}
                    </div>
                    <div data-id="comune-container-guest" data-form-modifier-target="container" class="form-group">
                        {{ form_row(form.user.identity.address.postalCode) }}
                        {{ form_row(form.user.identity.address.commune) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.user.lastLicence.FFVelo) }}
                    </div>
                    <div data-id="bike-ride-licence" data-form-modifier-target="container" class="form-group">
                        {{ form_row(form.user.lastLicence.clubName) }}
                        {{ form_row(form.user.licenceNumber) }}
                    </div>
                    <div data-id="bike-ride-session" data-form-modifier-target="container" class="form-group long">
                        {{ form_row(form.cluster) }}
                        {{ form_row(form.bikeType) }}
                    </div>
                    {{ form_row(form.rulesApproval )}}
                    {{ form_row(form.healthApproval )}}
                    {{ form_errors(form) }}
                    <p>* Champs obligatoires</p>
                    <div class="content-footer">
                        <button 
                            type="submit" 
                            data-check-validator-target="submit"
                            class="bg-primary text-white p-2 rounded-sm disabled:opacity-50 disabled:cursor-not-allowed flex gap-2 items-center"
                        >
                            {{ ux_icon('lucide:circle-arrow-right') }} S'inscrire
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
