<div class="row row-align-top">
    <div class="col-md-6 col-xs-12">
        <h2>Encadrants déjà inscrits</h2>
        {% if sessions.framers is defined and sessions.framers is not empty %}
            <ul>
                {% for framer in sessions.framers %}
                    <li>
                        <div class="row row-list">
                            <div class="col-md-6 col-xs-6"><span class="{{ framer.availability.class.color }}"> {{ framer.availability.class.icon|raw }} {{ framer.availability.text }}</span></div>
                            <div class="col-md-6 col-xs-6">{{ framer.user.member.fullName }}</div>
                            
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun encadrant inscrit</p>
        {% endif %}
    </div>
    <div class="col-md-1 col-xs-12"></div>
    <div class="col-md-5 col-xs-12">
        <h2>Participants</h2>
        {% if sessions.members is defined and sessions.members is not empty %}
            <ul>
                {% for membersPerLevel in sessions.members %}
                    <li> 
                        <div class="row row-list">
                            <div class="col-md-6 col-xs-6">{{ membersPerLevel.title }}</div>
                            <div class="col-md-6 col-xs-6">{{ membersPerLevel.members | length }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Aucun particpant inscrit</p>
        {% endif %}
    </div>
</div>
