{% extends 'base.html.twig' %}

{% set title = 'Changement de groupe' %}
{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
        </div>
        <div class="wrapper-body">

            {{ form_start(form) }}
            <div class="block-body">
                <p>{{ bikeRide.title }}</p>
                <p>{{ session.user.firstIdentity.name }}</p>
                {{ form_row(form.cluster) }}
            </div>
            <div class="block-footer">
                <a href="{{ path('admin_bike_ride_cluster_show', {'bikeRide': bikeRide.id}) }}" class="btn btn-secondary"><i class="fas fa-chevron-left"></i> Retour aux participants</a>
                {{ form_widget(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
