{% set groups = menu_admin_service.menuGroupsAdmin() %}
{% set menu_actived = menu_admin_service.menuActived() %}
<div class="nav-bar">
    <a href="" class="btn btn-ico"></a>
    <img src="/logos/logo.jpg" alt="VTT EVASION LUDRES">
</div>

<nav class="admin" data-controller="nav-groups">
    {% for key, group in groups %}
        {% if group.subMenus is not empty %}
            {% set body_class = (key == menu_actived) ? 'down' : 'up' %}
            <div class="nav-group block" data-group="{{ key }}" data-nav-groups-target="group">
            <a href="" data-action="click->nav-groups#toggle">
                <div class="block-title flex items-center">
                    <h2>{{ group.label|trans }}</h2>
                    <span
                        data-nav-groups-target="chevron"
                        {% if key == menu_actived%}class="ml-auto rotate-90"{% else %}class="ml-auto rotate-0"{% endif %}
                    >
                        {{ ux_icon('lucide:chevron-down', {class: 'size-6'}) }}
                    </span>
                </div></a>
                <div class="block-body {{ body_class }}" data-nav-groups-target="content">
                    <ul>
                    {% for menu in group.subMenus %}
                        <li>
                            <a href="{{ path(menu.route) }}"
                                {% if app.request.get('_route') matches menu.pattern %} class="active"{% endif %}>
                                {{ menu.label }}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>         
            </div>
        {% endif %}      
    {% endfor %}
    <div class="nav-group block">
        <div class="block-body">
            <ul>
                <li>
                    <a href="{{ path('check_logout') }}"  title="Se déconnecter" data-turbo-frame="modal_content">
                        Se déconnecter
                    </a>
                </li>
                <li>
                    <a href="{{ path('home') }}">Retour au site</a>
                </li>
            </ul>
        </div>
    <div>
</nav>