<turbo-frame id="show-list">
    <div class="wrapper-body">
        <div class="filters">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-9 col-xs-12">{{ form_widget(form.issue)}}</div>
                    <div class="col-md-3 col-xs-12">{{ form_widget(form.value)}}</div>
                </div>
            {{ form_end(form) }}
        </div>
        {% if responses is not empty %}
            <ul class="padding-10">
                {% for response in responses %}
                    <li class="row row-list  light-separator">
                        <div class="col-md-6 col-xs-6">{{ response.user.fullName }}</div>
                        <div class="col-md-6 col-xs-6">
                            {{ response.value }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</turbo-frame">
