{% extends 'base.html.twig' %}

{% block title %}Gestion des sondages{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Sondage</h2>
                <span class="tools">
                    <a href="{{ path('admin_survey_edit') }}" class="btn btn-secondary btn-ico" title="Ajouter un survey"><i class="fas fa-plus"></i></a>
                </span>
            </div>
            <div class="block-body">
                <ul class="padding-10">
                    {% for survey in surveys %}  
                        <li>
                            <div>
                                <div class="row row-list">
                                    <div class="col-md-8 col-xs-6 background-ligth">
                                        {% set route = (survey.isAnonymous) ? 'admin_anonymous_survey' : 'admin_survey' %}
                                        <a href="{{ path(route, {'survey': survey.id}) }}" class="btn btn-list" title="Résultats du sondage">
                                            {{ survey.title }}
                                        </a>
                                    </div>
                                    <div class="col-md-4 col-xs-6">
                                        <a class="btn btn-success btn-ico" href="{{ absolute_url(path('survey', {'survey': survey.id} ))}}" title="Copier l'url"><i class="fas fa-clipboard"></i></a>
                                        <a class="btn btn-success btn-ico" href="{{ path('admin_survey_export', {'survey': survey.id})}}" title="Exporter"><i class="fas fa-file-download"></i></a>
                                    {% if not survey.isDisabled %}
                                        {% if survey.surveyUsers is empty %}
                                            <a class="btn btn-primary btn-ico" href="{{ path('admin_survey_edit', {'survey': survey.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                                        {% endif %}
                                        <a class="btn btn-danger btn-ico modal-trigger" href="{{ path('admin_survey_disable', {'survey': survey.id})}}" title="Cloturer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {# {% include('common/pagination.html.twig') %} #}
    </div>
{% endblock %}
