{% extends 'base.html.twig' %}

{% block title %}Gestion des surveys{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>{{ survey.title }}</h1>
            <span class="tools">
                <a href="{{ path('admin_surveys') }}" class="btn btn-ico" title="Retour à la liste des surveys"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div>
        <div class="wrapper-body">
            
        <div class="filters">
            {{ form_start(form) }}
                <ul>
                    <li>{{ form_widget(form.issue)}}</li>
                    <li>{{ form_widget(form.value)}}</li>
                </ul>
            {{ form_end(form) }}
        </div>
            
        {% if responses is not empty %}
            <ul class="padding-10">
                {% for response in responses %}
                {% dump(response) %}
                    <li class="row row-list  light-separator">
                        <div class="col-md-6 col-xs-6">{{ response.user.member.fullName }}</div>
                        <div class="col-md-6 col-xs-6">
                            {{ response.value }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
