{% extends 'base.html.twig' %}

{% block title %}{{ user.member.fullName }}{% endblock %}

{% block body %}
    {% set licence = user.lastLicence %}      
    <div class="wrapper">
        <div class="wrapper-title" {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
            <h1>{{ user.member.fullName }}</h1>
            <span class="tools">
                <a href="{{ referer is defined ? referer : path('admin_users', {'filtered': 1}) }}"
                    class="btn btn-ico" title="Retour à la liste des adhérents">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </span>
        </div>
        <div class="wrapper-body" style="align-items: flex-start;">
            <div class="block background-white">
                <div class="row">
                    <div class="col-md-6 form-group" {{ vue_component('ChoiceFilterType', {'className': 'skill_category', 'field': 'category', 'placeholder': "Séléctionner une catégorie"}) }} ></div>
                    <div class="col-md-6 form-group" {{ vue_component('ChoiceFilterType', {'className': 'level', 'field': 'level', 'placeholder': "Séléctionner un niveau"}) }}></div>
                </div>
                <ul class="list-group" {{ vue_component('UserSkillEdit', {'user': user.id}) }}>
                    <div class="loader-container">
                        <div class="loader"></div>
                    </div>
                </ul> 
            </div>
        </div>
    </div>
{% endblock %}
