{% extends 'base.html.twig' %}

{% block title %}{{ bikeRide.title }}{% endblock %}

{% block body %}
 <div class="wrapper">
    {{ form_start(form) }}
    <div class="wrapper-title">
        <h1>{{ bikeRide.title }} - {{ bikeRide.period }}</h1>
        <span class="tools">
            <a href="{{ path('admin_bike_ride_cluster_show', {'bikeRide': bikeRide.id}) }}" class="btn btn-ico" title="Retour à la liste des sorties">
                <i class="fas fa-chevron-left"></i>
            </a>
        </span>
    </div>
    <div class="wrapper-body">
        <h3>Ajouter un nouveau participant</h3>
        <br>

        <div id="admin_session_add" class="row">
            <div class="col-md-6 col-xs-12">
                {{ form_widget(form.user)}}
            </div>
            <div class="col-md-6 col-xs-12">
                {{ form_widget(form.season)}}
            </div>
            <div class="col-md-12 col-xs-12">
                {{ form_widget(form.cluster)}}
            </div>
            {% if form.practice is defined %}
                <div class="col-md-12 col-xs-12">
                    {{ form_widget(form.practice) }}
                </div>
            {% endif %}
        </div>
        {% include 'session/survey_responses.html.twig' %}
    </div>

    <div class="wrapper-footer">
        {{ form_row(form.submit) }}
        {{ form_errors(form) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
