<li id="session-{{ session.id }}" class="col-list col-list-1btn">
    <div class="list-dropdown">
        <a href="{{ path('admin_bike_rides_user', {'user': user.id})}}"
            data-turbo-frame="_top"
            {% if not bikeRide.isEditable %} 
                class="disabled"
            {% endif %}
            {% if user.level.colors is not null and bikeRide.bikeRideType.useLevels %} 
                style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"
            {% endif %}>
            <div class="row">
                <div class="col-md-9 col-xs-10">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{ user.member.fullName }}
                        </div>
                        <div class="col-md-6 col-xs-12">
                        {% if user.level.title is not null and bikeRide.bikeRideType.useLevels %}
                            {{ user.level.title }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-2">
                    <div class="row">
                        {% for authorization in user.lastLicence.authorizations %}
                            <div class="bs-badge rounded-circle border border-white d-flex align-items-center mx-1 align-content-center text-bg-{{ authorization.toHtml.color }}">{{ authorization.toHtml.icon|raw }}</div>
                        {% endfor %}
                        {% if user.health.content is not null %}
                            <div class="medical-plus"></div>
                        {% endif %}
                        {% if session.availability is not empty %}
                            <div class="{{ session.availability.class.badge }}"></div>
                        {% endif %}
                        {% if user.isEndTesting %}
                            <div class="file-contract"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% include 'user/admin/dropdown.html.twig' with {'session' : session} %}
    </div>
    {% include 'session/admin/_present.html.twig' %}
</li>