<li id="session-{{ session.entity.id }}" class="col-list col-list-1btn">
    <div class="list-dropdown">
        <a href="{{ path('admin_user', {'user': user.entity.id})}}"
            {% if user.levelColors is not null %} style="background-color: {{ user.levelColors.background }}; color: {{ user.levelColors.color }}"{% endif %}>
            <div class="row">
                <div class="col-md-9 col-xs-10">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{ user.member.fullName }}
                        </div>
                        <div class="col-md-6 col-xs-12">
                        {% if user.level is not null %}
                            {{ user.level|trans }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                {% if user.approvalGoingHome is not null %}
                    <span class="col-md-3 col-xs-2 home {{ user.approvalGoingHome.class.color }}"></span>
                {% endif %}
                {% if session.availability is not empty %}
                    <div class="col-md-3 col-xs-2">
                        <span class="{{ session.availability.class.badge }}"></span>
                    </div>
                {% endif %}
            </div>
        </a>
        {% include 'user/admin/dropdown.html.twig' with {'session' : session} %}
    </div>
    {# {% if bikeRide.bikeRideType.isSchool %} #}
        {% if not cluster.isComplete %}
            {% if not session.userIsOnSite %}
                <a href="{{ path('admin_session_present', {'session': session.entity.id}) }}" 
                class="btn {%if user.mustProvideRegistration %}btn-danger{% else %}btn-light{% endif %} admin-session-present" title="Absent">
                <i class="{%if user.mustProvideRegistration %}fas fa-question-circle{% else %}fas fa-check{% endif %}"></i></a>
            {% else %}
                <a href="{{ path('admin_session_present', {'session': session.entity.id}) }}" class="btn btn-success admin-session-present" title="Présent"><i class="fas fa-check-circle"></i></a>
            {% endif %}
        {% else %}
            {% if session.userIsOnSite %}
                <div class="success-ico xl-ico" title="Présent"><i class="fas fa-check-circle"></i></div>
            {% endif %}
        {% endif %}
    {# {% endif %} #}
</li>