<li id="session-{{ session.id }}" class="col-list col-list-1btn">
    <div class="list-dropdown">
        <a href="{{ path('admin_bike_rides_user', {'user': user.id})}}"{% if not bikeRide.isEditable %} class="disabled"{% endif %}
            {% if user.level.colors is not null  and bikeRide.bikeRideType.useLevels %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
            <div class="row">
                <div class="col-md-9 col-xs-10">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{ user.member.fullName }}
                        </div>
                        <div class="col-md-6 col-xs-12">
                        {% if user.level.title is not null and bikeRide.bikeRideType.useLevels %}
                            {{ user.level.title }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-2">
                    <div class="row">
                        <div class="camera {{ user.approvals.rightToTheImage.toHtml.class.color }}"></div>
                        {% if user.approvals.goingHomeAlone is defined %}
                            <div class="home {{ user.approvals.goingHomeAlone.toHtml.class.color }}"></div>
                        {% endif %}
                        
                        {% if user.health.content is not null %}
                            <div class="medical-plus"></div>
                        {% endif %}
                        {% if session.availability is not empty %}
                            <div class="{{ session.availability.class.badge }}"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% include 'user/admin/dropdown.html.twig' with {'session' : session} %}
    </div>
    {% if not cluster.isComplete %}
        {% if not session.userIsOnSite %}
            <a href="{{ path('admin_session_present', {'session': session.id}) }}" 
            class="btn {%if user.mustProvideRegistration %}btn-danger{% else %}btn-light{% endif %} admin-session-present{% if not bikeRide.isEditable %} disabled{% endif %}" title="Absent">
            <i class="{%if user.mustProvideRegistration %}fas fa-question-circle{% else %}fas fa-check{% endif %}"></i></a>
        {% else %}
            <a href="{{ path('admin_session_present', {'session': session.id}) }}" class="btn btn-success admin-session-present{% if not bikeRide.isEditable %} disabled{% endif %}" title="Présent"><i class="fas fa-check-circle"></i></a>
        {% endif %}
    {% else %}
        {% if session.userIsOnSite %}
            <div class="success-ico xl-ico" title="Présent"><i class="fas fa-check-circle"></i></div>
        {% endif %}
    {% endif %}
</li>