<li id="session-{{ session.id }}" class="col-list col-list-1btn">
    <div class="list-dropdown">
        <a href="{{ path('admin_bike_rides_user', {'user': user.id})}}"{% if not bikeRide.isEditable %} class="disabled"{% endif %}
            {% if user.level.colors is not null and bikeRide.bikeRideType.useLevels %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
            <div class="row">
                <div class="col-md-9 col-xs-10">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{ user.member.fullName }}
                        </div>
                        <div class="col-md-6 col-xs-12">
                        {% if user.level.title is not null and bikeRide.bikeRideType.useLevels %}
                            {{ user.level.title }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-2">
                    <div class="row">
                        {% for authorization in user.lastLicence.authorizations %}
                            <div class="bs-badge rounded-circle border border-white d-flex align-items-center mx-1 align-content-center text-bg-{{ authorization.toHtml.color }}">{{ authorization.toHtml.icon|raw }}</div>
                        {% endfor %}
                        {% if user.health.content is not null %}
                            <div class="medical-plus"></div>
                        {% endif %}
                        {% if session.availability is not empty %}
                            <div class="{{ session.availability.class.badge }}"></div>
                        {% endif %}
                        {% if user.isEndTesting %}
                            <div class="file-contract"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% include 'user/admin/dropdown.html.twig' with {'session' : session} %}
    </div>
    {% if not cluster.isComplete %}
        {% if not session.userIsOnSite %}
            {% if  user.mustProvideRegistration or user.isEndTesting %}
                <a href="{{ path('admin_session_message', {'session': session.id}) }}" data-toggle="modal" data-type="danger" data-session="{{ session.id }}" data-must-provide-registration="{{ user.mustProvideRegistration or user.isEndTesting }}"
                    class="btn btn-danger admin-session-present{% if not bikeRide.isEditable %} disabled{% endif %}" title="Absent">
                    <i class="fas fa-question-circle"></i>
                </a>
            {% else %}
                <a href="{{ path('admin_session_present') }}" data-session="{{ session.id }}" data-must-provide-registration="{{ user.mustProvideRegistration or user.isEndTesting }}"
                    class="btn btn-light admin-session-present{% if not bikeRide.isEditable %} disabled{% endif %}" title="Absent">
                    <i class="fas fa-check"></i>
                </a>
            {% endif %}
        {% else %}
            <a href="{{ path('admin_session_present') }}" data-session="{{ session.id }}" data-must-provide-registration="{{ user.mustProvideRegistration or user.isEndTesting }}"
            class="btn btn-success admin-session-present{% if not bikeRide.isEditable %} disabled{% endif %}" title="Présent"><i class="fas fa-check-circle"></i></a>
        {% endif %}
    {% else %}
        {% if session.userIsOnSite %}
            <div class="success-ico xl-ico" title="Présent"><i class="fas fa-check-circle"></i></div>
        {% endif %}
    {% endif %}
</li>