<li id="session-{{ session.entity.id }}" class="col-list col-list-1btn">
    <div class="list-dropdown">
        <a href="{{ path('admin_bike_rides_user', {'user': user.entity.id})}}"{% if permission < 7 %} class="disabled"{% endif %}
            {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
            <div class="row">
                <div class="col-md-9 col-xs-10">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            {{ user.member.fullName }}
                        </div>
                        <div class="col-md-6 col-xs-12">
                        {% if user.level.title is not null %}
                            {{ user.level.title }}
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xs-2">
                    <div class="row">
                        {% if user.approvalGoingHome is not null %}
                            <div class="home {{ user.approvalGoingHome.class.color }}"></div>
                        {% endif %}
                        {% if user.getApprovalRightImage.value is same as false %}
                            <div class="camera {{ user.getApprovalRightImage.class.color }}"></div>
                        {% endif %}
                        {% if user.health.hasBikeRideAlert() %}
                            <div class="medical-plus"></div>
                        {% endif %}
                        {% if session.availability is not empty %}
                            <div class="{{ session.availability.class.badge }}"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </a>
        {% include 'user/admin/dropdown.html.twig' with {'session' : session} %}
    </div>
    {# {% if bikeRide.bikeRideType.isSchool %} #}
        {% if not cluster.isComplete %}
            {% if not session.userIsOnSite %}
                <a href="{{ path('admin_session_present', {'session': session.entity.id}) }}" 
                class="btn {%if user.mustProvideRegistration %}btn-danger{% else %}btn-light{% endif %} admin-session-present{% if permission < 7 %} disabled{% endif %}" title="Absent">
                <i class="{%if user.mustProvideRegistration %}fas fa-question-circle{% else %}fas fa-check{% endif %}"></i></a>
            {% else %}
                <a href="{{ path('admin_session_present', {'session': session.entity.id}) }}" class="btn btn-success admin-session-present{% if permission < 7 %} disabled{% endif %}" title="Présent"><i class="fas fa-check-circle"></i></a>
            {% endif %}
        {% else %}
            {% if session.userIsOnSite %}
                <div class="success-ico xl-ico" title="Présent"><i class="fas fa-check-circle"></i></div>
            {% endif %}
        {% endif %}
    {# {% endif %} #}
</li>