{% extends 'base.html.twig' %}
{% form_theme form 'form/switch_theme.html.twig' %}

{% block title %}{{parent()}} Paramètrage{% endblock %}

{% block body_title %}Paramètrage{% endblock %}

{% block body %}
 {% include('common/menu.html.twig') %}
    <main id="container" class="index">
        <div>
            <div class="block">
            {{ form_start(form)}}
            {{ form_errors(form.parameters) }}
            <ul>
            {% for parameter in form.parameters %}
                <li>
                    <div class='form-group'>
                        {{ form_errors(parameter) }}
                        {{ form_widget(parameter) }}
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div class="footer">
                <button class="btn btn-primary"><i class="fas fa-check"></i> Enregiter</button>
            </div>
            {{ form_end(form)}}
            </div>
        </div>
    </main>
{% endblock %}