{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width background-ligth">
        <div class="wrapper-title">
            <h1>Boutique</h1>
        </div>
        <div class="wrapper-body col-1-3 product-detail{% if product.isDisabled %} disabled{% endif %}">
            <div> 
                <img src="{{ product.pathName }}" alt="{{ product.filename }}">  
            </div>
            <div>
                <h2>{{ product.name }}</h2>
                <p>{{ product.ref }}</p>
                <br>
                <p>{{ product.content|raw}}</p>
                {% if is_granted('PRODUCT_VIEW', product) %}
                    <p>
                        {% if product.discountPrice %}{{ product.discountTitle }}<br>{% endif %}
                        <span class="{{ product.priceClass }}">{{ product.price }}</span>
                        {% if product.discountPrice %} <span class="price">{{ product.discountPrice }}</span>{% endif %}
                    </p>
                    {% if not product.isDisabled %}
                    {{ form_start(form)}}
                    <div class="form-group">
                        {{ form_row(form.size)}}
                        {{ form_row(form.quantity)}}
                    </div>
                    {{ form_end(form)}}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}