{% extends 'base.html.twig' %}

{% set title = (bikeRide is null) ? 'Ajouter une sortie' : 'Modifier une sortie' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
            <span class="tools">
                <a href="{{ path('admin_bike_rides', bike_rides_filters) }}" class="btn btn-ico" title="Retour à la liste des sorties"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div id="bike_ride_container" class="wrapper-body">
                {{ form_row(form.bikeRideType) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                <div class="form-group">
                    {{ form_row(form.file) }}
                        <div class="form-group-inline">
                        <img class="user-picture" src="{{ bikeRide.filename }}" alt="{{ bikeRide.title }}">   
                    </div>
                </div>
            <div class="form-group">
                {{ form_row(form.startAt) }}
                {{ form_row(form.endAt) }}
            </div>
            <div class="form-group">
                {{ form_row(form.displayDuration) }}
            </div>
            <div class="form-group">
                {{ form_row(form.closingDuration) }}
            </div>
            <div class="form-group">
                {{ form_row(form.minAge) }}
            </div>
        </div>
        <div class="wrapper-footer">
            {{ form_row(form.save) }}
        </div>
    </div>
    {{ form_end(form) }}


{% endblock %}
