{% extends 'base.html.twig' %}

{% set title = (bikeRide is null) ? 'Ajouter une sortie' : 'Modifier une sortie' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    
    <div class="wrapper">
        {{ form_start(form) }}
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
            <span class="tools">
                <a href="{{ path('admin_bike_rides', bike_rides_filters) }}" class="btn btn-ico" title="Retour à la liste des sorties"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div id="bike_ride_container" class="wrapper-body">
            <div class="d-flex gap-2 mb-20">
                <div class="form-group-file flex-1 {% if form.vars.row_attr.class is defined %}{{ form.vars.row_attr.class }}{% endif %}">
                    <div class="input-file-button h-full">
                        {% if bikeRide.filename is null %}
                            <div data-placeholder="placeholder" class="d-flex flex-col align-items-center justify-content-center gap-2 h-full bg-gray-200 border">
                                <i class="fa-regular fa-image text-3xl text-gray-500"></i>
                                <div>Ajouter une image</div>
                            </div>
                        {% endif %}
                        <img class="user-picture" src="{{ bikeRide.filename }}" alt="{{ bikeRide.title }}">
                    </div>
                    {{ form_widget(form.file, {'attr':{'class': 'input-file d-none'}}) }}   
                    {{ form_errors(form.file) }} 
                </div>

                <div class="w-lg">
                    {{ form_row(form.bikeRideType) }}
                    {{ form_row(form.bikeRideTypeChanged) }}
                    {{ form_row(form.title) }}
                    {{ form_row(form.content) }}
                </div>
            </div>
            
            <div class="form-group">
                
                {% if bikeRide.isPublic %}
                    <b>Réglement et sécutité</b>
                    <div class="card-border">
                        <div class="form-group form-group-file form-group-inline">
                            {{ form_row(form.rulesFile) }}
                        </div>
                        <div class="form-group form-group-file form-group-inline">
                            {{ form_row(form.rulesFileThumbnail) }}
                        </div>
                        <div class="form-group form-group-file form-group-inline">
                            {{ form_row(form.securityGuidelinesFile) }}
                        </div>
                        <div class="form-group form-group-file form-group-inline">
                            {{ form_row(form.securityGuidelinesFileThumbnail) }}
                        </div>
                    </div>
                {% endif %}
                <b>Traces GPX</b>
                <div class="card-border">
                    <ul id="{{ form.bikeRideTracks.vars.name }}" class="collection_container mb-20"
                    data-index="{{ form.bikeRideTracks|length > 0 ? form.bikeRideTracks|last.vars.name + 1 : 0 }}" 
                    data-prototype="{{ form_widget(form.bikeRideTracks.vars.prototype)|e('html_attr') }}">
                        {% for item in form.bikeRideTracks %}
                            <li>{{ form_widget(item) }}</li>
                        {% endfor %}
                    </ul>
                    <div>
                        <button type="button" class="btn btn-success add-bike-ride-track" data-collection-holder-class="{{ form.bikeRideTracks.vars.name }}">
                        <i class="fas fa-plus-circle"></i> Ajouter un parcours
                        </button>            
                    </div>
                </div>
            </div>
                
            <div class="form-group">
                {{ form_row(form.private) }}
            </div>
            <div class="form-group">
                {{ form_row(form.notify) }}
            </div>
            {% if form.registrationEnabled is defined %}
                <div class="form-group">
                    {{ form_row(form.registrationEnabled) }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ form_row(form.startAt) }}
                {{ form_row(form.endAt) }}
            </div>
            <div class="form-group">
                {{ form_row(form.displayDuration) }}
                {{ form_row(form.closingDuration) }}
            </div>
            {% if form.registrationClosedMessage is defined %}
                {{ form_row(form.registrationClosedMessage) }}
            {% endif %}
            <br>
            <div id="bikeRideRestriction">
                {% for restriction in form.restriction %}
                    <div class="form-group radio-group">{{ form_widget(restriction) }} {{ form_label(restriction) }}</div>
                    {% if restriction.vars.value == constant('App\\Form\\Admin\\BikeRideType::RESTRICTION_TO_MEMBER_LIST') %}
                        <div class="row row-align-top">
                            <div class="form-group radio-group col-md-8">{{ form_row(form.users) }}</div>
                            <div class="form-group col-md-4">{{ form_row(form.levelFilter) }}</div>
                        </div>
                    {% endif %}
                    {% if restriction.vars.value == constant('App\\Form\\Admin\\BikeRideType::RESTRICTION_TO_RANGE_AGE') %}
                        <div class="form-group">
                            {{ form_row(form.minAge) }}
                            {{ form_row(form.maxAge) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if bikeRide.survey %}
            <div class="d-flex mx-20">
                <div><a class="btn btn-xs btn-primary" href="{{ path('admin_survey', {'survey': bikeRide.survey.id})}}"><i class="fa-solid fa-up-right-from-square"></i></a></div>
                <div class="ms-20">Sondage lié : {{ bikeRide.survey.title }}</div>
            </div>
        {% endif %}
        <div class="wrapper-footer">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
