{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="bg-primary text-white flex">
            <div class="px-3 py-2">
                <h1 class="font-bold text-3xl">Programme des sorties</h1>
            </div>
            <div class="ml-auto flex gap-2 items-center">
                {% include 'component/dropdown.html.twig' with {'dropdown': settings} %}
            </div>
        </div>
        <div class="wrapper-body">
            <div class="row">
                <div class="col-md-8 col-xs-12">{% include('bike_ride/admin/filter.html.twig') %}</div>
                <div class="col-md-4 col-xs-12 align-right-md">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_bike_ride_add') }}" class="btn btn-primary" title="Ajouter une sortie"><i class="fas fa-plus"></i> Ajouter une sortie</a>
                    {% endif %}
                </div>
            </div>
            {% include 'component/pagination.html.twig' with {'margin': 'bottom'} %}    
            <ul>
                {% for bikeRide in bikeRides %}                      
                    <li class="list-dropdown{% if not bikeRide.bikeRideType.isRegistrable %} light-separator{% endif %}">
                        {% set bikeRide_content %}
                            <div class="row">
                                <div class="col-md-3 col-xs-5">{{ bikeRide.startAt | date('d/m/y') }}</div>
                                <div class="col-md-9 col-xs-7">{{ bikeRide.title }}</div>
                            </div>
                        {% endset %}
                        {% if bikeRide.bikeRideType.isRegistrable %}
                            <a class="" href="{{ path('admin_bike_ride_cluster_show', {'bikeRide' : bikeRide.id}) }}" title="Voir les participants">
                                {{ bikeRide_content }}
                            </a>
                        {% else %}
                            <div class="list-item">{{ bikeRide_content }}</div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('SUMMARY_LIST') %}
                            {% include 'component/dropdown.html.twig' with {'dropdown': bikeRide.dropdown} %}    
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %}    
        </div>
    </div>
{% endblock %}
