{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>Programme des sorties</h1>
            {% include 'component/dropdown_settings.html.twig' %}
        </div>
        <div class="wrapper-body">
            <div class="row">
                <div class="col-md-8 col-xs-12">{% include('bike_ride/admin/filter.html.twig') %}</div>
                <div class="col-md-4 col-xs-12 align-right-md">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_bike_ride_add') }}" class="btn btn-primary" title="Ajouter une sortie"><i class="fas fa-plus"></i> Ajouter une sortie</a>
                    {% endif %}
                </div>
            </div>
            {% include 'common/pagination.html.twig' with {'margin': 'bottom'} %}    
            <ul>
                {% for bikeRide in bikeRides %}                      
                    <li class="list-dropdown{% if not bikeRide.bikeRideType.isRegistrable %} light-separator{% endif %}">
                        {% set bikeRide_content %}
                            <div class="row">
                                <div class="col-md-3 col-xs-5">{{ bikeRide.startAt | date('d/m/y') }}</div>
                                <div class="col-md-9 col-xs-7">{{ bikeRide.title }}</div>
                            </div>
                        {% endset %}
                        {% if bikeRide.bikeRideType.isRegistrable %}
                            <a class="" href="{{ path('admin_bike_ride_cluster_show', {'bikeRide' : bikeRide.id}) }}" title="Voir les participants">
                                {{ bikeRide_content }}
                            </a>
                        {% else %}
                            <div class="list-item">{{ bikeRide_content }}</div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('SUMMARY_LIST') %}
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown-{{ bikeRide.id }}"></button>
                                <div class="dropdown-menu" data-target="dropdown-{{ bikeRide.id }}">
                                    <div class="dropdown-title">{{ bikeRide.startAt | date('d/m/y') }} - {{ bikeRide.title }}</div>
                                    <ul class="dropdown-body">
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('admin_bike_ride_edit', {'bikeRide' : bikeRide.id}) }}" title="Modifier">
                                                    <i class="fas fa-pencil-alt"></i> Modifier
                                                </a>
                                            </li>
                                            {% if bikeRide.startAt > date() %}
                                            <li>
                                                <a class="dropdown-item  modal-trigger" data-toggle="modal" data-type="danger" href="{{ path('admin_bike_ride_delete', {'bikeRide' : bikeRide.id}) }}" title="Modifier">
                                                    <i class="fas fa-times"></i> Annuler
                                                </a>
                                            </li>
                                            {% endif %}
                                            <li>
                                                <a href="{{ path('admin_bike_ride_export', {'bikeRide': bikeRide.id}) }}" class="dropdown-item" title="Exporter la séance">
                                                    <i class="fas fa-file-download"></i> Exporter la séance
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if is_granted('SUMMARY_LIST') %}
                                            <li><a href="{{ path('admin_summary_list', {'bikeRide': bikeRide.id}) }}" class="dropdown-item" title="Actualités"><i class="fa-solid fa-rectangle-list"></i> Actualités</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %}    
        </div>
    </div>
{% endblock %}
