{% extends 'base.html.twig' %}

{% block title %}Calendrier des sorties{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Programme des sorties</h2>
                <span class="tools">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin_bike_ride_edit') }}" class="btn btn-secondary btn-ico" title="Ajouter une sortie"><i class="fas fa-plus"></i></a>
                {% endif %}
                </span>
            </div>
            <div class="block-body">
                {% include('bike_ride/filter.html.twig') %}
                <ul>
                    {% for bikeRide in bikeRides %}                      
                        <li class="li-long">
                            <div class="row row-list">
                                <div class="col-md-10 col-xs-9">
                                    {% set bikeRide_content %}
                                        <div class="row one-line">
                                            <div class="col-md-3 col-xs-5">{{ bikeRide.startAt | date('d/m/y') }}</div>
                                            <div class="col-md-9 col-xs-7">{{ bikeRide.title }}</div>
                                        </div>
                                    {% endset %}
                                    {% if bikeRide.type != constant('App\\Entity\\BikeRide::TYPE_HOLIDAYS') %}
                                        <a class="btn btn-list btn-light" href="{{ path('admin_bike_ride_cluster_show', {'bikeRide' : bikeRide.id}) }}" title="Voir les participants">
                                            {{ bikeRide_content }}
                                        </a>
                                    {% else %}
                                        {{ bikeRide_content }}
                                    {% endif %}
                                </div>
                                <div class="col-md-2 col-xs-2">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a class="btn btn-primary btn-ico" href="{{ path('admin_bike_ride_edit', {'bikeRide' : bikeRide.id}) }}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                                        {% if bikeRide.startAt <= date() %}
                                            <a href="{{ path('admin_bike_ride_export', {'bikeRide': bikeRide.id}) }}" class="btn btn-success btn-ico" title="Exporter la séance">
                                                <i class="fas fa-file-download"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
