{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Recherche{% endblock %}

{% block body_title %}<h1>Article contenant "{{ term }}"</h1>{% endblock %}

{% block body %}
    {% include('common/menu.html.twig') %}
    <main id="container" class="search">
        <div>
            <div class="nav block">
                {{ form_start(form_search) }}
                <button type="submit" name="submitSearch" <i class="fas fa-search"></button>
                {{ form_widget(form_search.term) }}
                {{ form_end(form_search) }}
            </div>
            <div class="block">
                {% if articles is not empty %}
                    <div class="block">
                        <ul>
                        {% for article in articles %}
                            <li>
                                <a href="{{path('chapter_show', {'chapter': article.chapter.id})}}#{{article.id}}">
                                    <h2>{{ article.chapter.section.title }}</h2>
                                    <span class="h3">{{article.chapter.title}}</span> - <span class="h4">{{article.title}}</span>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="smiley">&#128542;</div>
                    <p>Aucun article correspond à la recherche !<p>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
