{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>{% if registrationStep.title is not empty %}{{ registrationStep.title }}{% else %}Nouvelle étape d'inscription{% endif %}</h1>
            <span class="tools">
                <a href="{{ path('admin_registration_step_list') }}" class="btn btn-ico" title="Retour au étapes des inscription"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div class="wrapper-body">
            {{ form_start(form) }}
            <div class="row row-align-top">
                <div class="col-md-6">
                    {{ form_row(form.title) }}
                    {{ form_row(form.registrationStepGroup) }}
                    {{ form_row(form.category) }}
                    <h2>Affichage</h2>
                    {{ form_row(form.yearlyDisplayMode) }}
                    {{ form_row(form.trialDisplayMode) }}
                    {{ form_row(form.personal) }}
                    {{ form_row(form.form) }}
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group form-group-file" data-controller="input-file">
                        <div class="form-group" data-pdf-size-ratio-value="1.41" data-controller="pdf-size">
                            <object
                                width="100%" 
                                type="application/pdf" 
                                data="{{ registrationStep.pdfRelativePath }}"
                                data-input-file-target="media"
                                data-pdf-size-target="media"
                            >
                                <p>Le fichier PDF ne peut pas être affiché avec ce navigateur.</p>
                            </object>
                        </div>
                        <p data-input-file-target="filename">{{ registrationStep.pdfFilename }}</p>
                        {{ form_row(form.pdfFile) }}
                    </div>
                </div>
            </div>
            <div class="form-group">{{ form_row(form.content) }}</div>
            {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
