{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="/css/verticalStepProgress.css">
{% endblock %}
{% block body %}
    <div class="wrapper">
        <div class="block padding-10">
            <div class="block-title">
                <h2>{{ registrationStep.title }}</h2>
            </div>
            <div class="block-body">
                {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.filename) }}
                {{ form_row(form.form) }}
                {{ form_row(form.content) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
