{% extends 'base.html.twig' %}

{% block title %}Le club{% endblock %}

{% block body %}
    <div class="wrapper background-green background-color col-content">
        {{ include('component/carrousel.html.twig', {'content': {'backgrounds': backgrounds}}) }}
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal">
                <img src="{{ link.image }}"/>
                <h2>{{ link.description }}</h2>
                <div>{{ link.content|raw }}</div>
                <div class="content-footer">
                <a class="btn btn-primary" href="{{ link.url }}" target="_blank">Visitez</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
