{% extends 'base.html.twig' %}

{% block title %}Gestion des categories{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="wrapper-title">
            <h1 class="font-bold text-3xl">Gestion des categories</h1>
            <div class="tool-group">
                <a href="{{ path('admin_second_hand_list')}}" class="btn btn-ico" title="Retour à la liste des annonces"><i class="fas fa-chevron-left"></i></a>
            </div>
        </div>
        <div class="wrapper-body">
            <a href="{{ path('admin_category_edit') }}" class="btn btn-primary mb-20" title="Ajouter une catégorie"><i class="fas fa-plus"></i> Ajouter une catégorie</a>
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <div>{{ category.name }}</div>
                        <div class="dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                            <div class="dropdown-menu" data-target="dropdown-tools">
                                <ul class="dropdown-body">
                                    <li>
                                        <a  class="dropdown-item" href="{{ path('admin_category_edit', {'category': category.id})}}" title="modifier" data-turbo-frame="modal_content"><i class="fas fa-pencil-alt"></i> Modifier</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('admin_category_delete', {'category': category.id})}}" title="Supprimer" data-turbo-frame="modal_content"><i class="fas fa-times"></i> Supprimer</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
