<turbo-frame id="registration-list">
    <div class="wrapper-title">
        <h1>Gestion des inscriptions {{ app.session.get('currentSeason') }} - <span class="badge badge-info">{{ paginator.total }}</span></h1>
        <div class="tool-group">
            <a 
                href="{{ path('wiki_show', {'directory': 'inscriptions'})}}" 
                target="_blank" 
                title="wiki"
                class="text-foreground lg:text-muted lg:hover:text-foreground"
            >
                {{ ux_icon('lucide:circle-help',{ class: 'w-5 h-5' }) }}
            </a>
            {% include 'component/dropdown_settings.html.twig' %}
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                <div class="dropdown-menu" data-target="dropdown-tools">
                    <ul class="dropdown-body">
                        <li>
                            <a 
                                class="dropdown-item" 
                                data-controller="email-to-clipboard" 
                                data-action="click->email-to-clipboard#emailToClipboard"
                                data-email-to-clipboard-url-value="{{ path('admin_registrations_email_to_clipboard') }}"
                                title="Copier les emails de la séléction"
                            >
                                <i class="fas fa-copy"></i> Copier les emails de la séléction
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_registrations_export') }}" 
                                class="dropdown-item" 
                                title="Exporter la sélection"
                                data-turbo-frame="_top"
                            >
                                <i class="fas fa-file-csv"></i> Exporter la sélection
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include('user/admin/filters.html.twig') %}
    <div class="wrapper-body">
        {% include 'component/pagination.html.twig' with {'margin': 'bottom'} %}
        <ul>
            {% for user in users %}
                <li class="col-list col-1md-btn">
                    <div class="list-dropdown">
                        <a href="{{ path('admin_registration_user', {'user': user.id})}}" data-turbo-frame="_top"
                            {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
                            <div class="row">
                                <div class="col-md-7 col-xs-12">{{ user.member.fullName }}</div>
                                {% if user.lastLicence.isYearly is same as(false) %}
                                    <div class="col-md-5 col-xs-12">
                                        {{ user.trialSessionsPresent }}/{{ user.testingBikeRides }} séances d'essai
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        {% include 'component/dropdown.html.twig' with {dropdown: user.dropdown} %}
                    </div>
                    {% if user.lastLicence.stateAction %}
                        <a 
                            class="{{ user.lastLicence.stateAction.className }}" 
                            href="{{ user.lastLicence.stateAction.url }}" 
                            title="{{ user.lastLicence.stateAction.title }}" 
                            data-turbo-frame="{{ user.lastLicence.stateAction.target }}"
                        >
                            <div class="flex items-center gap-2 justify-center">
                                {{ ux_icon(user.lastLicence.stateAction.icon) }}
                                <div>{{ user.lastLicence.stateAction.label }}</div>
                            </div> 
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
    </div>
</turbo-frame>