{% extends 'base.html.twig' %}

{% block title %}{{ user.member.fullName }}{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title" {% if user.titleColors is not null %} style="background-color: {{ user.titleColors.background }}; color: {{ user.titleColors.color }}"{% endif %}>
            <h1>{{ user.member.fullName }}</h1>
            <span class="tools">
                <a href="{{ referer is defined ? referer : path('admin_user', {'user': user.entity.id}) }}"
                    class="btn btn-ico" title="Retour à la fiche de l'adhérents">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </span>
        </div>

        {{ form_start(form) }}
        <div class="wrapper-body">
            <div class="form-group">
                {{ form_row(form.licenceNumber) }}
                <div class="form-group-inline align-right">
                    <a href="{{ path('admin_send_number_licence', {'user': user.entity.id })}}" class="btn btn-xs btn-success"><i class="fas fa-paper-plane"></i> Envoyer le numéro de licence</a>
                </div>
            </div>
            <div class="form-group">{{ form_row(form.level) }}</div>
            {% for licence in form.licences %}
                {% if licence.status is defined and licence.final is defined %}
                    <div class="form-group">{{ form_row(licence.status) }}</div>
                    <div class="form-group">{{ form_row(licence.final) }}</div>
                    <div class="form-group">{{ form_widget(licence.isVae)}} {{ form_label(licence.isVae)}}</div>
                {% endif %}
            {% endfor %}
            <div class="form-group">{{ form_row(form.health.medicalCertificateDate) }}</div>
        </div>
        <div class="wrapper-footer">
            {{ form_row(form.save) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
