{{ form_start(form) }}
<div class="row filters">
    <div class="col-md-6 col-xs-12">{{ form_widget(form.user) }}</div>
    {% if form.status is defined %}
        <div class="col-md-6 col-xs-12">
            {{ form_widget(form.status)}}
        </div>
    {% endif %}
    {% if form.permission is defined %}
        <div class="col-md-12 col-xs-12">
            {{ form_widget(form.permission)}}
        </div>
    {% endif %}
    <div class="col-md-12 col-xs-12">
        {{ form_widget(form.levels)}}
    </div>
</div>
{{ form_end(form) }}