{% extends 'base.html.twig' %}

{% block title %}Participation - {{ user.member.fullName }}{% endblock %}

{% block body %}
    {% set licence = user.lastLicence %}
    <div class="wrapper">
        <div class="wrapper-title" {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
            <h1>Participation - <span class="badge badge-info">{{ paginator.total }}</span></h1>
             <div class="tool-group">
            <a href="{{ referer is defined ? referer : path('admin_users', {'filtered': 1}) }}" class="btn btn-ico" title="Retour à la liste des adhérents"><i class="fas fa-chevron-left"></i></a>
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                <div class="dropdown-menu" data-target="dropdown-tools">
                    <ul class="dropdown-body">
                        <li><a href="{{ path('admin_user_participation_export', {'user': user.id}) }}" class="dropdown-item" title="Exporter"<i class="fas fa-file-download"></i> Exporter la sélection</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="wrapper-body">
            <h2>{{ user.member.fullName }}</h2>
            {% if user.level.type == constant('App\\Entity\\Level::TYPE_FRAME') %}
                <p>Total des indemnités : {{ total_indemnities.toString }}</p>
            {% endif %}
            {{ form_start(form) }}
            <div class="form-group filters align-items-bottom">
                <div class="form-group-inline">
                    {{ form_row(form.startAt) }}
                    {{ form_row(form.endAt) }}
                </div>
                <div class="form-group-inline">{{ form_row(form.bikeRideType) }}</div>
            </div>
            {{ form_end(form) }}
            {% include 'common/pagination.html.twig' with {'margin': 'bottom'} %}
            <ul>
                {% for session in sessions %}       
                    <li class="row row-list light-separator">
                        {% set col_md = user.level.type == constant('App\\Entity\\Level::TYPE_FRAME') ? 3 : 4 %}
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.bikeRide.period }}</div>
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.bikeRide.title }} </div>
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.userIsOnSiteToHtml|raw }}</div>
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.indemnityStr }} </div>
                    </li>
                {% endfor %}
            </ul>
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %}
        </div>
    </div>
{% endblock %}

