{% extends 'base.html.twig' %}

{% block title %}Participation - {{ user.member.fullName }}{% endblock %}

{% block body %}
    {% set licence = user.lastLicence %}
    <div class="wrapper">
        <div class="wrapper-title" {% if user.titleColors is not null %} style="background-color: {{ user.titleColors.background }}; color: {{ user.titleColors.color }}"{% endif %}>
            <h1>Participation - <span class="badge badge badge-info">{{ count }}</span></h1>
            <span class="tools">
                <a href="{{ referer is defined ? referer : path('admin_users', {'filtered': 1}) }}"
                    class="btn btn-ico" title="Retour à la liste des adhérents">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </span>
        </div>
        <div class="wrapper-body">
            <h2>{{ user.member.fullName }}</h2>
            <p>Total des indemnités : {{ total_indemnities.toString }}</p>
            {{ form_start(form) }}
            <div class="form-group filters">
                <div class="form-group-inline">{{ form_row(form.season) }}</div>
                <div class="form-group-inline">{{ form_row(form.bikeRideType) }}</div>
            </div>
            {{ form_end(form) }}
            <ul>
                {% for session in sessions %}       
                    <li class="row row-list light-separator">
                        {% set col_md = user.level.type == constant('App\\Entity\\Level::TYPE_FRAME') ? 3 : 4 %}
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.bikeRide.period }}</div>
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.bikeRide.title }} </div>
                        <div class="col-md-{{ col_md}} col-xs-12">
                            {% if session.userIsOnSite %}<span class="success"></span> Présent{% else %}<span class="alert-danger"></span> Absent{% endif %}
                        </div>
                        <div class="col-md-{{ col_md}} col-xs-12">{{ session.indemnityStr }} </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}

