{% extends 'base.html.twig' %}

{% block title %}{{ user.member.fullName }}{% endblock %}

{% block body %}
    {% set licence = user.lastLicence %}      
    <div class="wrapper">
        <div class="wrapper-title" {% if user.level.colors is not null %} style="background-color: {{ user.level.colors.background }}; color: {{ user.level.colors.color }}"{% endif %}>
            <h1>{{ user.member.fullName }}</h1>
            <span class="tools">
                <a href="{{ referer is defined ? referer : path('admin_users', {'filtered': 1}) }}"
                    class="btn btn-ico" title="Retour à la liste des adhérents">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </span>
        </div>
        <div class="wrapper-body" style="align-items: flex-start;">
            <div class="block background-ligth">
                <div class="block-title">
                    <h2>Adhérent</h2>
                    {% if is_granted('USER_EDIT', user) %}
                        <div class="tools">
                            <a href="{{ path('admin_identity_edit', {'user': user.id}) }}"
                                class="btn" title="Modifier">
                                <i class="fas fa-edit"></i> 
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="row block-body">
                    {% if user.member.picture %}
                        <div class="col-md-3 col-xs-4">
                            <img src="{{ user.member.picture }}" style="width: 100px;">
                        </div>
                    {% endif %}
                    <div class="col-md-9 col-xs-12">
                        <ul>
                            <li><div class="row"><div class="col-md-5 col-xs-6"><b>Date de naissance : </b></div><div class="col-md-7 col-xs-6">{{ user.member.birthDate }}</div></div></li>
                            <li><div class="row"><div class="col-md-5 col-xs-6"><b>Lieu de naissance : </b></div><div class="col-md-7 col-xs-6">{{ user.member.birthPlace }}</div></div></li>
                            {% if user.member.birthDepartment %}
                                <li><div class="row"><div class="col-md-5 col-xs-6"></div><div class="col-md-7 col-xs-6">{{ user.member.birthDepartment }}</div></div></li>
                            {% endif %}
                            <li><div class="row"><div class="col-md-5 col-xs-6"></div><div class="col-md-7 col-xs-6">{{ user.member.birthCountry }}</div></div></li>
                            <li><div class="row"><div class="col-md-5 col-xs-6"><b>Adresse : </b></div><div class="col-md-7 col-xs-6">{{ user.member.address.street }}</div></div></li>
                            <li><div class="row"><div class="col-md-5 col-xs-6"></div><div class="col-md-7 col-xs-6">{{ user.member.address.postalCode }} {{ user.member.address.town }}</div></div></li>
                            <li><div class="row"><div class="col-md-5 col-xs-6"><b>Adresse mail : </b></div><div class="col-md-7 col-xs-6">{{ user.member.email }}</div></div></li>
                            <li><div class="row"><div class="col-md-5 col-xs-6"><b>Téléphone : </b></div><div class="col-md-7 col-xs-6">{{ user.member.phonesAnchor|raw }}</div></div></li>
                            {% if user.approvals.goingHome is defined %}
                                <li><div class="row"><div class="col-md-5 col-xs-6"></div><div class="col-md-7 col-xs-6 {{ user.approvals.goingHome.class.color }}">{{ user.approvals.goingHome.message }}</div></div></li>
                            {% endif %}
                        </ul>

                    </div>
                </div>
                    {% if user.member.emergencyPhone is not null %}
                        <div class="separator"></div>
                        <ul>
                            <li><b>Téléphone de la personne à prévenir en cas d'urgence: </b>{{ user.member.emergencyPhoneAnchor|raw }}</li>
                            <li><b>Lien de parenté: </b>{{ user.member.emergencyContact}}</li>
                        </ul>
                    {% endif %}
                </div>

            {% if user.kinship is not empty and user.secondKinship is not empty %}
                <div class="block background-ligth">
                    <div class="block-title">
                        <h2>Parents</h2>
                        {% if is_granted('USER_EDIT', user) and (user.secondKinship is not empty or user.secondKinship is not empty) %}
                            <div class="tools">
                            <a href="{{ path('admin_identity_edit', {'user': user.id, 'isKinship': 1}) }}"
                                    class="btn" title="Modifier">
                                    <i class="fas fa-edit"></i> 
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="block-body">
                        <ul>
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>{{ user.kinship.type | trans  }}</b></div><div class="col-md-8 col-xs-6">{{ user.kinship.fullName }}</div></div></li>
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Adresse : </b></div><div class="col-md-8 col-xs-6">{{ user.kinship.address.street }}</div></div></li>
                            <li><div class="row"><div class="col-md-4 col-xs-6"></div><div class="col-md-8 col-xs-6">{{ user.kinship.address.postalCode }} {{ user.kinship.address.town }}</div></div></li>
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Adresse mail : </b></div><div class="col-md-8 col-xs-6">{{ user.kinship.email }}</div></div></li>
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Téléphone : </b></div><div class="col-md-8 col-xs-6">{{ user.kinship.phonesAnchor|raw }}</div></div></li>
                        
                        </ul>
                    </div>
                    <div class="separator"></div>
                    <ul>
                        <li><div class="row"><div class="col-md-4 col-xs-6"><b>{{ user.secondKinship.type | trans  }} : </b></div><div class="col-md-8 col-xs-6">{{ user.secondKinship.fullName }}</div></div></li>
                        <li><div class="row"><div class="col-md-4 col-xs-6"><b>Téléphone : </b></div><div class="col-md-8 col-xs-6">{{ user.secondKinship.phonesAnchor|raw }}</div></div></li>
                    </ul>
                </div>
            {% endif %}
            <div class="block background-ligth">
                <div class="block-title">
                    {% if user.level.type %}
                        <h2>{{ constant('App\\Entity\\Level::TYPES')[user.level.type] | trans }}</h2>
                    {% endif %}
                    {% if is_granted('USER_EDIT', user) %}
                        <div class="tools">
                            <a href="{{ path('admin_user_board_role', {'user': user.id}) }}"
                                class="btn" title="Modifier">
                                <i class="fas fa-edit"></i> 
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="block-body">
                    <ul>
                        {% if user.level.type is not null %}
                            <li><div class="row"><div class="col-md-3 col-xs-6"><b>Niveau : </b></div><div class="col-md-9 col-xs-6">{{ user.level.title }}</div></div></li>
                        {% endif %}
                        {% if user.boardRole is not null %}
                            <li><div class="row"><div class="col-md-3 col-xs-6"><b>Fonction : </b></div><div class="col-md-9 col-xs-6">{{ user.boardRole }}</div></div></li>
                        {% endif %}
                        {% if user.permissions is not null %}
                            <li><div class="row"><div class="col-md-3 col-xs-6"><b>Droits : </b></div><div class="col-md-9 col-xs-6">{{ user.permissions|raw }}</div></div></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="block background-ligth">
                <div class="block-title d-flex align-items-center">
                    <h2>Licence </h2>
                    {% if user.isEndTesting %}
                        <span class="bs-badge text-bg-danger mx-20">{{ 'Période d\'essai terminée'}}</span>
                    {% else %}
                        <span class="bs-badge text-bg-info mx-20">{{ licence.isYearly ? licence.shortSeason : 'Période d\'essai'}}</span>
                    {% endif %}
                    {% if is_granted('USER_EDIT', user)%}
                        <div class="tools">
                        <a href="{{ path('admin_user_edit', {'user': user.id}) }}"
                                class="btn" title="Modifier">
                                <i class="fas fa-edit"></i> 
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="block-body">
                    <ul>
                        <li><div class="row"><div class="col-md-4 col-xs-6"><b>Numéro</b></div><div class="col-md-8 col-xs-6">{{ user.licenceNumber }}</div></div></li>
                        <li><div class="row"><div class="col-md-4 col-xs-6"><b>Saison</b></div><div class="col-md-8 col-xs-6">{{ licence.shortSeason }}</div></div></li>
                        {% if licence.createdAt is not null %}
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Date d'incription</b></div><div class="col-md-8 col-xs-6" title="{{ licence.createdAtLong }}">{{ licence.createdAt }}</div></div></li>
                        {% endif %}
                        {% if licence.testingAt is not null %}
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Date d'incription à la période d'éssaie</b></div><div class="col-md-8 col-xs-6" title="{{ licence.testingAtLong }}">{{ licence.testingAt }}</div></div></li>
                        {% endif %}
                        {% if licence.state is not null %}
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Statut :</b></div><div class="col-md-8 col-xs-6">{{ licence.state.value|trans }}</div></div></li>
                            <li><div class="row"><div class="col-md-4 col-xs-6"></div><div class="col-md-8 col-xs-6">
                            {% if licence.isSeasonLicence %}
                                {% if not licence.currentSeasonForm %}
                                    <span class="success"></span><span>Assurance {{ app.session.get('currentSeason')}} validée</span>
                                {% else %}
                                    <span class="danger"></span><span>Assurance {{ app.session.get('currentSeason')}} manquante</span>
                                {% endif %}
                            {% endif %}
                            </div></div></li>
                        {% endif %}
                        {% if licence.isYearly is same as(false) %}
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>En période de test :</b></div><div class="col-md-8 col-xs-6"> {{ user.trialSessionsPresent }} / {{ user.testingBikeRides }} sortie(s)</div></div></li>
                        {% endif %}
                        {% if licence.coverage is not null %}
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Assurance : </b></div><div class="col-md-8 col-xs-6">{{ licence.coverageStr|trans }}</div></div></li>
                        {% endif %}
                        {% if licence.familyMember is not null %}
                            <li><div class="mt-10 row"><div class="col-md-4 col-xs-6"><b>Membre de la famille </b></div><div class="col-md-8 col-xs-6">{{ licence.familyMember.licenceNumber }} - {{ licence.familyMember.fullName }}</div></div></li>
                        {% endif %}
                        {% if licence.isVae is not null %}
                            <li><div class="row"><div class="col-md-4 col-xs-6"></div><div class="col-md-8 col-xs-6">{{ licence.isVae }}</div></div></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="block background-ligth">
                <div class="block-title">
                    <h2>Authorisations</h2>
                </div>
                <div class="block-body">
                    <ul>
                        {% for licenceAuthorization in licence.authorizations %}
                            <li style="position: relative">
                                <div><b>{{ licenceAuthorization.toHtml.message }}</b></div>
                                <div style="position: absolute; right: 0; top: 0;">
                                    <a href="{{ path('admin_licence_authorization_edit', {'licenceAuthorization': licenceAuthorization.id}) }}" class="btn" style="padding: unset; font-size: 20px" title="Modifier"><i class="fas fa-edit"></i></a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if licence.isYearly and user.health is not empty %}
                <div class="block background-ligth">
                <div class="block-title">
                    <h2>Informations sanitaires</h2>
                    {% if is_granted('USER_EDIT', user) %}
                        <div class="tools">
                        <a href="{{ path('admin_health_edit', {'user': user.id}) }}"
                                class="btn" title="Modifier">
                                <i class="fas fa-edit"></i> 
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="block-body">
                    <div class="col-md-6 col-xs-12">
                        <ul>
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Certificat médical :</b></div><div class="col-md-8 col-xs-6">{{ user.health.medicalCertificateDate}}</div></div></li>
                            <li><div class="row"><div class="col-md-4 col-xs-6"><b>Pathologie</b></div><div class="col-md-8 col-xs-6">{{ user.health.content}}</div></div></li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

