{% extends 'base.html.twig' %}

{% block title %}Gestion des adhérents{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>Gestion des adhérents - <span class="badge badge-info">{{ paginator.total }}</span></h1>
            <div class="tool-group">
                <a href="{{ path('wiki_show', {'directory': 'adhérents'})}}" target="_blank" title="wiki" class="btn-wiki"></a>
                {% include 'component/dropdown_settings.html.twig' %}
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                    <div class="dropdown-menu" data-target="dropdown-tools">
                        <ul class="dropdown-body">
                            <li><a href="{{ path('admin_members_email_to_clipboard') }}" class="dropdown-item email-to-clipboard" title="Copier les emails de la séléction"><i class="fas fa-copy"></i> Copier les emails de la séléction</a></li>
                            <li><a href="{{ path('admin_members_export') }}" class="dropdown-item" title="Export la sélection"><i class="fas fa-file-csv"></i> Export la sélection</a></li>
                            <li><a href="{{ path('admin_overview_season') }}" class="dropdown-item" title="Sythèse par saison"><i class="fa-solid fa-users-rectangle"></i> Sythèse par saison</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% include('user/admin/filters.html.twig') %}

        <div class="wrapper-body">
            {% include 'common/pagination.html.twig' with {'margin': 'bottom'} %}
            <ul>
                {% for user in users %}
                    <li class="list-dropdown"> 
                        <a href="{{ path('admin_user', {'user': user.id})}}"
                            {% if user.level.colors is not null %}style="background-color: {{ user.level.colors.background }}"{% endif %}>
                            <div class="row">
                                <div class="col-md-4 col-xs-12">{{ user.member.fullName }}</div>
                                <div class="col-md-4 col-xs-12">
                                    {% if user.lastLicence.isFinal is same as(false) %}
                                        {{ user.testingBikeRides }}/3 séances d'essai
                                    {% endif %}
                                </div>
                                <div class="col-md-3 col-xs-10">
                                    {{ user.level.title }}
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    {% if user.isBoardMember %}<i class="fa-solid fa-crown"></i>{% endif %}
                                </div>
                            </div>
                        </a> 
                        {% include('user/admin/dropdown.html.twig') %}
                    </li>
                {% endfor %}
            </ul>
            {% include 'common/pagination.html.twig' with {'margin': 'top'} %}
        </div>
    </div>
{% endblock %}
