{% extends 'base.html.twig' %}

{% block title %}Gestion des adhérents{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Gestion des adhérents - <span class="badge badge-info">{{ count }}</span></h2>
                <span class="tools">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('admin_users_export') }}" class="btn btn-success btn-ico" title="Export la sélection"><i class="fas fa-file-csv"></i></a>
                    {% endif %}
                </span>
            </div>
            <div class="block-body">
                {{ form_start(form) }}
                <div class="filters">
                    <ul>
                        <li>{{ form_widget(form.fullName)}}</li>
                        <li>{{ form_widget(form.submit)}}</li>
                    </ul>
                    <ul>
                        <li>
                            {{ form_widget(form.status)}}
                        </li>
                        <li>
                            {{ form_widget(form.level)}}
                        </li>
                    </ul>
                </div>
                {{ form_end(form) }}
                <ul>
                    {% for user in users %}
                        {% set licence = user.lastLicence %}           
                        <li>
                            <div>
                            <a href="{{ path('admin_user', {'user': user.id})}}" class="btn btn-list" title="Informatons sur l'adhérent" {% if user.level is not null %}style="background-color: {{ user.level.color }}"{% endif %}>
                                <div class="row row-list">
                                    <div class="col-md-1 col-xs-1">
                                        {% if licence is not empty %}
                                            <span class="{{ licence.statusClass }}"></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5 col-xs-11">{{ user.member.fullName }}</div>
                                    <div class="col-md-3 col-xs-12">
                                        {% if user.seasonLicence is not empty and not user.seasonLicence.isFinal %}
                                            {{ user.testingBikeRides }}/3 séances d'essai
                                        {% endif %}
                                    </div>
                                    <div class="col-md-3 col-xs-12">
                                        {{ user.level }}
                                    </div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
