{% extends 'base.html.twig' %}

{% block title %}Calendrier des adhérents{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="block">
            <div class="block-title">
                <h2>Gestion des adhérents</h2>
            </div>
            <div class="block-body">
                {{ form_start(form) }}
                <div class="filters">
                    <ul>
                        <li>{{ form_widget(form.fullName)}}</li>
                        <li>{{ form_widget(form.submit)}}</li>
                    </ul>
                    <ul>
                        <li>
                            {{ form_widget(form.category)}}
                        </li>
                        <li>
                            {{ form_widget(form.level)}}
                        </li>
                    </ul>
                </div>
                {{ form_end(form) }}
                <ul>
                    {% for user in users %}     
                        {% set licence = user.seasonLicence(licence_service.currentSeason) %}           
                        <li>
                            <div>
                            <a href="{{ path('admin_user', {'user': user.id})}}" class="btn btn-list" title="Informatons sur l'adhérent" {% if user.level is not null %}style="background-color: {{ user.level.color }}"{% endif %}>
                                <div class="row row-list">
                                    <div class="col-md-1 col-xs-1">
                                        {% if licence %}
                                            <span class="success"></span>
                                        {% else %}
                                            <span class="alert-danger "><i class="fas fa-times-circle"></i></span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-8 col-xs-6">{{ user.member.fullName }}</div>
                                    <div class="col-md-3 col-xs-5">{{ user.level }}</div>
                                </div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include('common/pagination.html.twig') %}
    </div>
{% endblock %}
