{% extends 'base.html.twig' %}

{% block title %}Gestion des commandes{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="wrapper-title">
            <h1>Gestion des commandes - <span class="badge badge-info">{{ paginator.total }}</span></h1>
            <div class="tool-group">
                <a href="{{ path('wiki_show', {'directory': 'boutique'})}}" target="_blank" title="wiki" class="btn-wiki"></a>
                {% include 'component/dropdown_settings.html.twig' %}
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                    <div class="dropdown-menu" data-target="dropdown-tools">
                        <ul class="dropdown-body">
                            <li><a href="{{ path('admin_order_headers_export') }}" class="dropdown-item" title="Exporter la sélection"><i class="fas fa-file-csv"></i> Exporter la sélection</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper-body">
            {% if form is defined %}
            {{ form_start(form) }}
            <div class="filters">
                <ul>
                    <li>{{ form_widget(form.status)}}</li>
                </ul>
            </div>
            {{ form_end(form) }}
            {% endif %}
            {% include 'component/pagination.html.twig' with {'margin': 'bottom'} %}
            <ul id="orders_container">
                {% for order in orders %}
                    <li class="col-list col-1md-1sx-btn">
                        <div class="list-dropdown">
                            <a href="{{ path('admin_order', {'orderHeader': order.id})}}" class="btn btn-list btn-light" title="Voir la commande">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12">{{ order.createdAt }}</div>
                                    <div class="col-md-4 col-xs-12">{{ order.user.member.fullName }}</div>
                                    <div class="col-md-2 col-xs-12">{{ order.amount }}</div>
                                    <div class="col-md-3 col-xs-12">{{ order.status|trans }}</div>
                                </div>
                            </a>
                        </div>
                        <div>
                            {% if order.status == enum('App\\Entity\\Enum\\OrderStatusEnum').ORDERED %}
                                <a class="btn btn-success btn-fixed" href="{{ path('admin_order', {'orderHeader': order.id})}}" title="Valider">
                                    <div><i class="fas fa-check"></i> Valider</div>
                                </a>
                            {% endif %}
                            {% if order.status == enum('App\\Entity\\Enum\\OrderStatusEnum').VALIDED %}
                                <a class="btn btn-primary order-status btn-fixed" href="{{ path('admin_order_status', {'orderHeader': order.id, 'status': enum('App\\Entity\\Enum\\OrderStatusEnum').COMPLETED.value})}}" title="Cloturer">
                                    <div><i class="fas fa-check"></i> Cloturer</div>
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            {% if order.status not in [enum('App\\Entity\\Enum\\OrderStatusEnum').COMPLETED, enum('App\\Entity\\Enum\\OrderStatusEnum').CANCELED] %}
                                <a class="btn btn-danger" href="{{ path('order_delete', {'orderHeader': order.id}) }}" data-toggle="modal" data-type="danger" title="Annuler">
                                    <i class="fas fa-times"></i>
                                </a>
                            {% endif %}
                        </di>
                    </li>
                {% endfor %}
            </ul>
            {% if orders is empty %}Aucune commande{% endif %}
            {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
        </div>
    </div>
{% endblock %}
