{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <div id="order" class="wrapper">
        <div class="wrapper-title">
            <h1>Cde {{ order.id }} du {{ order.createdAt }}</h1>
            <div class="tool-group">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                    <div class="dropdown-menu" data-target="dropdown-tools">
                        <ul class="dropdown-body">
                            <li><a href="{{path('order_acknowledgement', {'orderHeader': order.id})}}" class="dropdown-item"><i class="fas fa-download"></i> Télécharger</a></li>
                        </ul>
                    </div>
                </div>
                <a href="{{ path('admin_orders', {'filtered': true}) }}" class="btn btn-ico" title="Retour à la liste des commandes">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </div>
        </div>
        <div class="wrapper-body">
            {% set member = order.user.member %}
            <a class="btn-list  block background-ligth" href="{{ path('admin_user', {'user': order.user.id }) }}">
                <div class="row">
                    <div class="col-md-3 col-xs-6 no-padding"><b>Nom :</b></div>
                    <div class="col-md-9 col-xs-6 no-padding">{{ member.fullName }}</div>
                    <div class="col-md-3 col-xs-6 no-padding"><b>Téléphone :</b></div>
                    <div class="col-md-9 col-xs-6 no-padding">{{ member.phone }}</div>
                    <div class="col-md-3 col-xs-6 no-padding"><b>Adresse mail :</b></div>
                    <div class="col-md-9 col-xs-6 no-padding">{{ member.email }}</div>
                </div>
            </a>
        </div>
        {{ form_start(form) }}
        <div class="wrapper-body">
            <ul>
                {% for line in order.orderLines %}
                    <li class="row row-list row-align-top block {{ line.available.backgroundColor }}">
                        <div class="col-md-2 col-xs-3">
                            <a href="{{ path('product_show', {'product': line.product.id}) }}">
                                <div class="thumbnail"><img class="" src="{{ line.product.pathName }}" alt=""></div>
                            </a>
                        </div>
                        <div class="col-md-5 col-xs-4">
                            {{ line.product.name }}<br>
                            {{ line.product.ref }}<br>
                            Taille : 
                            {% if form.orderLines[loop.index0].size is defined %}
                                {{ form_widget(form.orderLines[loop.index0].size) }}
                            {% else %}
                                {{ line.size }}
                            {% endif %}
                            <br>
                            {% if line.product.discountPrice %}{{ line.product.discountTitle }}{% endif %}
                            Prix/unitaire : <span class="{{ line.product.priceClass }}">{{ line.product.price }}</span>
                            {% if line.product.discountPrice %} <span class="price">{{ line.product.discountPrice }}</span>{% endif %}
                        </div>
                        <div class="col-md-2 col-xs-2 align-right form-group">
                            {{ line.quantity }}
                        </div>
                        <div class="col-md-3 col-xs-2 align-right">{{ line.amount }}</div>
                        <div class="col-md-12 align-right mt-10">
                            {% if form.orderLines[loop.index0].available is defined %}
                                {{ form_row(form.orderLines[loop.index0].available) }}
                            {% endif %}
                            {% if order.status == enum('App\\Entity\\Enum\\OrderStatusEnum').VALIDED or order.status == enum('App\\Entity\\Enum\\OrderStatusEnum').COMPLETED %}
                                <div class="bs-badge {{ line.available.color }}">{{ line.available.text }}</div>
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="wrapper-footer row">
            <div class="col-md-10 col-xs-10 align-right">Total :</div>
            <div class="col-md-2 col-xs-10  align-right">{{ order.amount }}</div>
            {% if form.validate is defined %}
                <div class="col-md-12">{{ form_row(form.comments) }}</div>
                <div class="col-md-12 justify-content-end d-flex mt-10">
                    {{ form_row(form.cancel) }}
                    {{ form_row(form.validate) }}
                </div>
            {% endif %}
            {% if form.complete is defined %}
                <div class="col-md-12 block background-ligth">{{ order.comments }}</div>
                <div class="col-md-12 justify-content-end d-flex mt-10">
                    {{ form_row(form.unValide) }}
                    {{ form_row(form.complete) }}
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
