{% extends 'base.html.twig' %}

{% set title = (background is null) ? 'Ajouter une image de fond' : 'Modifier une image de fond' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
            <div class="wrapper-title">
                <h1 class="font-bold text-3xl">{{ title }}</h1>
                <span class="tools">
                    <a href="{{ path('admin_background_list') }}" class="btn btn-ico" title="Retour à la gestion des images de fond"><i class="fas fa-chevron-left"></i></a>
                </span>
            </div>
            <div class="wrapper-body">
                <div class="form-group form-group-file" data-controller="input-file">
                    <canvas 
                        class="media-position" 
                        width="350" height="400" 
                        data-src="{{ background.path }}" 
                        style="border: 1px solid black; position: relative"
                        data-input-file-target="media"
                    ></canvas>
                    {{ form_row(form.backgroundFile) }}

                </div>
            </div>
            <div class="wrapper-footer">
                {{ form_errors(form) }}
                {{ form_row(form.save) }}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
