{% extends 'base_pdf.html.twig' %}

{% block body %}
<main class="minimize">
        <h2>{{ user.member.fullName }}</h2>
        <div>
            <br>
            <table class="table-fixed">
                <tr>
                    <td rowspan="5" style="width: 150px">
                        {% if user.member.picture %}
                            <img src="{{ user.member.picture|imgPath(media) }}" style="width: 80px;">
                        {% endif %}
                    </td>
                    <td colspan="3" ><b>Date naissance : </b>{{ user.member.birthDate }}</td>
                </tr>
                <tr>
                    <td colspan="3" ><b>Lieu de naissance : </b>{{ user.member.birthPlace }}</td>
                </tr>
                <tr>
                    <td colspan="3" ><b>Adresse : </b> {{ user.member.address.street }} {{ user.member.address.postalCode }} {{ user.member.address.town }}</td>
                </tr>
                <tr>
                    <td colspan="3" ><b>Courriel : </b>{{ user.member.email }}</td>
                </tr>
                <tr>
                    <td colspan="3" ><b>Téléphone : </b>{{ user.member.phone}}</td>
                </tr>
            </table>
            {% if user.lastLicence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') %}
                <table class="table-border">
                    <tr>
                        <td><b>Numéro de sécurité sociale</b></td>
                        <td>{{ user.health.socialSecurityNumber }}</td>
                    </tr>
                    <tr>
                        <td><b>Groupe sanguin</b></td>
                        <td>{{ user.health.bloodGroup }}</td>
                    </tr>
                    <tr>
                        <td><b>Mutuelle : </b>{{ user.health.mutualCompany }}</td>
                        <td><b>Numéro : </b>{{ user.health.mutualNumber }}</td>
                    </tr>
                    <tr>
                        <td><b>Date du dernier rappel antitétanique</b></td>
                        <td>{{ user.health.tetanusBooster }}</td>
                    </tr>
                    <tr>
                        <td>
                            <b>Médecin traitant : </b>{{ user.health.doctorName }}<br>{{ user.health.doctorAddress }} {{ user.health.doctorTown }}
                        </td>
                        <td><img src="data:image/png;base64,{{ user.health.phonePicto }}" alt=""> {{ user.health.doctorPhone }}</td>
                    </tr>
                </table>
                {% if user.health.diseases is not empty %}
                    <table class="table-border">
                        {% for category, diseases in user.health.diseases %}
                            {% for disease in diseases %}
                                <tr>
                                    <td><b>{{ disease.category|trans }}</b></td>
                                    {% if disease.title is not null %}
                                        <td>{{ disease.label }}</td>
                                        <td>{{ disease.title }}</td>
                                    {% else %}
                                        <td colspan="2">{{ disease.label }}</td>
                                    {% endif %}
                                    <td>{{ disease.curentTreatment }}</td>
                                    <td>{{ disease.emergencyTreatment }}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                {% endif %}
            {% endif %}
        </div>
        {% if user.kinship %}
            <table class="table-border table-fixed">
                <tr>
                    <td></td>
                    <td><b>{{ user.kinship.type | trans  }}</b></td>
                    <td><b>{{ user.secondKinship.type|trans}}</b></td>
                </tr>
                <tr>
                    <td style="width: 150px">Non et prénom</td>
                    <td>{{ user.kinship.fullName }}</td>
                    <td>{{ user.secondKinship.fullName}}</td>
                </tr>
                <tr>
                    <td>Téléphone</td>
                    <td>{{ user.kinship.phone}}</td>
                    <td>{{ user.secondKinship.phone}}</td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td colspan="2">
                        {{ user.kinship.address.street }}<br>{{ user.kinship.address.postalCode }} {{ user.kinship.address.town }}
                    </td>
                </tr>
                <tr>
                    <td>Courriel</td>
                    <td colspan="2">{{ user.kinship.email }}</td>
                </tr>
            </table>
        {% endif %}
        <ul>
            <li><b>Type de licence : </b>{{ user.lastLicence.type|trans}}</li>
            <li><b>Type d'assurance : </b>{{ user.lastLicence.coverageStr|trans }}</li>
        </ul>
        </div>
        </main>
{% endblock %}