<div id="cluster-{{ cluster.id }}" data-route="{{ path('admin_cluster_show', {'cluster': cluster.id })}}" class="cluster-container mb-20">
    <div class="cluster-title">
        <h2>{{ cluster.title }} - 
            <span class="badge badge-info">{{ cluster.usersOnSiteCount }}</span>
            {% if cluster.hasSkills %}
                <span class="badge badge-info"><i class="fa-solid fa-graduation-cap"></i></span>
            {% endif %}
        </h2>
            {% if bikeRide.isEditable or cluster.hasSkills %}
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                <div class="dropdown-menu" data-target="dropdown-tools">
                    <ul class="dropdown-body">
                        {% if bikeRide.isEditable %}
                            <li><a href="{{ path('admin_cluster_edit', {'bikeRide': bikeRide.id, 'cluster': cluster.id}) }}" class="dropdown-item" title="Renomer"><i class="fa-solid fa-pen-to-square"></i> Renommer</a></li>
                        {% endif %}
                        {% if bikeRide.bikeRideType.useLevels %}
                            <li><a href="{{ path('admin_cluster_evaluations', {'cluster': cluster.id}) }}" class="dropdown-item" title="Évaluations"><i class="fa-solid fa-graduation-cap"></i> Évaluation</a></li>
                        {% endif %}
                        {% if 0 == cluster.sessions|length and bikeRide.isEditable %}
                            <li><a href="{{ path('admin_cluster_delete', {'cluster': cluster.id}) }}" class="dropdown-item" title="Supprimer"><i class="fa-solid fa-circle-xmark"></i> Supprimer</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
    {% if cluster.availableSessions | length > 0 %}
        <ul>
            {% for session in cluster.availableSessions %}             
                {% include 'session/admin/list.html.twig' with {'user': session.user} %}
            {% endfor %}
        </ul>
        {% if cluster.isEditable and cluster.title != constant('App\\Entity\\Cluster::CLUSTER_FRAME') %}
            <div>
                {% if not cluster.isComplete %}
                    <a href="{{ path('admin_cluster_export', {'cluster': cluster.id}) }}" class="btn btn-100 btn-success cluster-complete{% if not bikeRide.isEditable %} disabled{% endif %}" data-cluster-id="{{ cluster.id }}" >
                        <i class="fas fa-check"></i> Valider le groupe
                    </a>
                {% else %}
                    <div class="row row-list">
                        <div class="col-md-9 col-xs-8">
                            <a href="{{ path('admin_cluster_complete', {'cluster': cluster.id}) }}" class="btn btn-100 btn-danger cluster-complete{% if not bikeRide.isEditable %} disabled{% endif %}" data-cluster-id="{{ cluster.id }}">
                                <i class="fas fa-unlock-alt"></i> Déverrouiller le groupe
                            </a>
                        </div>
                        <div class="col-md-3 col-xs-4">
                            <a id="cluster_export_{{ cluster.id }}" href="{{ path('admin_cluster_export', {'cluster': cluster.id}) }}" class="btn btn-100 btn-success{% if not bikeRide.isEditable %} disabled{% endif %}">
                                <i class="fas fa-file-pdf"></i> Exporter
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% else %}
        <p class="padding-10">Aucun inscrit</p>
    {% endif %}
</div>
