{% extends 'base.html.twig' %}
{% block title %}{{ bikeRide.title }}{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="wrapper-title">
        <h1>{{ bikeRide.title }} - {{ bikeRide.period }}</h1>
        <span class="tools">
            <a href="{{ path('admin_bike_rides', bike_rides_filters) }}" class="btn btn-ico" title="Retour à la liste des sorties"><i class="fas fa-chevron-left"></i></a>
        </span>
    </div>
    <div id="sessions_container" class="wrapper-body">
        {% for cluster in bikeRide.getClusters().clusters %}
            {% set hasClusters = bikeRide.getClusters().hasClusters %}
            {% if hasClusters %}
                <h2>{{ cluster.title }} - <span class="badge badge-info">{{ cluster.usersOnSiteCount }}</span></h2>
            {% endif %} 
            {% if cluster.sessions | length > 0 %}
                <ul>
                    {% for session in cluster.availableSessions %}             
                        {% include 'session/admin/list.html.twig' with {'user': session.user} %}
                    {% endfor %}
                </ul>
                {% if hasClusters and cluster.title != constant('App\\Entity\\Cluster::CLUSTER_FRAME') %}
                    <div>
                        {% if not cluster.isComplete %}
                            <a href="{{ path('admin_cluster_export', {'cluster': cluster.id}) }}" class="btn btn-100 btn-success cluster-complete" data-cluster-id="{{ cluster.id }}" target="_blank">
                                <i class="fas fa-check"></i> Valider le groupe
                            </a>
                        {% else %}
                            <div class="row row-list">
                                <div class="col-md-9 col-xs-8">
                                    <a href="{{ path('admin_cluster_complete', {'cluster': cluster.id}) }}" class="btn btn-100 btn-danger cluster-complete" data-cluster-id="{{ cluster.id }}">
                                        <i class="fas fa-unlock-alt"></i> Déverrouiller le groupe
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-4">
                                    <a id="cluster_export_{{ cluster.id }}" href="{{ path('admin_cluster_export', {'cluster': cluster.id}) }}" class="btn btn-100 btn-success">
                                        <i class="fas fa-file-pdf"></i> Exporter
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                <p class="padding-10">Auncun inscrit</p>
            {% endif %}
            {% if hasClusters and cluster.title == constant('App\\Entity\\Cluster::CLUSTER_FRAME') %}
                <div class="btn-container">
                    <a href="{{ path('admin_bike_ride_framer_list', {'bikeRide': bikeRide.entity.id})}}" class="btn btn-secondary">Voir tous l'encadrement</a>
                </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
    <div class="wrapper-footer">
        <a class="btn btn-primary" href="{{ path('admin_session_add', {'bikeRide': bikeRide.entity.id}) }}">Ajouter un participant</a>
    </div>
{% endblock %}
