<div class="form-group">
    {{ form_row(form.socialSecurityNumber) }}
</div>
<div class="form-group">
    {{ form_row(form.mutualCompany) }}
    {{ form_row(form.mutualNumber) }}
</div>
<div class="form-group">
    {{ form_row(form.bloodGroup) }}
    {{ form_row(form.tetanusBooster) }}
</div>
<div class="form-group">
    {{ form_row(form.doctorName) }}
    {{ form_row(form.doctorPhone) }}
</div>
<div class="form-group">
    {{ form_row(form.doctorAddress) }}
    {{ form_row(form.doctorTown) }}
</div>
{% set category = '' %}
{% for disease in form.diseases %}
    {% if category != disease.vars.value.diseaseKind.category %}
        {% set category = disease.vars.value.diseaseKind.category %}
        <b>{{ constant('App\\Entity\\DiseaseKind::CATEGORIES')[disease.vars.value.diseaseKind.category] | trans }}</b>

    {% endif %}
    <div class="form-group">
        {{ form_widget(disease.children.active)}}
        <div class="widget-inline disease-label{% if disease.vars.value.diseaseKind.hasCustomLabel %} disease-label-other{% endif %}">
            {{ disease.vars.value.diseaseKind.name }}
        </div>
        {% if disease.children.title is defined %}
            {{ form_widget(disease.children.title) }}
        {% endif %}
        {{ form_widget(disease.children.curentTreatment) }}

        {% if disease.children.emergencyTreatment is defined %}
            {{ form_widget(disease.children.emergencyTreatment) }}
        {% endif %}
    </div>
{% endfor %}