{% set groups = menu_admin_service.menuGroupsAdmin() %}
{% set menu_actived = menu_admin_service.menuActived() %}
<div class="nav-bar">
    <a href="" class="btn btn-ico"></a>
    <img src="/images/logo.jpg" alt="VTT EVASION LUDRES">
</div>

<nav class="admin">
    {% for key, group in groups %}
        {% set btn_class = (key == menu_actived) ? 'fas fa-angle-up' : 'fas fa-angle-down' %}
        {% set body_class = (key == menu_actived) ? 'down' : 'up' %}
        <div class="nav-group block" data-group="{{ key }}" data-toggle="block-body">
            <div class="block-title">
                <h2>{{ group.label|trans }}</h2>
                <span class="tools">
                    <a href="" class="btn btn-ico"><i class="{{ btn_class }}"></i></a>
                </span>
            </div>
            <div class="block-body {{ body_class }}" data-target="block-body">
                <ul>
                {% for menu in group.subMenus %}
                    {% if is_granted(menu.role) %}
                    <li>
                        <a href="{{ path(menu.route) }}"
                            {% if app.request.get('_route') matches menu.pattern %} class="active"{% endif %}>
                            {{ menu.label }}
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>         
        </div>         
    {% endfor %}
    <br>
    <div class="nav-group block">
        <div class="block-body">
            <ul>
                <li>
                    <a  href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                <li>
                    <a href="{{ path('home') }}">Retour au site</a>
                </li>
            </ul>
        </div>
    <div>
</nav>