{% set menus = nav_service.menusAdmin() %}
<div class="nav-bar">
    <a href="" class="btn btn-ico"></a>
    <img src="/images/logo.jpg" alt="VTT EVASION LUDRES">
</div>

<nav class="admin">
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            {% for menu in menus %}
                <li>
                    <a href="{{ path(menu.route) }}"{% if app.request.get('_route') matches menu.pattern %} class="active"{% endif %}>{{ menu.label }}</a>
                    {% if menu.subMenus is not empty %}
                        <ul class="sub-menu">
                            {% for sub_menu in menu.subMenus %}
                                <li>
                                    <a href="{{ path(sub_menu.route, sub_menu.params) }}">{{ sub_menu.label }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('admin_import_users') }}">Importer la liste des utilisateurs</a>
            </li>
            <li>
                <a href="{{ path('admin_update_licence_type') }}">Mise à jours type licence</a>
            </li>
            <li>
                <a href="{{ path('admin_update_phone') }}">Mise à jours des téléphones</a>
            </li>
            <li>
                <a href="{{ path('admin_departments') }}">Liste des départements</a>
            </li>
        </ul>
        <br>
    {% endif %}
    <ul>
        <li>
            <a  href="{{ path('app_logout') }}">Se déconnecter</a>
        </li>
        <li>
            <a href="{{ path('home') }}">Retour au site</a>
        </li>
    </ul>
</nav>