{% set article_edit_params = [] %}
{% if chapter is defined and chapter is not empty %}
    {% set article_edit_params = {'chapter':chapter.id, 'article':0} %}
{% endif %}
{% set actions = [{'name':'home', 'params':[], 'icon':'fas fa-list', 'title':'Index', 'role':'IS_AUTHENTICATED_ANONYMOUSLY'},
           {'name':'article_edit', 'params':article_edit_params,'icon':'far fa-plus-square', 'title':'Ajouter un article', 'role':'ROLE_USER'},
           {'name':'user_list', 'params':[], 'icon':'fas fa-user-cog', 'title':'Utilisateurs', 'role':'ROLE_ADMIN'},
           {'name':'settings', 'params':[], 'icon':'fas fa-sliders-h', 'title':'Paramètrage', 'role':'ROLE_ADMIN'}] %}

<div id="navBar">
    <nav id="nav" class="nav block">
        <ul>
            {% for action in actions %}
                {% if is_granted(action.role) %}
                <li id="{{action.name}}"{% if app.request.attributes.get('_route') matches '/'~action.name~'/' %} class="li-active"{% endif %}>
                <a href="{{path(action.name, action.params)}} " title="{{action.title}}">
                <i class="{{action.icon}}"></i>{{action.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% if not (app.request.get('_route') matches '/search/') %}
    <div id="searchContainer" class="nav block">
        {% set form_search = search_service.getForm.createView()%}
        {{ form_start(form_search) }}
        <button type="submit" name="submitSearch" <i class="fas fa-search"></button>
        {{ form_widget(form_search.term) }}
        {{ form_end(form_search) }}
    </div>
    {% endif %}

    {% if chapter is defined and chapter is not empty %}
        <div class="nav block">
            <h2>Sommaire</h2>
            <ul>
                {% for article in chapter.articles %}
                    <li>
                        <a class="link" href="{{path('chapter_show', {'chapter': chapter.id})}}#{{article.id}}">{{article.title}}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div id="login" class="nav block">
        {% if app.user %}
             <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i><span>Déconnexion</span></a>
        {% else %}
            <a href="{{path('app_login')}}"><i class="fas fa-sign-in-alt"></i><span>S'identifier</span></a>
        {% endif %}
    </div>
</div>