{% set base_classes = 'block transition' %}

{% set spaces_classes = button.label ? 'px-3 py-2' : 'p-2' %}
{% set align_class = button.variant.value == 'dropdown' ? 'justify-start' : 'justify-center' %}

{% import "component/_macros.html.twig" as utils %}

<a href="{{ button.url }}" 
   title="{{ button.title }}"
   class="{{ base_classes }}  {{ utils.rounded_class(button.rounded.value) }} {{ utils.color_class(button.variant.value) }}"
    {% for attribut in button.htmlAttributes %}
        {{ attribut.name }}="{{ attribut.value }}"
    {% endfor %}
>
    <div class="flex {{ align_class }}">
        <div class="flex items-center gap-2 {{ spaces_classes }}">
            {% if button.icon %}{{ ux_icon(button.icon) }}{% endif %}
            {% if button.label %}
                <div class="whitespace-nowrap overflow-hidden text-ellipsis max-w-48">{{ button.label}}</div>
            {% endif %}
        </div>
    </div>
</a>