{% extends 'base_modal_stimulus.html.twig' %}
{% set type = dialog.type %}
{% import "component/_macros.html.twig" as utils %}
{% block modal_title %}{{ dialog.title|capitalize }}{% endblock %}
{% block body %}
    <p>{{ dialog.message|raw }}</p>
{% endblock %}
{% block action %}
    <button 
        type="submit"
        class="flex justify-center rounded-md {{ utils.color_class(dialog.type.value) ??  utils.color_class('default')}}"
    >
    <div class="flex gap-3 items-center ">
        {{ ux_icon(dialog.icon, {class: 'size-5'}) }} {{ dialog.action|capitalize }}
    </div>
    </button>
{% endblock %}
