{% set variant_classes = {
    (enum('App\\Dto\\Enum\\RoundedVariant').ROUNDED.value): 'rounded-sm',
    (enum('App\\Dto\\Enum\\RoundedVariant').ROUNDED_START.value): 'rounded-t-sm lg:rounded-l-sm lg:rounded-tr-none',
    (enum('App\\Dto\\Enum\\RoundedVariant').ROUNDED_END.value): 'rounded-b-sm lg:rounded-r-sm lg:rounded-bl-none',
    (enum('App\\Dto\\Enum\\RoundedVariant').ROUNDED_NONE.value): '',
} %}

{% import "component/_macros.html.twig" as utils %}

{% set position_classes = (enum('App\\Dto\\Enum\\DropdownVariant').LIST_ITEM == dropdown.variant)
  ? 'absolute h-full w-8 right-0 top-0'
  : 'relative h-8 lg:self-stretch'
%}

{% set color_class = (dropdown.variant == enum('App\\Dto\\Enum\\DropdownVariant').BUTTON)
  ? 'bg-slate-300 lg:bg-slate-400 lg:hover:bg-slate-300 text-white'
  : 'text-foreground lg:text-muted lg:hover:text-foreground bg-transparent'
%}

{% if session is defined or is_granted('ROLE_ADMIN') %}
<div class="{{ position_classes }} w-8 text-foreground" data-controller="dropdown">
  <button 
    class="flex justify-center items-center h-full w-full hover:z-50 {{ color_class }} {{ utils.rounded_class(dropdown.rounded.value) }}" 
    type="button" 
    data-dropdown-target="trigger" 
    data-action="click->dropdown#toggle"
  >
    <div data-dropdown-target="icon">
        {{ ux_icon(dropdown.trigger, { class: 'w-5 h-5' }) }}
    </div>
    <div class="hidden" data-dropdown-target="activeIcon">
        {{ ux_icon('lucide:x', { class: 'w-5 h-5' }) }}
    </div>
  </button>
  <div 
    class="hidden absolute mt-0! top-0 right-8 bg-white rounded-sm border border-border w-max max-w-80 z-50" 
    data-dropdown-target="content"
  >
    {% if dropdown.title is not null %}
    <div class="px-3 py-2 bg-slate-200 [&>*:not(:first-child)]:border-t-1 [&>*:not(:first-child)]:border-border border-b-1 border-border">
      {{ dropdown.title }}
    </div>
    {% endif %}
    <ul class="[&>*:not(:first-child)]:border-t-1 [&>*:not(:first-child)]:border-border">
      {% for item in dropdown.infoItems %}
          <li class="px-3 py-2 text-primary italic flex items-center gap-2">
            {{ ux_icon(item.icon) }} {{ item.label }}
          </li>
      {% endfor %}

      {% for item in dropdown.menuItems %}
          <li>
            {% include 'component/_button.html.twig'  with {button: item} %}
          </li>
      {% endfor %}
      {% for item in dropdown.actionItems %}
        <li>
          <div
            class="hover:cursor-pointer block px-3 py-2 text-foreground lg:text-muted lg:hover:text-foreground"
            title="{{ item.label }}"
            {% for attribut in item.htmlAttributes %}
                {{ attribut.name }}="{{ attribut.value }}"
            {% endfor %}
          >
            <div class="flex items-center gap-2">
              {{ ux_icon(item.icon) }} <div class="whitespace-nowrap overflow-hidden text-ellipsis max-w-48">{{ item.label}}</div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}