{% if session is defined or is_granted('ROLE_ADMIN') %}
<div class="absolute h-full w-8 right-0 top-0" data-controller="dropdown">
  <button 
    class="group absolute bg-transparent flex justify-center items-center h-full w-full hover:bg-neutral-300 hover:z-50" 
    type="button" 
    data-dropdown-target="trigger" 
    data-action="click->dropdown#toggle"
  >
    <div data-dropdown-target="icon">
        {{ ux_icon('lucide:ellipsis-vertical', { class: 'w-5 h-5 text-neutral-500' }) }}
    </div>
    <div class="hidden" data-dropdown-target="activeIcon">
        {{ ux_icon('lucide:x', { class: 'w-5 h-5 text-neutral-500' }) }}
    </div>
  </button>
  <div 
    class="hidden absolute mt-0! top-0 right-8 bg-neutral-200 border-2 border-white w-max max-w-80 z-50" 
    data-dropdown-target="content"
  >
    {% if dropdown.title is not null %}
    <div class="p-3 bg-neutral-400 [&>*:not(:first-child)]:border-t-2 [&>*:not(:first-child)]:border-white">
      {{ user.member.fullName }}
    </div>
    {% endif %}
    <ul class="[&>*:not(:first-child)]:border-t-2 [&>*:not(:first-child)]:border-white">
      {% for item in dropdown.infoItems %}
          <li class="px-3 py-2 bg-neutral-300 flex items-center gap-2">
            {{ ux_icon(item.icon) }} {{ item.label }}
          </li>
      {% endfor %}

      {% for item in dropdown.menuItems %}
          <li>
            <a 
              class="block px-3 py-2 bg-neutral-200 hover:bg-neutral-300"
              href="{{ item.url }}" 
              title="{{ item.label }}"
              data-turbo-frame="{{ item.target}}"
            >
              <div class="flex items-center gap-2">
                {{ ux_icon(item.icon) }} {{ item.label}}
              </div>
            </a>
          </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}