{% if session is defined or is_granted('ROLE_ADMIN') %}
<div class="{{ dropdown.position }} h-full w-8 text-foreground" data-controller="dropdown">
  <button 
    class="group text-foreground lg:text-muted flex justify-center items-center h-full w-full lg:hover:text-foreground hover:z-50" 
    type="button" 
    data-dropdown-target="trigger" 
    data-action="click->dropdown#toggle"
  >
    <div data-dropdown-target="icon">
        {{ ux_icon(dropdown.trigger, { class: 'w-5 h-5' }) }}
    </div>
    <div class="hidden" data-dropdown-target="activeIcon">
        {{ ux_icon('lucide:x', { class: 'w-5 h-5' }) }}
    </div>
  </button>
  <div 
    class="hidden absolute mt-0! top-0 right-8 bg-white rounded-sm border border-border w-max max-w-80 z-50" 
    data-dropdown-target="content"
  >
    {% if dropdown.title is not null %}
    <div class="px-3 py-2 bg-neutral-200 [&>*:not(:first-child)]:border-t-1 [&>*:not(:first-child)]:border-border border-b-1 border-border">
      {{ dropdown.title }}
    </div>
    {% endif %}
    <ul class="[&>*:not(:first-child)]:border-t-1 [&>*:not(:first-child)]:border-border">
      {% for item in dropdown.infoItems %}
          <li class="px-3 py-2 text-primary italic flex items-center gap-2">
            {{ ux_icon(item.icon) }} {{ item.label }}
          </li>
      {% endfor %}

      {% for item in dropdown.menuItems %}
          <li>
            {% include 'component/button.html.twig'  with {button: item} %}
          </li>
      {% endfor %}
      {% for item in dropdown.actionItems %}
        <li>
          <div
            class="hover:cursor-pointer block px-3 py-2 text-foreground lg:text-muted lg:hover:text-foreground"
            title="{{ item.label }}"
            {% for attribut in item.htmlAttributes %}
                {{ attribut.name }}="{{ attribut.value }}"
            {% endfor %}
          >
            <div class="flex items-center gap-2">
              {{ ux_icon(item.icon) }} <div class="whitespace-nowrap overflow-hidden text-ellipsis max-w-48">{{ item.label}}</div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}