{% if message is defined %}
    <div class="mb-20">{{ message|raw }}</div>
{% endif %}
<div class="row">
    {% for component in components %}
        {% if component.name == 'CollectionType' %}
            <div id="{{ component.id }}" class="col-md-12">
                {% for child in component.children %}
                    <div class="row form-group form-group-collection">
                        {% for child_component in child %}
                            <div class="{% if child_component.row_attr is not empty %}{{ child_component.row_attr.class}}{% endif %}" {{ react_component(child_component.name, child_component.props) }}></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>      
        {% else %}
            <div class="form-group {% if component.row_attr is not empty %}{{ component.row_attr.class}}{% endif %}" {{ react_component(component.name, component.props) }}></div>
        {% endif %}
    {% endfor %}
</div>