
{% if paginator is not null and paginator.lastPage > 1 %}
    <nav class="paginator{% if margin is defined %} margin-{{ margin }}{% endif %}">
        <ul>
            {% if paginator.first is not null %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.first.url }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fas fa-angle-double-left"></i></span>
                    </a>
                </li>
            {% endif %}
            {% if paginator.previous is not null %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.previous.url }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="fas fa-angle-left"></i></span>
                    </a>
                </li>
            {% endif %}
            {% for item in paginator.pages %}
                <li class="page-item{% if item.page == paginator.currentPage %} active{% endif %}">
                    <a class="page-link" href="{{ item.url }}">{{ item.page }}</a>
                </li>
            {% endfor %}

            {% if paginator.next is not null %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.next.url }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fas fa-angle-right"></i></span>
                    </a>
                </li>
            {% endif %}

            {% if paginator.last is not null %}
                <li class="page-item">
                    <a class="page-link" href="{{ paginator.last.url }}" aria-label="Next">
                        <span aria-hidden="true"><i class="fas fa-angle-double-right"></i></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}