{% extends 'base.html.twig' %}

{% set title = (notification is null) ? 'Ajouter une info dans la pop\'up' : 'Modifier une info de la pop\'up' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
 <div class="wrapper">
    {{ form_start(form) }}
        <div class="wrapper-title">
            <h1 class="font-bold text-3xl">{{ title }}</h1>
            <span class="tools">
                <a href="{{ path('admin_notification_list') }}" class="btn btn-ico" title="Retour à la liste des liens"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div class="wrapper-body">
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            {{ form_row(form.content) }}
            <div class="form-group">
                {{ form_row(form.startAt) }}
                {{ form_row(form.endAt) }}
            </div>
            <div class="form-group">
                {{ form_row(form.minAge) }}
                {{ form_row(form.maxAge) }}
            </div>
            <div class="form-group">
                {{ form_row(form.public) }}
            </div>
        </div>
        <div class="wrapper-footer">
            {{ form_widget(form.save) }}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
