{% set isAdmin = app.request.get('_route') matches '/admin/' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if parameter_service.getParameterByName('TEST_MODE') %}
            <link rel="icon" type="image/jpg" href="/favicon_test.ico">
        {% else %}
            <link rel="icon" type="image/jpg" href="/favicon.ico">
        {% endif %}
        <link rel="apple-touch-icon-precomposed" href="/favicon.jpg">
        <title>{% block title %}{% endblock %}</title>
        {% block importmap %}
            {{ importmap(isAdmin ? 'admin' : 'app') }}
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% endblock %}
    </head>
    <body {% if parameter_service.getParameterByName('TEST_MODE') %}class="testing"{% endif %}>
        {% block background %}{% endblock %}
        {% set display_nav =  not isAdmin and app.request.get('_route') != 'splash' %}
        {% if display_nav %}
            {% include 'component/header.html.twig' %}
            {% include 'navigation/front.html.twig' %}
            {% include 'navigation/navbar.html.twig' %}
        {% endif %}
        <a href="{{ path('notification_list') }}" data-toggle="notification"></a>
        <main{% if isAdmin %} class="admin"{% endif %}>
            {% if isAdmin %}
                <div class="security" data-role="ROLE_USER"></div>
                <div class="header">
                    <h1>Administration du site</h1>
                </div>
                {% include 'navigation/admin.html.twig' %}
            {% endif %}
                <div class="notification">
                    <div class="flashes">
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="flash-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% if display_nav %}
                        {% if parameter_service.getParameterByName('MAINTENANCE_MODE') %}
                            <div class="alert-mode">Mode Maintenance</div>
                        {% elseif parameter_service.getParameterByName('TEST_MODE') %}
                            <div class="alert-mode">Site de test</div>
                        {% endif %}
                    {% endif %}
                </div>
            {% block body %}{% endblock %}
            {% if display_nav %}
                {% include 'component/footer.html.twig' %}
            {% endif %}
            <dialog data-controller="modal" data-modal-target="dialog" class="modal p-0 overflow-hidden bg-transparent">
                <turbo-frame 
                    id="modal_content" 
                    data-modal-target="frame"
                    data-action="turbo:frame-render->modal#open"
                ></turbo-frame>
            </dialog>
        </main>
    </body>
    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://kit.fontawesome.com/c6257eb348.js" crossorigin="anonymous"></script>
    
    {% endblock %}
</html>
