{% set isAdmin = app.request.get('_route') matches '/admin/' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="/favicon.ico">
        <link rel="apple-touch-icon-precomposed" href="/favicon.jpg">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {#{<link rel="stylesheet" type="text/css" href="/css/select2.min.css">#}
            {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> #}
            <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            {% if isAdmin %}
                <link rel="stylesheet" type="text/css" href="/css/admin.css">
                <link rel="stylesheet" type="text/css" href="/css/switch-button.css">
                <link rel="stylesheet" type="text/css" href="/css/radio.css">

            {% else %}
                <link rel="stylesheet" type="text/css" href="/css/style.css">
                <link rel="stylesheet" type="text/css" href="/css/reveal.css">
                <link rel="stylesheet" type="text/css" href="/css/carrousel.css">
            {% endif %}
            <link rel="stylesheet" type="text/css" href="/css/common.css">
            <link rel="stylesheet" type="text/css" href="/css/modal.css">
            <link rel="stylesheet" type="text/css" href="/css/dropdown.css">
        {% endblock %}
    </head>
    <body>
        {% block background %}{% endblock %}
        {% if parameter_service.getParameterByName('MAINTENANCE_MODE') %}
            <div class="alert-mode">Mode Maintenance</div>
        {% endif %}
        {% if parameter_service.getParameterByName('TEST_MODE') %}
            <div class="alert-mode">Site de test</div>
        {% endif %}
        {% if not isAdmin %}
            {% include 'common/header.html.twig' %}
        {% endif %}
        <div class="flashes">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
        <main{% if isAdmin %} class="admin"{% endif %}>
            {% if isAdmin %}
                <div class="header">
                    <h1>Administration du site</h1>
                </div>
                {% include 'common/admin_nav.html.twig' %}
            {% endif %}
            {% block body %}{% endblock %}
            {% if not isAdmin %}
                {% include 'common/footer.html.twig' %}
            {% endif %}
        </main>
    </body>
    {% block javascripts %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="https://kit.fontawesome.com/c6257eb348.js" crossorigin="anonymous"></script>
        <script src="/js/carrousel.js"></script>
        <script src="/js/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="/bundles/tetranzselect2entity/js/select2entity.js"></script>
        <script src="/js/select2/i18n/fr.js"></script>
        {% if isAdmin %}
            <script src="/js/media_position.js"></script>
        {% endif %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</html>
