<div>
    {% for identity in form.identities %}
        {{ form_row(identity.name)}}
        {{ form_row(identity.firstName)}}
        {{ form_row(identity.birthDate)}}
        {{ form_row(identity.birthplace)}}
        {{ form_row(identity.phone)}}
        {{ form_row(identity.mobile)}}
        {{ form_row(identity.profession)}}
        {% if identity.kinship is defined %}
            {{ form_row(identity.kinship)}}
        {% endif %}
        {{ form_row(identity.email)}}
    {% endfor %}
    {% if form.plainPassword is defined %}
        {{ form_row(form.plainPassword)}}
    {% endif %}
</div>