<div>
    {% for identity in form.identities %}
        {% dump(identity) %}
        {{ form_row(identity.name)}}
        {{ form_row(identity.firstName)}}
        {{ form_row(identity.birthDate)}}
        {{ form_row(identity.birthplace)}}
        {{ form_row(identity.phone)}}
        {{ form_row(identity.mobile)}}
        {{ form_row(identity.profession)}}
        {% if form.kinship is defined %}
            {{ form_row(form.kinship)}}
        {% endif %}
        {{ form_row(form.email)}}
    {% endfor %}
</div>