{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="/css/verticalStepProgress.css">
{% endblock %}
{% block body %}
    {% if steps is not empty %}
        <div class="wrapper background-ligth col-1fr-3fr wrapper-full-width">
            <div class="progress-container">
                <h1>Bulletin d'inscription {{ type }}</h1>
                <ul class="StepProgress">
                    {% for key, step in steps %}
                        {% set route = 'user_registration_form' %}
                        {% if user.licence.newMember and key < 4 %}
                            {% set route = 'registration_form' %}
                        {% endif %}
                        <li class="StepProgress-item {{ step.class }}">
                            {% if app.user is not null  or key < 4 %}
                                <a href="{{ path(route, {'type': type, 'step': loop.index }) }}"><strong>{{ step.title }}</strong></a>
                            {% else %}
                                <span><strong>{{ step.title }}</strong></span>    
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="content-container">
                {% if form is not null %}
                    {{ form_start(form)}}
                {% endif %}
                <div class="content-title">
                    <h1>{{ current.title }}</h1>
                </div>
                <div class="content-body">
                    {% if current.content is not null %}
                        <div class="container">{{ current.content | raw}}</div>
                    {% endif %}
                    {% if current.filename is not null %}
                        <div class="container">
                            <!--<object width="100%" height="1470" type="application/pdf" data="/files/{{current.filename}}#toolbar=0&navpanes=0&scrollbar=0"> -->
                            <object width="100%" height="500" type="application/pdf" data="/files/{{current.filename}}">
                            <p>Le fichier PDF ne peut pas être affiché avec ce navigateur.</p>
                            </object>
                        </div>
                    {% endif %}
                    {% if current.form is not null %}
                        {% set template = 'club/' ~ constant('App\\Form\\UserType::FORMS')[current.form] | replace({'form.':''}) ~ '.html.twig' %}
                        {% include template %}
                    {% endif %}
                </div>
                {% set route = 'user_registration_form' %}
                {% if user.licence.newMember and step < 3 %}
                    {% set route = 'registration_form' %}
                {% endif %}
                <div class="block-footer">
                    {% if prev is not null %}
                        <a class="btn btn-primary float-left" href="{{ path(route, {'type': type, 'step': prev }) }}"><i class="fas fa-chevron-circle-left"></i> Précedent</a>
                    {% endif %}
                    {% if next is not null and form is null %}
                        <a class="btn btn-primary float-right" href="{{ path(route, {'type': type, 'step': next }) }}"><i class="fas fa-chevron-circle-right"></i> Suivant</a>
                    {% endif %}
                    {% if form is not null %}
                        <button class="btn btn-primary float-right" type="submit"><i class="fas fa-chevron-circle-right"></i> Enregister</button>
                    {% endif %}
                </div>
                {% if form is not null %}
                    {{ form_end(form)}}
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="wrapper background-ligth wrapper-full-width col-4">
            <div class="wrapper-title">
                <h2>Bulletin d'inscription {{ type }}</h2>
            </div>
            <div class="card">
                <div class="card-img" style="background-image:url(../../images/clip_image001_0001.jpg)"></div>

                <div class="card-body">
                    <h3>Je suis un nouvel adhérent</h3>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ path('registration_form', {'type': type, 'step': 1 }) }}"><i class="fas fa-chevron-circle-right"></i> S'inscrire</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img" style="background-image:url(../../images/compostelle1-\(54\).jpg)"></div>
                <div class="card-body">
                    <h3>Je suis déjà adhérent au club</h3>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ path('user_registration_form', {'type': type, 'step': 1 }) }}"><i class="fas fa-chevron-circle-right"></i> S'inscrire</a>
                </div>
            </div>
            <div class="card">
                <div class="card-img" style="background-image:url(../../images/vttBallon.jpg)"></div>
                <div class="card-body">
                    <h3>Je veux compéter une inscription</h3>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="{{ path('user_registration_form', {'type': type, 'step': 1 }) }}"><i class="fas fa-chevron-circle-right"></i> Compèter</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}