{% extends 'base.html.twig' %}
{% block title %}Parametres{% endblock %}

{% block body %}
{% set class_ul ='' %}
 <div class="wrapper">
    <div class="padding-10">
        <div class="block">
            <div class="block-title">
                <h2>Parametres</h2>
            </div>
            <div>
                <nav  class="nav-tab">
                    {% for group in parameter_groups %}
                        <a href="{{ path('admin_groups_parameter', {'parameterGroup': group.id} )}}"
                            {% if group.id == parameter_group.id %} class="active"{% endif %}>
                        {{ group.label }}</a>
                    {% endfor %}
                </nav>
            </div>
            {{ form_start(form) }}
            <div class="block-body">
                <ul>
                    
                    {% for parameter in form.children.parameters.children %}   
                        <li data-toggle="param-body">
                            <a href="" class="btn btn-ico"><i class="fas fa-angle-up"></i></a>
                            <b>{{ form_label(parameter.value) }}</b>

                            <div class="up" data-target="param-body">
                                {{ form_widget(parameter.value) }}
                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div class="block-footer">
                {{ form_row(form.save) }}
            </div>
            {{ form_end(form) }}
        </div>

    </div>
</div>
{% endblock %}
