{% extends 'base.html.twig' %}
{% block title %}Parametres{% endblock %}

{% block body %}
{% set class_ul ='' %}
 <div class="wrapper">
    <div class="padding-10">
        <div class="block">
            <div class="block-title">
                <h2>Parametres</h2>
            </div>
            <div>
                <nav  class="nav-tab">
                    {% for group in parameter_groups %}
                        <a href="{{ path('admin_groups_parameter', {'parameterGroup': group.id} )}}"
                            {% if group.id == parameter_group.id %} class="active"{% endif %}>
                        {{ group.label }}</a>
                    {% endfor %}
                </nav>
            </div>
            <div class="block-body">
                <ul>
                    {{ form_start(form) }}
                    {% for parameter in form.children.parameters.children %}   
                        <li>
                            {{ form_row(parameter.value) }}
                        </li>
                    {% endfor %}
                    {{ form_end(form) }}
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
