{% if identity.children|length > 1 %}
    {% if identity.vars.value.type == constant('App\\Entity\\Identity::TYPE_KINSHIP') %}
        <b>Responsable de l'enfant</b>
    {% elseif identity.vars.value.type == constant('App\\Entity\\Identity::TYPE_SECOND_CONTACT') %}
        <b>Second contact</b>
    {% endif %}
    {% if identity.kinship is defined %}
        <div class="form-group">{{ form_row(identity.kinship) }}</div>
    {% endif %}
    {% set first_block %}
        <div class="form-group">
            {{ form_row(identity.name) }}
            {{ form_row(identity.firstName) }}
        </div>
        {% if identity.birthDate is defined %}
        <div class="form-group">
            {{ form_row(identity.birthDate)}}
            {% if identity.birthCommune is defined %}
                {{ form_row(identity.birthCommune) }}
                {# {{ form_row(identity.birthDepartment) }} #}
            {% endif %}
        </div>
        {% endif %}
    {% endset %}
    {% if identity.pictureFile is defined %}
        <div class="col-2">
            <div>
                {{ first_block}}
            </div>
            <div class="align-center">
                {% set picture = identity.vars.value.picture %}
                <img class="user-picture" src="{% if picture %}/uploads/{{ picture }}{% endif %}" alt="{{ picture }}">            
                {{ form_row(identity.pictureFile) }}
            </div>
        </div>
    {% else %}
        {{ first_block }}
    {% endif %}
    <div class="form-group">
        {{ form_row(identity.mobile) }}
        {% if identity.phone is defined %}
            {{ form_row(identity.phone) }}
        {% endif %}
    </div>  
    {% if identity.profession is defined %}
        <div class="form-group">{{ form_row(identity.profession) }}</div>
    {% endif %}
      
    {% if identity.email is defined %}
        <div class="form-group">{{ form_row(identity.email) }}</div>
    {% endif %}
    <div class="address-container">
    {% if identity.otherAddress is defined %}
        <div class="form-group">
            <div class="inputGroup long check">
                {{ form_widget(identity.otherAddress, {'attr':{'data-modifier': 'address-' ~ identity.vars.name }})}}
                {{ form_label(identity.otherAddress)}}
            </div>
        </div>
    {% endif %}

        <div class="address-group{% if identity.otherAddress is defined and identity.otherAddress.vars.data is same as false %} hidden{% endif %}">
            {% if identity.address is defined %}
                <div class="form-group">{{ form_row(identity.address.street) }}</div>
                <div class="form-group">
                    {{ form_row(identity.address.postalCode, {'attr':{'data-modifier': 'commune-' ~ identity.vars.name }}) }}
                    {{ form_row(identity.address.commune) }}
                </div>
            {% endif %}
        </div>

    </div>
{% endif %}