{% if identity.children is not empty %}
    {% if identity.vars.value.type == constant('App\\Entity\\Identity::TYPE_KINSHIP') %}
        <b>Contact parent principal</b>
    {% elseif identity.vars.value.type == constant('App\\Entity\\Identity::TYPE_SECOND_CONTACT') %}
        <b>Second contact</b>
    {% endif %}
    {% if identity.kinship is defined %}
        <div class="form-group">{{ form_row(identity.kinship) }}</div>
    {% endif %}
    {% set first_block %}
        <div class="form-group">
            {{ form_row(identity.name) }}
            {{ form_row(identity.firstName) }}
        </div>
        {% if identity.birthDate is defined %}
        <div class="form-group">
            {{ form_row(identity.birthDate)}}
            {% if identity.birthplace is defined and identity.birthDepartment is defined %}
                {{ form_row(identity.birthplace) }}
                {{ form_row(identity.birthDepartment) }}
            {% endif %}
        </div>
        {% endif %}
    {% endset %}
    {% if identity.pictureFile is defined %}
        <div class="col-2">
            <div>
                {{ first_block}}
            </div>
            <div class="align-center">
                {% set picture = identity.vars.value.picture %}
                <img class="user-picture" src="/uploads/{{ picture }}" alt="{{ picture }}">            
                {{ form_row(identity.pictureFile) }}
            </div>
        </div>
    {% else %}
        {{ first_block }}
    {% endif %}
    <div class="form-group">
        {{ form_row(identity.mobile) }}
        {% if identity.phone is defined %}
            {{ form_row(identity.phone) }}
        {% endif %}
    </div>  
    {% if identity.profession is defined %}
        <div class="form-group">{{ form_row(identity.profession) }}</div>
    {% endif %}
      
    {% if identity.email is defined %}
        <div class="form-group">{{ form_row(identity.email) }}</div>
    {% endif %}
    
    {% if identity.otherAddress is defined %}
        <div class="form-group">
            <div class="inputGroup long check">
                {{ form_widget(identity.otherAddress)}}
                {{ form_label(identity.otherAddress)}}
            </div>
        </div>
    {% endif %}
    {% if identity.address is defined %}
        <div{% if identity.vars.name == 1 %} id="address_container"{% endif %}>
            <div class="form-group">{{ form_row(identity.address.street) }}</div>
            <div class="form-group">
                {{ form_row(identity.address.postalCode) }}
                {{ form_row(identity.address.town) }}
            </div>
        </div>
    {% endif %}
{% endif %}