{% if identity.children|length > 1 %}
    {% if identity.isTesting is defined %}
        <div class="form-group">{{ form_row(identity.isTesting) }}</div>
    {% endif %}
    {% set kind = 'identity.kind.' ~ identity.vars.value.kind.value %}
    <b>{{ kind|trans }}</b>
    {% if identity.kinship is defined %}
        <div class="form-group">{{ form_row(identity.kinship) }}</div>
    {% endif %}
    {% set first_block %}
        {{ form_row(identity.name) }}
        {{ form_row(identity.firstName) }}
        {% if identity.birthDate is defined %}
            {{ form_row(identity.birthDate)}}
        {% endif %}
    {% endset %}
    {% if identity.pictureFile is defined %}
        <div class="col-2">
            <div>
                {{ first_block}}
            </div>
            <div class="align-center">
                {% set picture = identity.vars.value.picture %}
                <img class="user-picture" src="{% if picture %}/uploads/{{ picture }}{% endif %}" alt="{{ picture }}">            
                {{ form_row(identity.pictureFile) }}
            </div>
        </div>
    {% else %}
        {{ first_block }}
    {% endif %}
        <div class="form-row">
            {% if identity.birthCommune is defined %}
                {{ form_row(identity.birthCommune) }}
                {{ form_row(identity.birthPlace) }}
                {{ form_row(identity.birthCountry) }}
                {{ form_row(identity.foreignBorn) }}
            {% endif %}
        </div>
    <div class="form-group">
        {{ form_row(identity.mobile) }}
        {% if identity.phone is defined %}
            {{ form_row(identity.phone) }}
        {% endif %}
    </div>  
    <div id="adultContainer">
        {% if identity.profession is defined %}
            <div class="form-group">{{ form_row(identity.profession) }}</div>
        {% endif %}
        
        {% if identity.emergencyPhone is defined %}
            <div class="form-group">
                {{ form_row(identity.emergencyPhone) }}
                {{ form_row(identity.emergencyContact) }}
            </div>
        {% endif %}
    </div>
    {% if identity.email is defined %}
        <div class="form-group">{{ form_row(identity.email) }}</div>
    {% endif %}
    <div id="address-container-{{ identity.vars.name}}">
    {% if identity.otherAddress is defined %}
        <div class="form-group">
            <div class="inputGroup long check">
                {{ form_widget(identity.otherAddress)}}
                {{ form_label(identity.otherAddress)}}
            </div>
        </div>
    {% endif %}

        <div id="address-{{ identity.vars.name}}" class="address-group{% if identity.otherAddress is defined and identity.otherAddress.vars.data is same as false %} hidden{% endif %}">
            {% if identity.address is defined %}
                <div class="form-group">{{ form_row(identity.address.street) }}</div>
                <div class="form-group">
                    {{ form_row(identity.address.postalCode) }}
                    {{ form_row(identity.address.commune) }}
                </div>
            {% endif %}
        </div>

    </div>
{% endif %}