<turbo-frame id="dashboard-bike-ride-{{ bikeRideId }}" class="dashboard-item-body">
    <ul>
        {% for cluster in clusters %}
            <li class="flex">
                <div class="overflow-hidden text-ellipsis max-w-[calc(100%-35px)]">{{ cluster.title }}</div>
                <div class="ml-auto"><span class="badge small" style="background-color:{{ cluster.level.colors.background }}; color:{{ cluster.level.colors.color }}">{{ cluster.sessions|length }}</span></div>
            </li>
        {% endfor %}
    </ul>
</turbo-frame