{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Mon compte</h1>
        </div>
        <div class="wrapper-body">
            <div class="block background-white">
                <div class="block-title">
                    <h2>Mes commandes</h2>
                </div>
                <div class="block-body">
                    <ul>
                        {% for order in orders %}
                            <li>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <b>Cde {{ order.id }} du {{ order.createdAt }}</b>
                                    </div>
                                    <div class="col-md-3 col-xs-4">
                                        {{ order.amount }}
                                    </div>
                                    <div class="col-md-2 col-xs-4">
                                        {{ order.status|trans }}
                                    </div>
                                    <div class="col-md-3 col-xs-4">
                                        {% if enum('APP\\Entity\\Enum\\OrderStatusEnum').IN_PROGRESS != order.status %}
                                            <a href="{{ path('order',{'orderHeader': order.id}) }}" class="btn btn-primary btn-ico" title="Voir la commande"><i class="fas fa-eye"></i></a>
                                            <a href="{{ path('order_delete',{'orderHeader': order.id}) }}" class="btn btn-danger btn-ico" data-turbo-frame="modal_content" title="Annuler">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('order_edit',{'orderHeader': order.id}) }}" class="btn btn-primary" title="Valider ma commande">Commander</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if orders is empty %}
                        <p>Vous n'avez aucune commande</p>
                    {% endif %}
                </div>  
            </div>
        </div>
    </div>
{% endblock %}
