{% extends 'base.html.twig' %}

{% block title %}Ma commande{% endblock %}

{% block body %}
    <div id="order" class="wrapper wrapper-small-width background-green background-color">
        <div class="wrapper-title">
            <h1>Ma commande</h1>
        </div>
        <div class="wrapper-body">
            <div>{{ message|raw }}</div>
            <h3>Cde {{ order.id }} du {{ order.createdAt }}</h3>
            <br>
            <ul>
                {% for line in order.orderLines.lines %}
                    <li class="row row-list row-align-top block background-ligth">
                        <div class="col-md-2 col-xs-3">
                            <a href="{{ path('product_show', {'product': line.product.id}) }}">
                                <div class="thumbnail"><img class="" src="{{ line.product.pathName }}" alt=""></div>
                            </a>
                        </div>
                        <div class="col-md-5 col-xs-4">
                            {{ line.product.name }}<br>
                            {{ line.product.ref }}<br>
                            Taille : {{ line.size }}<br>
                            {% if line.product.discountPrice %}{{ line.product.discountTitle }}{% endif %}
                            Prix/unitaire : <span class="{{ line.product.priceClass }}">{{ line.product.price }}</span>
                            {% if line.product.discountPrice %} <span class="price">{{ line.product.discountPrice }}</span>{% endif %}
                        </div>
                        <div class="col-md-2 col-xs-2 align-right form-group">
                            {{ line.quantity }}
                        </div>
                        <div class="col-md-3 col-xs-2 align-right">{{ line.amount }}</div>
                    </li>

                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-md-10 col-xs-10 align-right">Total :</div>
                <div class="col-md-2 col-xs-10  align-right">{{ order.amount }}</div>
            </div>
        </div>
        <div class="wrapper-footer">
            <a href="{{ path('order_acknowledgement', {'orderHeader': order.id}) }}" class="btn btn-xxl btn-primary float-right">Télécharger ma commande</a>
        </div>
    </div>

{% endblock %}
