{% extends 'base.html.twig' %}

{% block title %}Compétences{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="wrapper-title">
        <h1 class="font-bold text-3xl">Gestion des compétences</h1>
        <div class="tool-group">
            {% include 'component/dropdown_settings.html.twig' %}
            <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-toggle="dropdown-tools"></button>
                    <div class="dropdown-menu" data-target="dropdown-tools">
                        <ul class="dropdown-body">
                            <li><a href="{{ path('admin_skill_export') }}" class="dropdown-item" title="Exporter toute la liste"><i class="fas fa-file-csv"></i> Exporter la liste</a></li>
                        </ul>
                    </div>
                </div>
            <a href="{{ path('admin_user_list', {'filtered': 1}) }}"
                class="btn btn-ico" title="Retour à la liste des adhérents">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
    </div>
    <div class="wrapper-body">
        <div class="w-full m-0 py-2">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.skillCategory) }}
                    {{ form_row(form.level) }}
                </div>
            {{ form_end(form) }}
        </div>
        <turbo-frame id="skills-list-frame">
            <a 
                class="btn btn-primary" 
                href="{{path('admin_skill_add', app.request.query.all)}}" 
                title="Ajouter"
                data-turbo-frame="modal_content"
            > 
                Ajouter
            </a>
            <ul id="skills-list-container" class="list-group">
                {% for skill in skills %}
                    {{ include('skill/admin/_skill_item.html.twig', {skill: skill}) }}
                {% else %}
                    <li class="list-group-item">Aucune compétence trouvée.</li>
                {% endfor %}
            </ul>
        </turbo-frame>
    </div>
</div>
{% endblock %}