{% extends 'base_modal_stimulus.html.twig' %}
{% block modal_title %}{{ title }}{% endblock %}
{% block body %}
    <div class="w-full m-0 py-2 px-4">
        <div class="form-group">
            {{ form_row(form.category) }}
            {{ form_row(form.level) }}
        </div>
        <div class="form-group">
            {{ form_row(form.content) }}
        </div>
        {{ form_errors(form) }}
    </div>
{% endblock %}
{% block action %}
    </button>
        <button 
            type="submit"
            class="flex justify-center text-primary bg-slate-200"
        >
        <div class="flex gap-3 items-center ">
            <div>{{ ux_icon(btn.icon , {class: 'size-6'}) }}</div>
        <div>{{ btn.label }}</div>
        </div>
    </button>
{% endblock %}
