{% extends 'base.html.twig' %}

{% set title = (link is null) ? 'Ajouter un lien' : 'Modifier un lien' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
 <div class="wrapper">
    {{ form_start(form) }}
        <div class="wrapper-title">
            <h1>{{ title }}</h1>
            {% set position = (link is not null) ? link.position : constant('App\\Entity\\Link::POSITION_LINK_PAGE') %}
            <span class="tools">
                <a href="{{ path('admin_links', {'position': position}) }}" class="btn btn-ico" title="Retour à la liste des liens"><i class="fas fa-chevron-left"></i></a>
            </span>
        </div>
        <div class="wrapper-body">
            <div class="form-group">
                {{ form_row(form.title) }}
            </div>
            <div class="form-group">
                {{ form_row(form.position) }}
            </div>
            <div class="form-group">
                {{ form_row(form.url) }}
            </div>
                        <div class="form-group">
                {{ form_row(form.image) }}
            </div>
            <div class="form-group form-group-file">
                {{ form_row(form.imageFile) }}
                <div class="form-group-inline">
                    {% set src = '' %}
                    {% if link is not null %}
                        {% set src =  link.image matches '/^http/' or  link.image is null ? link.image : '/uploads/' ~ link.image %}
                    {% endif %}
                    <img class="user-picture" src="{{ src }}" alt="{{ src }}">   
                </div>
            </div>
            {{ form_row(form.description) }}
            {{ form_row(form.content) }}
        </div>
        <div class="wrapper-footer">
            {{ form_widget(form.save) }}
            {% if form.search is defined %}
                {{ form_widget(form.search) }}
            {% endif %}
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
