{% extends 'base.html.twig' %}

{% block title %}Gestion des liens{% endblock %}

{% block body %}
 <div class="wrapper">
        <div class="wrapper-title">
            <h1>Gestion des liens</h1>
        </div>
            <nav  class="nav-tab">
                {% for position, label in constant('App\\Entity\\Link::POSITIONS') %}
                    <a href="{{ path('admin_links', {'position': position} )}}"{% if position == current_position %} class="active"{% endif %}>{{ label|trans}}</a>
                {% endfor %}
            </nav>
        <div class="wrapper-body">
            <a href="{{ path('admin_link_edit') }}" class="btn btn-primary" title="Ajouter un lien"><i class="fas fa-plus"></i> Ajouter un lien</a>
            <ul class="sortable" data-route="admin_link_order" data-parameter="link">
                {% for link in links %}     
                    <li class="ui-state-default col-list col-list-2btn" data-id="{{ link.id }}">

                            <div class="list-item">{{ link.title }}</div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-primary btn-ico" href="{{ path('admin_link_edit', {'link': link.id})}}" title="Modifier"><i class="fas fa-pencil-alt"></i></a>
                                <a class="btn btn-danger btn-ico modal-trigger" href="{{ path('admin_link_delete', {'link': link.id})}}" title="Supprimer" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i></a>
                            {% endif %}

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% include('common/pagination.html.twig') %}
</div>
{% endblock %}
