{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Erreur {{ error_code }}{% endblock %}

{% block body_title %}<h1>{{ error_title }}</h1>{% endblock %}

{% block body %}
    <main id="container" class="login">
        <div>
            <div class="block x-row">
                <div class="x-content">
                    <div class="row">
                        <div class="smiley w-25"><i class="far fa-frown"></i></i></div>
                        <div class="w-75">
                            <div class="form-group">
                                <p>{{ error_message|raw }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="x-footer">
                    <a class="btn btn-primary" href="{{ path('home') }}">
                        <i class="fas fa-check"></i> Retour à la page d'accueil
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}