<h2>Autorisations parentales pour mineur</h2>
<table>
    <tr>
        <td></td>
        <td><h3>Responsable de l'enfant</h3></td>
        <td><h3>Second contact</h3></td>
    </tr>
    <tr>
    <td><b>Non et prénom :</b></td>
       <td>{{ user.kinship.fullName|raw }} ({{ user.kinship.type|trans  }})</td>
       <td>{{ user.secondKinship.fullName|raw}} ({{ user.secondKinship.type|trans}})</td>
       
    </tr>
    <tr>
        <td><b>Téléphone : </b></td>
        <td> {{ user.kinship.phone|raw}}</td>
        <td>{{ user.secondKinship.phone|raw}}</td>
    </tr>
    <tr>
        <td><b>Adresse :</b></td>
        <td>{{ user.kinship.address.street|raw}}</td>
        <td>{{ user.secondKinship.address.street|raw }}</td>
    </tr>
    <tr>
        <td></td>
        <td>{{ user.kinship.address.postalCode|raw }} {{ user.kinship.address.town |raw}}</td>
        <td>{{ user.secondKinship.address.postalCode|raw }} {{ user.secondKinship.address.town|raw }}</td>
    </tr>
</table>