 <h2>Renseignements concernant l'adhérent</h2>
<table {% if user.member.picture %}class="table-fixed"{% endif %}>
    <tr>
        {% if user.member.picture %}<td rowspan="8" colspan="2"><img src="{{ user.member.picture|imgPath(media) }}" style="width: 100px;"></td>{% endif %}
        <td colspan="3" style="width: 450px"><b>Non et prénom : </b>{{ user.member.fullName }}</td>
        {% if user.health is not null%}
            <td colspan="3"><b>Numéro de sécurité sociale : </b>{{ user.health.socialSecurityNumber }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" ><b>Date naissance : </b>{{ user.member.birthDate }}</td>
        {% if user.health is not null%}
            <td colspan="3"><b>Groupe sanguin : </b>{{ user.health.bloodGroup }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" ><b>Lieu de naissance : </b>{{ user.member.birthPlace }}</td>
        {% if user.health is not null%}
            <td colspan="3"><b>Mutuelle : </b>{{ user.health.mutualCompany }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" ><b>Adresse : </b> {{ user.member.address.street }}</td>
        {% if user.health is not null%}
            <td colspan="3"><b>Numéro : </b>{{ user.health.mutualNumber }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" >{{ user.member.address.postalCode }} {{ user.member.address.town }}</td>
        {% if user.health is not null%}
            <td colspan="3"><b>Date du dernier rappel antitétanique : </b>{{ user.health.tetanusBooster }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" ><b>Courriel : </b>{{ user.member.email }}</td>
        {% if user.health is not null%}
            <td colspan="3"><b>Médecin traitant : </b>{{ user.health.doctorName }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" ><b>Téléphone : </b>{{ user.member.phone}}</td>
        {% if user.health is not null%}
            <td colspan="3">{{ user.health.doctorAddress }} {{ user.health.doctorTown }}</td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="3" ></td>
        {% if user.health is not null%}
            <td colspan="3"><b>Téléphone médecin : </b> {{ user.health.doctorPhone }}</td>
        {% endif %}
    </tr>
</table>