{% extends 'base.html.twig' %}

{% set title = (product is null) ? 'Ajouter un produit' : 'Modifier un produit' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ form_start(form) }}
            <div class="wrapper-title">
                <h1 class="font-bold text-3xl">{{ title }}</h1>
                <span class="tools">
                    <a href="{{ path('admin_products') }}" class="btn btn-ico" title="Retour à la gestion de la boutique"><i class="fas fa-chevron-left"></i></a>
                </span>
            </div>
            <div class="wrapper-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group form-group-file" data-controller="input-file">
                            <img 
                                class="user-picture" 
                                src="{{ product.pathName }}" 
                                alt="{{ product.filename }}" 
                                data-input-file-target="media"
                            > 
                            <p data-input-file-target="filename">{{ product.filename }}</p>
                            {{ form_row(form.pictureFile) }}
                        </div>
                    </div>
                    <div class="col-md-9">
                        {{ form_row(form.name) }}
                        {{ form_row(form.content) }}
                        {{ form_row(form.price) }}
                        {{ form_row(form.ref) }}
                        {{ form_label(form.sizes) }}
                        <ul>
                            {% for size in form.sizes.children %}
                                <li>
                                    {{ form_widget(size) }}
                                    {{ form_label(size) }}
                                </li>  
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                

            </div>
            <div class="wrapper-footer">
                {{ form_errors(form) }}
                {{ form_row(form.save) }}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
