{% extends 'base.html.twig' %}

{% block title %}Gestion de la boutique{% endblock %}

{% block body %}
 <div class="wrapper">
            <div class="wrapper-title">
                <h1>Gestion de la boutique</h1>
                <div class="tool-group">
                    <a href="{{ path('wiki_show', {'directory': 'boutique'})}}" target="_blank" title="wiki" class="btn-wiki"></a>
                </div>
            </div>
            <div class="wrapper-body">
                <span class="tools">
                    <a href="{{ path('admin_product_add') }}" class="btn btn-primary" title="Ajouter un produit"><i class="fas fa-plus"></i> Ajouter</a>
                </span>
                {% include 'component/pagination.html.twig' with {'margin': 'both'} %}
                <ul>
                    {% for product in products %}
                        <li class="list-dropdown"> 
                            <a href="{{ path('admin_product', {'product' : product.id}) }}">
                                <div class="{% if product.isDisabled %}disabled{% endif %}">
                                    {{ product.name }}
                                </div>
                            </a>
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown-{{ product.id }}"></button>
                                <div class="dropdown-menu" data-target="dropdown-{{ product.id }}">
                                    <ul class="dropdown-body">
                                        {% if product.isDisabled %}
                                            <li><a class="dropdown-item" href="{{ path('admin_product_disable', {'product' : product.id})}}" data-toggle="modal" data-type="success"><i class="fa-solid fa-toggle-off"></i> Activer</a></li>
                                        {% else %}
                                            <li><a class="dropdown-item" href="{{ path('admin_product_disable', {'product' : product.id})}}" data-toggle="modal" data-type="danger"><i class="fa-solid fa-toggle-on"></i> Désactiver</a></li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="{{ path('admin_product_delete', {'product' : product.id})}}" data-toggle="modal" data-type="danger"><i class="fas fa-times"></i> Supprimer</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                {% include 'component/pagination.html.twig' with {'margin': 'top'} %}
            </div>
        </div>
    </div>
{% endblock %}
