{% extends 'base.html.twig' %}

{% block title %}L'école vtt{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-primary col-2">
        
        <div class="wrapper-content">
            {{ content.content | raw}}
            <h3>A l'école VTT de Ludres il y a {{levels|length}} groupes</h3>
            <ul class="school-level">
                {% for level in levels %}
                    <li>
                        <h4>{{ level.title }}</h4>
                        <p>{{ level.content | raw }}</p>
                    </li>
                {% endfor %}
            </ul>

        </div>
        <div class="wrapper-img" style="background-image:url(../images/ecole_vtt.jpg)"></div>
    </div>
{% endblock %}
