{% extends 'base.html.twig' %}

{% set title = (modal_window is null) ? 'Ajouter une info dans la pop\'up' : 'Modifier une info de la pop\'up' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
 <div class="wrapper">
    <div class="padding-10">
        {{ form_start(form) }}
        <div class="block">
            <div class="block-title">
                <h2>{{ title }}</h2>
                <span class="tools">
                    <a href="{{ path('admin_modal_window_list') }}" class="btn btn-secondary btn-ico" title="Retour à la liste des liens"><i class="fas fa-chevron-left"></i></a>
                </span>
            </div>
            <div class="block-body">
                <div class="form-group">
                    {{ form_row(form.title) }}
                </div>
                {{ form_row(form.content) }}
                <div class="form-group">
                    {{ form_row(form.startAt) }}
                    {{ form_row(form.endAt) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.minAge) }}
                    {{ form_row(form.maxAge) }}
                </div>
            </div>
            <div class="block-footer">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
