{% if media == enum('App\\Entity\\Enum\\DisplayModeEnum').SCREEN %}
    {% set licence = form.children.lastLicence %}
    {% if licence.type is defined %}
        <div class="form-group">
            {{ form_row(licence.type) }}
        </div>
    {% endif %}
    {% if licence.coverage is defined and licence.options is defined %}
        <div class="form-group">
            <div>{{ form_label(licence.coverage) }}</div>
            {% for child in licence.coverage.children %}                        
                <div class="inputGroup {{ child.vars.value ?'ballot' : 'check' }}">
                    {{ form_widget(child) }}
                    {{ form_label(child, null) }}
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <div>{{ form_label(licence.options) }}</div>
            <p class="bg-primary-darker p-10 text-white mt-10"><i class="fa-solid fa-triangle-exclamation"></i> Ces garanties optionnelles sont à souscrire et à payer par vos soins directement auprès de la compagnie d'assurance de la FFVelo.</p>
            {% for child in licence.options.children %}                        
                <div class="inputGroup {{ child.vars.value ?'ballot' : 'check' }}">
                    {{ form_widget(child) }}
                    {{ form_label(child, null) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if licence.isVae is defined %}
        <div class="form-group">
            <div>{{ form_label(licence.isVae) }}</div>
            {% for child in licence.isVae.children %}                        
                <div class="inputGroup {{ child.vars.value ?'ballot' : 'check' }}">
                    {{ form_widget(child) }}
                    {{ form_label(child, null) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <br>
{% endif %}




        

