<div class="container">{{ progress.current.content | raw}}</div>
{% set licence = form.lastLicence %}
<div>
    {% for  licenceAuthorization in licence.licenceAuthorizations %}
        <h2>
            <label class="required">
                {{ licenceAuthorization.vars.value.authorization.title }}
            </label>
        </h2>
        {{ keywords.replace(licenceAuthorization.vars.value.authorization.content, progress.user)|raw }}
        <div class="form-group">
            {% for  value in licenceAuthorization.children %}
                {% for  child in value.children %}                        
                    <div class="inputGroup {{ child.vars.value ?'ballot' : 'check' }}">
                        {{ form_widget(child) }}
                        {{ form_label(child, null) }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div>
    {% for  licenceConsent in licence.licenceAuthorizationConsents %}
        <h2>
            <label class="required">
                {{ licenceConsent.vars.value.consent.title }}
            </label>
        </h2>
        <div class="form-group">
            {{ form_widget(licenceConsent) }}
        </div>
    {% endfor %}
</div>
