<div class="block background-primary background-color">{{ current.content | raw}}</div>
<br>
<div class="registration">
    {% set licence = user.seasonLicence %}
    <h3>Renseignements concernant l'adhérent</h3>
    <ul class="block background-ligth">
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Non et prénom : </b></span><span class="col-md-8 col-sx-6">{{ user.member.fullName }}</span>
        </li>
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Date naissance : </b></span><span class="col-md-8 col-sx-6">{{ user.member.birthDate }}</span>
        </li>
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Lieu de naissance : </b></span><span class="col-md-8 col-sx-6">{{ user.member.birthPlace }}</span>
        </li>
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Adresse : </b> </span><span class="col-md-8 col-sx-6">{{ user.member.address.street }} {{ user.member.address.postalCode }} {{ user.member.address.town }}</span>
        </li>
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Courriel : </b></span><span class="col-md-8 col-sx-6">{{ user.member.email }}</span>
        </li>
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Téléphone : </b></span><span class="col-md-8 col-sx-6">{{ user.member.phone}}</span>
        </li>
    </ul>
    {% if licence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') and licence.isFinal %}
        <ul class="block background-ligth">
            <li class="row">
                <span class="col-md-4 col-sx-6"><b>Numéro de sécurité sociale : </b></span><span class="col-md-8 col-sx-6">{{ user.health.socialSecurityNumber }}</span>
                <span class="col-md-4 col-sx-6"><b>Groupe sanguin : </b></span><span class="col-md-8 col-sx-6">{{ user.health.bloodGroup }}</span>
            </li>
            <li class="row">
                <span class="col-md-4 col-sx-6"><b>Mutuelle : </b></span><span class="col-md-8 col-sx-6">{{ user.health.mutualCompany }}</span>
                <span class="col-md-4 col-sx-6"><b>Numéro : </b></span><span class="col-md-8 col-sx-6">{{ user.health.mutualNumber }}</span>
                <span class="col-md-4 col-sx-6"><b>Date du dernier rappel antitétanique : </b></span><span class="col-md-8 col-sx-6">{{ user.health.tetanusBooster }}</span>
            </li>
            <li class="row">
                <span class="col-md-4 col-sx-6"><b>Médecin traitant : </b></span><span class="col-md-8 col-sx-6">{{ user.health.doctorName }} {{ user.health.doctorAddress }} {{ user.health.doctorTown }}</span>
                <span class="col-md-4 col-sx-6"><b>Téléphone du médecin : </b></span><span class="col-md-8 col-sx-6">{{ user.health.doctorPhone }}</span>
            </li>
        </ul>
        {% if user.health.diseases is not empty %}
            <h3>Informations sanitaires</h3>
            <ul class="block background-ligth">
                {% for type, diseases in user.health.diseases %}
                {% if diseases is not empty %}
                    <li class="row">
                        <span class="col-md-4 col-sx-4"><b>{{ constant('App\\Entity\\Disease::TYPES')[type]|trans }}</b></span>
                        {% if type == constant('App\\Entity\\Disease::TYPE_DISEASE') %}
                            <span class="col-md-4 col-sx-4"><b>Traitement actuel</b></span>
                            <span class="col-md-4 col-sx-4"><b>Traitement d'urgence</b></span>
                        {% elseif type == constant('App\\Entity\\Disease::TYPE_ALLERGY') %}
                            <span class="col-md-4 col-sx-4"><b>Lesquelles</b></span>
                            <span class="col-md-4 col-sx-4"><b>Traitement d'urgence</b></span>
                        {% elseif type == constant('App\\Entity\\Disease::TYPE_INTOLERANCE') %}
                            <span class="col-md-8 col-sx-8"><b>Lesquelles</b></span>
                        {% endif %}
                    </li>
                    {% for disease in diseases %}
                        <li class="row">
                            {% set title = [constant('App\\Entity\\Disease::LABELS')[disease.label]|trans] %}
                            {% if disease.title is not null %}
                                {% set title = title|merge([disease.title]) %}
                            {% endif %}
                            <span class="col-md-4 col-sx-4">{{ title|join(' ') }}</span>
                            {% if type == constant('App\\Entity\\Disease::TYPE_INTOLERANCE') %}
                                <span colspan="2">{{ disease.curentTreatment }}</span>
                            {% else %}
                                <span class="col-md-4 col-sx-4">{{ disease.curentTreatment }}</span>
                                <span class="col-md-4 col-sx-4">{{ disease.emergencyTreatment }}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </ul>
            <br>
        {% endif %}

    {% endif %}
</div>
{% if user.kinship %}
<h3>Responsable de l'enfant</h3>
<ul class="block background-ligth">
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Nom et prénom : </b></span><span class="col-md-8 col-sx-6">{{ user.kinship.fullName }} ({{ user.kinship.type | trans  }})</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Adresse : </b></span><span class="col-md-8 col-sx-6">{{ user.kinship.address.street }}, {{ user.kinship.address.postalCode }} {{ user.kinship.address.town }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Courriel : </b></span><span class="col-md-8 col-sx-6">{{ user.kinship.email }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Téléphone :</b></span><span class="col-md-8 col-sx-6">{{ user.kinship.phone}}</span>
    </li>
</ul>
<h3>Second contact</h3>
<ul class="block background-ligth">
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Nom et prénom : </b></span><span class="col-md-8 col-sx-6">{{ user.secondKinship.fullName}} ({{ user.secondKinship.type|trans}})</span>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Adresse : </b></span><span class="col-md-8 col-sx-6">{{ user.secondKinship.address.street }}, {{ user.secondKinship.address.postalCode }} {{ user.secondKinship.address.town }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Courriel : </b></span><span class="col-md-8 col-sx-6">{{ user.secondKinship.email }}</span>
    </li>
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Téléphone : </b></span><span class="col-md-8 col-sx-6">{{ user.secondKinship.phone}}</span>
    </li>
</ul>
{% endif %}
{% if user.seasonLicence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') %}
    <ul class="block background-ligth">
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Email principal</b></span><span class="col-md-8 col-sx-6">{{ user.mainEmail }}</span>
        </li>
    </ul>
{% endif %}

<ul class="block background-ligth">
    <li class="row">
        <span class="col-md-4 col-sx-6"><b>Type de licence : </b></span><span class="col-md-8 col-sx-6">{{ licence.type|trans}}</span>
        <span class="col-md-4 col-sx-6"><b>Type d'assurance : </b></span><span class="col-md-8 col-sx-6">{{ licence.coverageStr|trans}}</span>
        <span class="col-md-4 col-sx-6"></span><span class="col-md-8 col-sx-6">{{ licence.isVae }}</span>
    </li>
</ul>

{% if user.seasonLicence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') %}
    <ul class="block background-ligth">
        <li class="row">
            <span class="col-md-4 col-sx-6"><b>Autorisation parentale</b></span><span class="col-md-8 col-sx-6">{{ user.getApprovalGoingHome.class.icon|raw }} {{ user.getApprovalGoingHome.message }}</span>
        </li>
    </ul>
{% endif %}