{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width full-background">
        <div class="wrapper-title">
            <h1>Mon compte</h1>
        </div>
        <div class="wrapper-body">
            {% if user.member is not empty %}
                <div class="block background-white">
                    <div class="block-title">
                        <h2>Mes infos</h2>
                    </div>
                    <div class="block-body">
                        <ul>
                            <li><div class="row"><div class="col-md-5"><b>Nom</b></div><div class="col-md-7">{{ user.member.fullName }}</div></div></li>
                            <li><div  class="row"><div class="col-md-5"><b>Adresse</b></div><div class="col-md-7">{{ user.member.address.street }}<br>{{ user.member.address.postalCode }} {{ user.member.address.town }}</div></div></li>
                            <li><div  class="row"><div class="col-md-5"><b>Téléphone</b></div><div class="col-md-7">{{ user.member.phone }}</div></div></li>
                            <li><div  class="row"><div class="col-md-5"><b>Mail</b></div><div class="col-md-7">{{ user.member.email }}</div></div></li>
                            <li><div  class="row"><div class="col-md-5"><b>N° licence</b></div><div class="col-md-7">{{ user.licenceNumber }}</div></div></li>
                            {% if user.health is not empty and user.health.medicalCertificateDate %}
                                <li><div  class="row"><div class="col-md-5"><b>Date du certificat médical</b></div><div class="col-md-7">{{ user.health.medicalCertificateDate }}</div></div></li>
                            {% endif %}
                            {% if user.level is not null %}
                                <li>
                                    <div  class="row">
                                        <div class="col-md-5"><b>{{ constant('App\\Entity\\Level::TYPES')[user.level.type] | trans }}</b></div>
                                        <div class="col-md-7">{{ user.level }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if user.isEndTesting %}
                                <li>
                                    <b>Votre période d'essaie est terminée</b>
                                    <a class="btn btn-primary btn-xs" href="{{ path('user_registration_form', {'step': 1})}}">S'inscrire</a>
                                </li>
                            {% endif %}
                            {% if user.seasonLicence is not empty and user.seasonLicence.status == constant('App\\Entity\\Licence::STATUS_WAITING_VALIDATE') %}
                                <li>
                                    <b>Mon dossier d'inscription</b>
                                    <a class="btn btn-primary btn-xs" href="{{ path('registration_file', {'user': user.id})}}"><i class="fas fa-download"></i> Télécharger</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('change_password') }}">Modifier mon mot de passe</a>
                            </li>
                        </ul>
                    </div>    
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
