{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Mon compte'} %}
{% endblock %}
{% block body %}
    <div class="wrapper wrapper-medium-width">
        <div class="wrapper-title">
            <h1>Mon compte</h1>
        </div>
        <div class="wrapper-body">
            {% if user.member is not empty %}
                <div class="block background-white">
                    <div class="block-title">
                        <h2>Mes infos</h2>
                    </div>
                    <div class="block-body">
                        <ul>
                            <li><div class="row padding-top-5"><div class="col-md-5"><b>Nom</b></div><div class="col-md-7">{{ user.member.fullName }}</div></div></li>
                            <li><div  class="row padding-top-5"><div class="col-md-5"><b>Adresse</b></div><div class="col-md-7">{{ user.member.address.street }}<br>{{ user.member.address.postalCode }} {{ user.member.address.town }}</div></div></li>
                            <li><div  class="row padding-top-5"><div class="col-md-5"><b>Téléphone</b></div><div class="col-md-7">{{ user.member.phonesAnchor|raw }}</div></div></li>
                            <li><div  class="row padding-top-5"><div class="col-md-5"><b>Mail</b></div><div class="col-md-7">{{ user.member.email }}</div></div></li>
                            <li><div  class="row padding-top-5"><div class="col-md-5"><b>N° licence</b></div><div class="col-md-7">{{ user.licenceNumber }}</div></div></li>
                            {% if user.health is not empty and user.health.medicalCertificateDate %}
                                <li><div  class="row padding-top-5"><div class="col-md-5"><b>Date du certificat médical</b></div><div class="col-md-7">{{ user.health.medicalCertificateDate }}</div></div></li>
                            {% endif %}
                            {% if user.level is not null %}
                                <li>
                                    <div  class="row padding-top-5">
                                        <div class="col-md-5"><b>{{ constant('App\\Entity\\Level::TYPES')[user.level.type] | trans }}</b></div>
                                        <div class="col-md-7">{{ user.level.title }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if user.seasonLicence.category == constant('App\\Entity\\Licence::CATEGORY_MINOR') %}
                                <li>
                                    <div class="row padding-top-5">
                                        <div class="col-md-5"><b>Contact principal</b></div>
                                        <div class="col-md-7">{{ user.mainEmail }}</div>
                                    </div>
                                </li>
                            {% endif %}
                            {% if user.isEndTesting %}
                                <li>
                                    <div class="row padding-top-5">
                                        <div class="col-md-5"><b>Votre période d'essaie est terminée</b></div>
                                        <div class="col-md-7">
                                            <a class="btn btn-primary btn-xs" href="{{ path('user_registration_form', {'step': 1})}}">S'inscrire</a>
                                        </div>
                                    </div>
                                    <b></b>
                                </li>
                            {% endif %}
                            <li>
                                <div class="row padding-top-5">
                                    <div class="col-md-5"><b>Dernière licence</b></div>
                                    <div class="col-md-7">{{ user.lastLicence.season }}</div>
                                </div>
                                <b></b>
                            </li>
                            {% if user.seasonLicence is not null and user.seasonLicence.status > constant('App\\Entity\\Licence::STATUS_IN_PROCESSING') %}
                                <li>
                                    <div class="row padding-top-5">
                                        <div class="col-md-5"><b>Mon dossier d'inscription</b></div>
                                        <div class="col-md-7">
                                            <a class="btn btn-primary btn-xs" href="{{ path('registration_file', {'user': user.id})}}"><i class="fas fa-download"></i> Télécharger</a>
                                        </div>
                                    </div>
                                    <b></b>
                                </li>
                            {% endif %}
                            {% if user.seasonLicence is not null and user.seasonLicence.currentSeasonForm %}
                                <li>
                                    <div class="row padding-top-5">
                                        <div class="col-md-5"><b>Mon bulletin d'assurance {{ season_service.currentSeason }}</b></div>
                                        <div class="col-md-7">
                                            <a class="btn btn-primary btn-xs" href="{{ path('coverage_current_season_edit', {'user': user.id})}}"><i class="fas fa-download"></i> Télécharger</a>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>   
                    <div class="block-footer">
                        <a class="btn btn-secondary btn-xs" href="{{ path('change_password') }}">Modifier mon mot de passe</a>
                        <a class="btn btn-secondary btn-xs" href="{{ path('user_change_infos') }}">Modifier une information</a>
                    </div> 
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
