{% extends 'base.html.twig' %}
{% form_theme form '@EWZRecaptcha/Form/v3/ewz_recaptcha_widget.html.twig' %}

{% block title %}Modifier mes infos{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-blue background-color col-content">
        <div is="my-carrousel" class="wrapper-img slider">
            {% for background in content.backgrounds %}
                <picture>
                    <source media="(max-width: 400px)" srcset="/images/background/landscape_xs/{{ background.filename }}">
                    <source media="(max-width: 800px)" srcset="/images/background/landscape_md/{{ background.filename }}">
                    <img src="/images/background/square/{{ background.filename }}" alt="le club">
                </picture>
            {% endfor %}
        </div>
        <div class="wrapper-content">
            <div class="reveal">
                {{ content.content | raw}}
                <br>
                {{ form_start(form) }}
                {{ form_row(form.message) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
