{% extends 'base.html.twig' %}
{% form_theme form '@EWZRecaptcha/Form/v3/ewz_recaptcha_widget.html.twig' %}

{% block title %}Modifier mes infos{% endblock %}

{% block stylesheets %}
    {{ parent()}}
{% endblock %}
{% block body %}
    <div class="wrapper background-blue background-color col-content">
        {{ include('component/carrousel.html.twig') }}
        <div class="wrapper-content">
            <div class="reveal" data-controller="reveal">
                {{ content.content | raw}}
                <br>
                {{ form_start(form) }}
                {{ form_row(form.message) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
