{% extends 'base.html.twig' %}
{% form_theme form 'form/custom_theme.html.twig' %}

{% block title %}{{parent()}} {{ user is not null ? 'Modifer' : 'Crée' }} un utilisateur{% endblock %}

{% block body_title %}
    <h1>{{ user is not null ? 'Modifer' : 'Crée' }} un utilisateur</h1>
{% endblock %}

{% block body %}
    {% include('common/menu.html.twig') %}
    <main id="container" class="index">
        <div>
            {{ form_start(form)}}
            <div class="block x-row">
                <div class="x-content">
                    <div class="form-group">
                        {{ form_label(form.firstName) }}
                        {{ form_widget(form.firstName) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.lastName) }}
                        {{ form_widget(form.lastName) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.email)}}
                        {{ form_widget(form.email)}}
                        <div class="form-errors">{{ form_errors(form.email)}}</div>
                    </div>
                    {% if form.sendActiveLink is defined %}
                        <div class="form-group">
                            {{ form_row(form.sendActiveLink)}}
                        </div>
                    {% endif %}
                </div>
                <div class="x-footer">
                    <button class="btn btn-primary"><i class="fas fa-check"></i> Enregiter</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}
