{{ form_start(form) }}
    <div class="form-group">
        <div class="inputGroup long check">
            {{ form_widget(form.isAgree)}}
            {{ form_label(form.isAgree)}}
        </div>
    </div>
    <div id="secondHandContainer">
        <div class="form-group-inline">
            {{ form_row(form.name) }}
            {{ form_row(form.category) }}
            {{ form_row(form.content) }}
            {{ form_row(form.price) }}
        </div>
        <div class="form-group-inline">
            <ul id="{{ form.images.vars.name }}" class="collection_container"
            data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}" 
            data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                {% for item in form.images %}
                    {{ form_row(item) }}
                {% endfor %}
            </ul>
            <div>
                <button type="button" class="btn btn-secondary add-item-file" data-collection-holder-class="{{ form.images.vars.name }}">
                    <i class="fa-solid fa-file-arrow-up"></i> Ajouter une photo
                </button>            
            </div>
        </div>
        <div class="wrapper-footer">
            {{ form_widget(form.save) }}
        </div>
    </div>
    
{{ form_end(form) }}