{{ form_start(form) }}
    <div class="form-group-inline">
        {{ form_row(form.name) }}
        {{ form_row(form.category) }}
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}
    </div>
    <div class="form-group-inline">
        <img class="second-hand" src="{{ second_hand.pathName }}" alt="{{ second_hand.filename }}"> 
        {{ form_row(form.filename) }}
        
    </div>
    <div class="wrapper-footer">
        {{ form_widget(form.save) }}
    </div>
{{ form_end(form) }}