{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block background %}
    {% include 'background/backgrounds.html.twig' with {'alt': 'Accueil'} %}
{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width background-ligth">
        <div class="wrapper-title">
            <h1>Occasions</h1>
        </div>
        {% if second_hands is not empty %}
        {% include 'common/pagination.html.twig' with {'margin': 'bottom'} %}

        <div class="wrapper-body col-4">
            {% for secondHand in second_hands %}
                <div class="card card-product">
                    <a href="{{ path('second_hand_show', {'secondHand': secondHand.id}) }}">
                        <div class="card-img" style="background-image:url({{ secondHand.pathName }}"></div>
                        <div class="card-body">
                            {{ secondHand.name }}
                            <p>{{ secondHand.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}   
        </div>
        {% include 'common/pagination.html.twig' with {'margin': 'top'} %}
        {% else %}
            <div class="wrapper-body align-center">
                <div class="large"><i class="fa-regular fa-circle-xmark"></i></div>     
                <h2>Aucune annonces en ligne</h2>
            </div>
            <div class="wrapper-footer align-center">
                <a href="{{ path('second_hand_add')}}" class="btn btn-primary mb-20"><i class="fa-solid fa-plus"></i> Déposer votre première annonce</a>
            </div>

        {% endif %}
    </div>
{% endblock %}
