{% extends 'base.html.twig' %}

{% block title %}{{ second_hand.name }}{% endblock %}

{% block body %}
    <div class="wrapper wrapper-medium-width background-ligth">
        <div class="wrapper-title">
            <h1>Occasions</h1>
        </div>
        <div class="wrapper-body">
    <div class="row row-align-top">
        <div class="col-md-5 col-xs-12"> 
            {% for image in second_hand.images %}
                <img class="second-hand mb-20" src="{{ image.path }}" alt="{{ image.filename }}">
            {% endfor %}
        </div>
        <div class="col-md-1 "></div>
        <div class="col-md-6 col-xs-12">
            <h2>{{ second_hand.name }}</h2>
            <br>
            <div class="detail">
                <p>{{ second_hand.createdAt }}</p>
            </div>
            <div class="detail">
                <h3>Descriptif</h3>
                <p>{{ second_hand.content|raw}}<p>
                <p class="price">{{ second_hand.price }}</p>
            </div>
            <div class="detail">
                <h3>Categorie</h3>
                <p>{{ second_hand.category }}<p>
            </div>
            <a class="btn btn-primary" href="{{path('second_hand_message', {'secondHand': second_hand.id})}}" data-toggle="modal" data-type="primary">Contacter le vendeur</a>
        </div>         
    </div>
</div>
    </div>
{% endblock %}