{% extends 'base_email.html.twig' %}

{% block title %}{{parent()}} Activation du compte{% endblock %}

{% block body %}
    <h1>Activation du compte</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Votre compte personnel au site {{ projectName }} vient d'être créé.</p>
    <p>Ce compte, vous permettera de consulter tous les articles du sites, mais également d'en ajouter et de les modifier.</p>
    <p>Pour l'activer, suivez ce <a href="{{ url }}">lien</a> ou copier cette url dans votre navigateur :  {{ url }}</p>
    <p>Bonne navigation !</p>
    
{% endblock %}