{% extends 'base_email.html.twig' %}

{% block title %}{{parent()}} Activation du compte{% endblock %}

{% block body %}
    <h1>Nouveau mot de passe</h1>
    <p>Bonjour {{ user.firstname }},</p>
    <p>Vous avez fait une demande pour renouveller votre mot de passe pour accèder au site {{ projectName }}</p>
    <p>Si vous n'êtes pas à l'origine de cette demande, veuiller consulter l'administrateur du site.</p>
    <p>Pour définir un nouveau mot de passe, suivez ce <a href="{{ url }}">lien</a> ou copier cette url dans votre navigateur :  {{ url }}</p>
    
{% endblock %}