{% extends 'base_email.html.twig' %}

{% block body %}
<p><b>{{ data.subject }}</b></p>

<p>
    <b>Nom : </b>{{ data.name }}<br>
    <b>Prénom : </b>{{ data.firstName }}<br>
    <b>Mail : </b>{{ data.email }}<br>
    {% if data.message is defined %}
        <b>Message : </b><br>{{ data.message }}
    {% endif %}
    {% if data.registration is defined %}
        <a href="{{ data.registration }}">Lien vers le dossier d'inscription</a>
    {% endif %}
    {% if data.order is defined %}
        <a href="{{ data.order }}">Lien vers la commande</a>
    {% endif %}
    {% if data.secondHand is defined %}
        <a href="{{ data.secondHand }}">Lien vers l'annonce</a>
    {% endif %}
    <br>
    {% if data.user is defined %}
        <hr>
        <b>Adhérent connecté</b><br>
        <b>Nom : </b>{{ data.user.member.fullName }}<br>
        <b>Numéro de licence : </b>{{ data.user.licenceNumber }}<br>
        <a href="{{ path('admin_user', {'user': data.user.id}) }}">Lien vers l'adhérent</a>
    {% endif %}
    <br>
</p>
<hr>
{% endblock %}